

.dona-post {
  font-size: 16px;
  color: gray("700");
}

.dona-heading {
  padding-bottom: 10px;
  margin-bottom: 10px;
}


.dona-text {
  font-size: 12px;
  white-space: nowrap;
  @media (max-width: 320px) {
    font-size: 11px;
  }
}



.dona-meta {
}

.dona-avatar {
  margin-right: 12px;
}

.apd-people-item {
  .item-inner {
    padding-right: 0;
  }
}
.dona-heading {
  padding-bottom: 8px;
  margin-bottom: 8px;
}

.dona-process{

}

.dona-list{
  padding-bottom: 10px;
  
  .dona-item:not(:last-child){
    margin-bottom: 10px;
  }
  
}

.dona-hero {
  margin-top: -35px;
}


.dona-avatar {
  margin-right: 12px;
}



.apd-people-item {
  padding-right: 15px;

  .item-inner {
    padding-right: 0;
  }
}

.apd-people {
  font-size: 14px;

  .apd-people-item {
    padding-left: 0;
    padding-right: 0;

    .item-inner {
      padding-right: 0;
    }
  }
}

.apd-people-left {
  min-width: 0;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;

  .name {
  }

  .phone {
    font-size: 12px;
    color: #8f8e94;
  }
}

.apd-people-after {
  white-space: nowrap;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;

  .money {
    font-size: 15px;
  }
}

.apd-payment {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  display: block;

  .apd-payment-item:not(:last-child) {
    margin-right: 10px;
  }
}

.apd-payment-item {
  display: inline-block;
  text-align: center;
  margin-bottom: 0;
  position: relative;
}

.apd-payment-label {
  width: 100%;
  background: rgba(#b0006d, 0.1);
  border-radius: 5px;
  padding: 10px 15px 10px;
  cursor: pointer;
  transition: all 0.4s;
  position: relative;
  display: flex;
  align-items: center;
}

.apd-payment-mo {
  display: block;
  font-size: 15px;
  color: gray("900");
  line-height: 1;
  pointer-events: none;
  user-select: none;
}

.apd-payment-item input[type="radio"] {
  display: none;
}

.apd-payment-item input[type="radio"]:checked ~ .apd-payment-label {
  background: rgba(#b0006d, 0.6);
}

.apd-payment-item
  input[type="radio"]:checked
  ~ .apd-payment-label
  .apd-payment-mo {
  color: rgba(255, 255, 255, 0.9);
}



.dona-status-icon {
  margin-bottom: 15px;
}
.dona-status {
  background-color: #325340;
  min-height: 150px;
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.9);
}

.dona-status-content {
}


.pig-coin {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.pig-coin-num {
  position: absolute;
  z-index: 1;
  bottom: -3px;
  right: -1px;
  font-weight: bold;
  text-shadow: -0.5px 0px #ffffff;
}
