.module {
  height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  margin: 0 auto;
  max-width: 30%;
}

.cashback-grid {
  display: flex;
  flex-flow: row wrap;
  padding: 0 5px;
  width: 100%;
}

.cashback-grid-scroll {
  flex-flow: row nowrap;
  overflow: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: auto;
  margin-right: 10px;
  .cashback-item {
    flex: 0 0 150px;
    width: 150px;
  }
}

.cashback-item {
  flex: 0 0 calc(50% - 10px);
  width: calc(50% - 10px);
  margin: 5px;
  min-width: 0;
  border-radius: 5px;
  overflow: hidden;
  // padding: 10px 5px;
  position: relative;
  background: white;
}

.cashback-item-img {
  position: relative;
}

.cashback-item-content {
  padding: 5px 10px;
  // padding-bottom: 55px;

  z-index: 1;
  position: relative;
  .name {
    margin: 0 0 3px;
    font-weight: normal;
    // min-height: 42px;
    line-height: 1.3;
    @extend .text-truncate;
  }

  .lab {
    // position: absolute;
    // bottom: 22px;
    // left: 0;
    // right: 0;
    // padding: 0 10px;
  }
  .desc {
    font-size: 12px;
    line-height: 16px;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    padding: 5px 10px;

    left: 10px;
    right: 10px;
    margin-bottom: 10px;
    /* bottom: 10px; */
    border-radius: 8px;
    display: flex;
    align-items: center;
    min-height: 42px;
  }

  .desc-text {
    @include text-row(2, 32);
  }

  .loca {
    font-size: 11px;
    padding-top: 2px;
    color: gray("500");
  }
}

.cashback-hori {
  padding: 0 0;
  ul {
    padding: 15px 0px;
    margin: 0;
  }
}

.cashback-hori-item {
  padding: 10px;
  border-radius: 5px;
  background: white;
  // @extend .shadow-sm;
  border: 1px solid gray("300");
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
}

.cashback-item-label {
  display: inline-block;
  padding: 4px 7px;
  line-height: 1;
  border-radius: 4px;
  font-weight: bold;
  color: white;
  font-size: 13px;
  background: #ff6b00;
}

.cashback-hori-img {
  width: 60px;
  // height: 52px;
  // border-radius: 3px;
  // border: 1px solid gray("100");
  // padding: 3px;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
  img {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.cashback-hori-content {
  flex: 1;
  min-width: 0;
  padding: 0 10px;
  .name {
    font-weight: normal;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    color: theme-color("primary");
  }
  .desc {
    font-size: 12px;
    line-height: 16px;
    color: gray("500");
    @include text-row(2, 32);
  }
}

.cashback-hori-number {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px dashed gray("400");
  font-size: 11px;
  line-height: 12px;

  span {
    font-size: 1.4em;
    margin-top: 5px;
    color: theme-color("danger");
  }
}

.location-select {
  padding: 7px 0px;
  cursor: pointer;
}

.location-select-close {
  position: absolute;
  height: 100%;
  top: 0;
  width: 40px;
  z-index: 1;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.cluster {
}

.cluster-more {
  margin-left: 10px;
}

.cluster-sieuto {
  margin-top: 43px;
}

.cluster-sieuto-title {
  margin-bottom: 10px;
  margin-top: -38px;
  position: relative;
}

.sieuto-title {
  height: 55px;
  // line-height: 53.5px;
  // display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
}

.sieuto-title-center {
  background-repeat: repeat-x;
  background-size: auto 100%;
  background-position: center;
  // flex: 1;
  min-width: 0;

  .text {
    height: 55px;
    line-height: 55px;
    color: white;
    padding: 2px 5px 0;
    font-weight: bold;
    // background: #b0046f;
    // height: 30px;
    // line-height: 30px;
    // margin-top: 4px;
  }
  @include media-breakpoint-ip5() {
    border-radius: 5px;
    padding: 0 15px;
    background-image: linear-gradient(to right, #b1307f 0, #db3675 51%, #b5317e 100%) !important;
    .text{
      height: 34px;
      line-height: 34px;
    }
  }
}

.sieuto-title-left {
  @include media-breakpoint-ip5() {
    display: none;
  }
}

.sieuto-title-right {
  @include media-breakpoint-ip5() {
    display: none;
  }
}

.cluster-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
}

.swiper-cashback-hori {
  padding: 0 10px;
  width: 100%;
  .swiper-slide {
    width: 92%;
    max-width: 330px;
  }
}

.modal-cashback-txt strong {
  color: $momo;
  font-size: 1.05em;
  // display: block;
}

.modal-cashback-txt br {
  clear: both;
  // display: none;
  // height: 5px;

}

.modal-cashback-txt div {
  margin-bottom: 2px;
}

.modal-cashback-icon {
}

.cat-type {
  display: flex;
  flex-flow: row wrap;
}

.cat-type-item {
  flex: 0 0 percentage(1/4);
  width: percentage(1/4);
  position: relative;
  min-width: 0;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 10px;
  padding: 0 3px;
}

.cat-type-media {
  width: 50px;
  height: 50px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.07);
  margin: 0 auto;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 7px;
}

.cat-type-name {
  font-size: 13px;
  line-height: 15px;
}
