.cashback-mega-wrapper{
  background: white;
  padding: 25px 0;
  background-size: cover;
  background-attachment: fixed;
}

.cashback-mega-heading{
  // color: white 
  margin-bottom: 5px;
  line-height: 1.4;
  font-weight: bold;
}

.cashback-mega-sub {
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  color: #ae2070;
  margin-bottom: 10px;
  margin-top: -10px;
}




.cashback-mega-title {
  margin-bottom: 10px;
  margin-top: -24px;
  position: relative;
}

.cashback-mega-title .title {
  // min-width: 500px;
  color: #f5e71e;
  background-image: linear-gradient(to right,#b1307f 0,#db3675 51%,#b5317e 100%);
  display: inline-block;
  padding: 7px 15px 7px;
  border-radius: 10px;
  -webkit-box-shadow: 6px 11px 24px -16px rgba(0,0,0,.75);
  box-shadow: 6px 11px 24px -16px rgba(0,0,0,.75);
  font-size: 14px;
  font-weight: 400;
}