.cbs-hero {
  position: relative;
  // padding-bottom: 40px;
  .embed-responsive-img{
    height: 100%;
    object-fit: cover;
  }
}

.cbs-avatar {
  // position: absolute;
  // left: 50%;
  // margin-left: -40px;
  // top: 100%;
  // margin-top: -80px;
}
.cbs-tree {
  padding: 10px 10px;
}

.cbs-post {
  img{
    max-width: 100% !important;
    height: auto !important;
  }
  .btn{
    @extend .button;
  
    height: auto;
    display: inline-block;
    white-space: inherit;
    color: white !important;
    @extend .is-momo;
  }
}

.cbs-nav {
}

.cbs-address-list{
  .item-content{
    min-height: 75px;
  }
}


.cbs-address-list.media-list {
  .item-link .item-inner {
    &:before {
    }
  }

}

/************** 5. Lists *************/

.post-list .item-content .item-media img {
  border-radius: 5px;
}

.post-list .item-title {
  color: gray("900");
  margin: 0px 0 6px;
  font-weight: 600;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  white-space: pre-wrap;
}
.post-list.long-title .item-title {
  -webkit-line-clamp: 3;
}
.post-list .item-subtitle {
  color: gray("500");

  font-size: 12px;
}

.promo-banner {
  padding: 10px;
  border-radius: 17px;
  position: absolute;
  bottom: 16px;
  left: 16px;
  width: calc(100% - 32px);
  margin: 0 0 0 0;
  background: #eaeaec;
  z-index: 100;
}
.promo-banner img {
  width: 50px;
  height: 50px;
  border-radius: 12px;
}
.promo-banner .link-infos {
  flex: 1;
  padding-left: 15px;
}
.promo-banner .link-title {
  color: #000;
  font-size: 17px;
  font-weight: 500;
}
.promo-banner .link-url {
  color: #545454;
  margin-top: 0;
}
.promo-banner .promo-button {
  background: #565664;
  color: #fff !important;
  display: flex;
  padding: 4px 11px;
  border-radius: 30px;
  font-weight: 700;
  font-size: 15px;
}

.page .promo-banner ~ .page-content {
  padding-bottom: 90px;
}

.card-hightlight {
  background: #FFF0DE;
  border-radius: 8px;
}

.cbs-card-heo {
  padding-top: 40px;
  margin-top: 40px;
}

.cbs-card-heo-heading {
  position: absolute;
  width: 302px;
  height: 83px;
  font-size: 16px;
  font-weight: 700;
  padding-top: 10px;

  color: white;
  text-shadow: 0 2px rgba(0, 0, 0, 0.1);
  line-height: 1.3;
  top: -40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  justify-content: center;
  align-items: center;
  display: flex;
}


.sg-promo{
  .sg-promo-item:last-child{
  }
  .sg-promo-item:not(:last-child){
    padding-bottom: 15px;
    margin-bottom: 18px;
    border-bottom: 1px dashed gray("500");
  }
}


.sg-promo-item{
  min-height: 67px;
}


.sg-promo-icon{
  background: white;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  padding: 7px;
  border-radius: 3px;
  overflow: hidden;
  margin-top: 1px;
  margin-right: 12px;
  overflow: hidden;
  float: left;
}
