.vt-dash {
  border-top: 1px dashed gray("500");
  max-width: 200px;
  padding: 10px 0 5px;
}

.vt-cb {
  padding-top: 50px;
  margin-top: 50px;
}

.vt-cb-heading {
  position: absolute;
  width: 302px;
  height: 98px;
  font-size: 14px;
  font-weight: 700;
  padding: 0 20px 7px 75px;
  color: white;
  text-shadow: 0 2px rgba(0, 0, 0, 0.1);
  line-height: 1.3;
  top: -40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  justify-content: center;
  align-items: center;
  display: flex;
}






.desaccordion {
  .card {
    margin-bottom: 7px;
  }
  .card-header {
    background: white;
  }

  .card-header  [aria-expanded="true"] , .card-header .show{
    .svg-inline{
        transform: rotate(180deg);
    }
  }

  .list .item-content{
    padding-left: 0
  }
}

.vt-new {
  display: block;
  // white-space: nowrap;
  // -webkit-overflow-scrolling: auto;
  // overflow-x: auto;
  // overflow-y: hidden;
}


.swiper-vt-new{
  .swiper-slide{
    max-width: 300px;
    height: auto;
  }
  .vt-new-item {
    height: 100%;
   .card{
     height: 100%;
   }
  }
}

.vt-new-desc{
  @include text-row(2,36);
  height: 36px;
  color: gray("600");
}

.price-tag {
  display: inline-block;

  background-color: $momo;
  -webkit-border-radius: 3px 4px 4px 3px;
  -moz-border-radius: 3px 4px 4px 3px;
  border-radius: 3px 4px 4px 3px;

  border-left: 1px solid $momo;

  /* This makes room for the triangle */
  margin-left: 19px;

  position: relative;

  color: white;

  font-size: 12px;
  line-height: 16px;
  width: auto;
  height: 16px;
  padding: 0 4px 0 5px;

  /* Makes the triangle */
  &:before {
    content: "";
    position: absolute;
    display: block;
    left: -8px;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid $momo;
  }
}

.nw {
  .nw-item {
    &:not(:last-child) {
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid gray("300");
    }
  }
}

.nw-item-img {
  width: 140px;
}
