.toolbar {
  height: 60px;
  position: absolute;
  width: 100%;
  margin: 0;
  transform: translate3d(0, 0, 0);
  overflow: hidden;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  z-index: 15;
  left: 0;
  right: 0;
  background: gray("100");
  border-top: 1px solid gray("300");
  bottom: 0;

  margin-right: auto;
  margin-left: auto;
  max-width: 720px;

  &.toolbar-download {
    height: 50px;
    border-top: none;
    overflow: visible;
    background: #f9eced;
    box-shadow: 0 -0.1rem 0.5rem rgba(0, 0, 0, 0.15) !important;

    .toolbar-inner{
      overflow: visible;
    }
  }
}

.app-present-txt{
    line-height: 1.3;
}

.toolbar-inner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  align-content: center;
  overflow: hidden;
  padding: 0 5px 0;
}

.toolbar-btn {
  margin: 0 5px;
}

.toolbar ~ * {
  --des-page-toolbar-offset: 60px;
}

.toolbar.toolbar-download ~ * {
  --des-page-toolbar-offset: 50px;
}

.footer {
  background: #303030;
  // background: gray("800");
  // margin-top: 15px;
  padding: 20px 0;
  color: rgba(255, 255, 255, 0.7);
}

.footer-heading {
  color: white;
  margin-bottom: 10px;
  // font-size: 15px;
  font-size: 14px;
}

.footer-call {
}

// .footer-call-num {
//   // color: $momo2;
//   font-size: 14px;
//   font-weight: bold;
//   // @include hover-focus(){
//   //   color: lighten($momo2, 10%);
//   // }
// }

.footer-call-icon {
  //   @include rfs(35px);
  font-size: 35px;
  margin-right: 10px;
}

.footer-btn-app {
  display: inline-block;
  padding: 3px 10px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.4);
  color: white;
  cursor: pointer;
  @include rfs(16px);
  position: relative;
  transition: all 0.1s ease-in;
  margin-bottom: 10px;

  @include hover-focus() {
    background: rgba(0, 0, 0, 0.2);
  }

  .svg-inline {
    font-size: 1.6em;
    margin-right: 5px;
  }

  &.light {
    background: gray("100");
    padding: 5px 10px;
    color: gray("800");
    border: 1px solid gray("300");
    // color: rgba(0,0,0,0.85);
    margin-bottom: 15px;
    @include hover-focus() {
      background: gray("200");
    }
  }

  .fba-1 {
    font-size: 11px;
  }

  .fba-2 {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    // color: $momo2;
  }
}

.footer-care {
}
.footer-care-txt {
  font-size: 13px;
}

.footer-care-link {
  color: white;
  font-weight: bold;
  &:hover {
    color: $momo2;
  }
}
.footer-social-list {
  .list-inline-item:not(:last-child) {
    margin-right: 10px;
  }
}

.copyright {
  padding: 8px 10px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  background: #3e3e3e;
}


.footer-rating{
  color: gray("800");
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #f6f6f6;
}