

//Lac xi CSS remove 

@keyframes tada {
    0% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }
  
    10%,20% {
        transform: scale3d(.95,.95,.95) rotate(-3deg)
    }
  
    30%,50%,70%,90% {
        transform: scale3d(1.05,1.05,1.05) rotate(3deg)
    }
  
    40%,60%,80% {
        transform: scale3d(1.05,1.05,1.05) rotate(-3deg)
    }
  
    to {
        transform: scaleX(1)
    }
  }
  
  .tada {
    -webkit-animation-name: tada;
    animation-name: tada
  }
  
  .animated {
    animation-duration: 1.2s;
    animation-fill-mode: both
  }
  
  .animated.infinite {
    animation-iteration-count: infinite
  }