$pink: #f45197;
$pinkmomo: #a50064;
$pinkhot: #e81f76;
$pinklight: #f45197;

.navbar-container .svg-icon {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  width: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}

.navbar-container {
  font-size: 15px;
  .svg-icon {
    fill: none;
  }
  .btn {
    @extend .button;
    @extend .rounded;
  }

  .svg-icon {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    width: 1em;
    overflow: visible;
    vertical-align: -0.125em;
  }

  .momo__logo {
    width: 30px;
    height: 30px;
    color: white;
    fill: white;
  }
}

.menu-open {
  overflow: hidden !important;
}

.header-position {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}

.navbar-container {
  box-shadow: inset 0px -1px 0px gray("300");
}

.nav-item {
  position: relative;
  .nav-link {
    position: relative;
  }

  &.is-active.has-dropdown {
    .nav-dropdown__container {
      opacity: 1;
      transform: translate3d(0, 0, 0);
      visibility: visible;
    }

    .svg-icon {
      transform: rotate(180deg);
    }

    .nav-link {
      position: relative;
      &:before {
        opacity: 1;
      }
    }
  }

  .svg-icon {
    transform: rotate(0deg);
    transition: transform 0.2s ease-in;
  }
}

.header__logo {
  background-color: $pinkmomo;
  width: 40px;
  height: 40px;
  // padding-left: 1px;
  // padding-bottom: 1px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 40px;

  @include media-breakpoint-down(sm) {
    margin-left: 15px;
  }
}

.header__container {
  height: 58px;

  .nav-link {
    font-weight: bold;
    height: 58px;
    line-height: 58px;
    white-space: nowrap;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.header__search {
  @include media-breakpoint-down(md) {
    width: 100%;
  }
}

.h-search__wrapper {
}

.h-search__form {
  width: 200px;
  position: relative;

  @include media-breakpoint-down(md) {
    .h-search__input {
      height: 40px;
    }
    width: 100%;
  }
}

.h-search__input {
  background-color: white;
  @include hover-focus() {
    outline: none;
    box-shadow: none;
    border: 1px solid gray("300");
  }
}

.h-search__icon {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  z-index: 1;
  color: gray("500");
}

.h-search__quick {
}

.nav-dropdown__container {
  min-width: 16rem;

  position: absolute;
  z-index: 1000;
  left: 0;
  top: 52px;
  width: 100%;

  visibility: hidden;
  opacity: 0;
  padding-top: 25px;

  // visibility: visible;
  // opacity: 1;

  transform: translate3d(0, 10px, 0);
  transition: opacity 0.1s ease-in, visibility 0.1s ease-in,
    transform 0.1s ease-in;

  will-change: transform, opacity;

  &:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 14px solid white;
    position: absolute;
    top: 12px;
    left: 35px;
    margin-left: -5px;
    pointer-events: none;
    transition: opacity 0.2s ease-in;
  }

  &:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid gray("300");
    position: absolute;
    top: 11px;
    left: 34px;
    margin-left: -5px;
    pointer-events: none;
    transition: opacity 0.2s ease-in;
  }
}

.nav-dropdown {
  background-color: #fff;
  border-radius: 5px;
  width: 100%;

  overflow: hidden;
  position: relative;

  border: 1px solid gray("300");
  box-shadow: 0 1px 24px rgba(45, 62, 80, 0.12);
}

.nav-dropdown__content {
  padding: 15px;
}

.nav-dropdown-wrap {
  width: 100%;
}
.nav-dropdown-sub {
  border-top: 1px solid gray("300");
  background-color: gray("100");
}

.nav-mega__item {
  position: relative;
  width: 100%;
  min-height: 40px;
  margin-bottom: 5px;
  padding: 8px 15px;

  border-radius: 5px;
  &:last-child {
    // margin-bottom: 0;
  }

  @include hover-focus() {
    background-color: rgba($pinkmomo, 0.05);

    .nav-mega__title {
      color: $pinkmomo;
    }
  }
}

.nav-mega__item {
}

.nav-mega__icon {
  width: 38px;
  height: 38px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: gray("100");
  // border-radius: 50%;
  // background-color: rgba($pinkmomo, 0.08);
  img {
    width: 100%;
  }
  position: absolute;
  top: 10px;
  left: 8px;
}

.nav-mega__content {
  margin-left: 44px;
}

.nav-mega__title {
  font-weight: bold;
  color: gray("800");
}

.nav_mega__sub {
  font-size: 12px;
  color: gray("600");
  // @include text-truncate;
}

.nav-maga__more {
  padding-left: 50px;
  position: relative;
  font-size: 12px;
  padding-top: 5px;
  color: gray("700");
  .title {
    color: $primary;
    font-size: 11px;
    font-weight: bold;
  }
  .list {
    li {
      margin-bottom: 3px;
    }
  }
  &:before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 17px;
    width: 7px;
    border-bottom: 2px solid rgba($pinkmomo, 0.4);
    border-left: 2px solid rgba($pinkmomo, 0.4);
    border-radius: 0 0 0 4px;
  }
}

.hamburger {
  box-shadow: none !important;
  outline: none !important;
  line-height: 0 !important;
  cursor: pointer;
  // margin-right: -0.5rem;
}

.mobile-menu__wrap {
  // display: none;
  position: absolute;
  top: 58px;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 0;
  background: #fff;
  box-shadow: inset 0 -1px 0 0 #fff, 0 1px 5px rgba(0, 0, 0, 0.02);
  transition: all 0.5s ease-out, background 1s ease-out;
  transition-delay: 0.2s;
  overflow: hidden;
  -webkit-backdrop-filter: blur(3px);

  &.is-open {
    height: calc(100vh - 58px);

    // height: calc(var(--vh, 1vh) * 100 - 58px);

    transition: all 0.3s ease-in, background 0.5s ease-in;
    transition-delay: 0.3s;
    overflow: hidden;

    .mobile-menu {
      padding-bottom: 70px;

      // a {
      //   opacity: 1;
      //   transition: transform 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99),
      //     opacity 0.9s cubic-bezier(0.4, 0.01, 0.165, 0.99);
      //   transform: scale(1) translateY(0);

      //   &:first-child {
      //     transition-delay: 0.07s;
      //   }
      // }
      // @for $i from 2 through 12 {
      //   a:nth-child(#{$i}) {
      //     transition-delay: ($i * 0.07s);
      //   }
      // }
    }
  }
}

.mobile-menu {
  padding: 0;
  background-color: gray("100");
  max-height: calc(100vh - 48px);
  overflow-y: scroll;

  // h6 {
  //   font-size: 15px;
  //   // margin-left: -33px;
  //   text-transform: uppercase;
  //   font-weight: bold;
  //   color: gray("500");
  //   padding: 5px 15px;
  //   border-bottom: 1px solid gray("200");
  //   margin-bottom: 0;
  // }
  // h6 ~ h6 {
  //   margin-top: 32px;
  // }

  // a {
  //   display: block;
  //   color: gray("700");
  //   font-size: 14px;
  //   min-height: 40px;
  //   display: flex;
  //   align-items: center;
  //   opacity: 0;
  //   transition: transform 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99),
  //     opacity 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  //   transition-delay: 0.4s;
  //   transform: scale(1.1) translateY(-25px);
  //   border-bottom: 1px solid gray("200");

  //   img {
  //     position: absolute;
  //     width: 26px;
  //     left: -35px;
  //     top: 6px;

  //     display: none;
  //   }
  // }

  // @for $i from 2 through 12 {
  //   // @debug(#{14 - $i});
  //   a:nth-child(#{14 - $i}) {
  //     transition-delay: ($i * 0.07s);
  //   }
  // }
}
.mobile-menu__item {
  // padding: 15px;
  background-color: white;
  position: relative;
  &:not(:last-child) {
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      bottom: 0;
      height: 1px;
      left: 0;
      right: 0;
      background: gray("200");
    }
  }
}
.mobile-menu__btn {
  display: block;
  font-weight: bold;
  color: gray("700");
  padding: 12px 15px;
  @include hover-focus() {
    color: gray("700");
  }
  h5 {
    font-size: 18px;
  }
  &[aria-expanded="true"] {
    box-shadow: 0 2px 3px 0px rgba(13, 12, 34, 0.08);
    z-index: 2;
    position: relative;
    .icon {
      transform: rotate(180deg);
    }
  }
}

.mobile-menu__content {
  // border-left: 1px solid gray("200");
  // margin: 10px 0 10px 20px;
  // padding-left: 5px;
  margin-bottom: 0;
  background-color: lighten(gray("100"), 1%);
  padding: 5px 10px;
  display: flex;
  flex-flow: row wrap;
  li {
    flex: 0 0 50%;
    min-width: 0;
    max-width: 50%;

    // &:first-child{
    //   a{
    //     padding-top: 0;
    //   }
    // }

    // &:last-child{
    //   a{
    //     padding-bottom: 0;
    //   }
    // }
    padding: 0 5px;

    a {
      border-bottom: 1px solid gray("200");
      position: relative;

      padding: 10px 0px 10px 24px;
      display: block;
      font-size: 14px;
      color: gray("700");
    }
    .icon {
      position: absolute;
      width: 20px;
      left: 0;
    }

    &:nth-last-child(1) {
      a {
        border-bottom: none;
      }
    }
    &:nth-last-child(2) {
      a {
        border-bottom: none;
      }
    }

    @media (max-width: 320px) {
      a {
        padding: 10px 0px 10px 0;
      }
      .icon {
        display: none;
      }
    }
  }
}

//SE BO DI

.nav-simple__item {
  position: relative;
  padding: 10px 10px;

  @include hover-focus() {
    .nav-mega__title {
      color: gray("900");
    }

    .nav-simple__icon {
      opacity: 1;
    }
  }
}

.nav-simple__icon {
  max-width: 20px;
  max-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  img,
  svg {
    width: 100%;
    height: 20px;
  }
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5px;
  opacity: 0.6;
}

.nav-simple__content {
  margin-left: 30px;
}

.nav-mega__content {
}
.header__search {
  position: relative;
}

.header__search__wrap {
  @include media-breakpoint-down(md) {
    flex-grow: 1;
  }
}

.nav-big__item {
  padding: 10px 15px;
  position: relative;
  border-radius: 5px;

  // @include hover-focus() {
  //   .nav-big__title {
  //     color: $pinkmomo;
  //   }
  // }

  @include hover-focus() {
    background-color: rgba($pinkmomo, 0.05);

    .nav-big__title {
      color: $pinkmomo;
    }
  }
}

.nav-big__title {
  margin-top: 12px;
  font-size: 16px;
  font-weight: bold;
  color: gray("700");
  padding-bottom: 4px;
  transition: all 0.2s ease-in;
}

.nav-big__sub {
  font-size: 13px;
  line-height: 18px;
  color: gray("600");
}

.mobile-menu__download {
  background-color: gray("100");
  padding: 15px 20px;
  font-size: 14px;
  color: gray("700");
  .tt {
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 5px;
  }
  .ll {
    li {
      margin-bottom: 5px;
    }
  }
}

.swiper-app {
  visibility: visible;
  overflow: visible;

  .swiper-slide {
    opacity: 0.5;
    transition: opacity 0.2s ease-in;
  }

  .swiper-slide-active,
  .swiper-slide-next,
  .swiper-slide-next + .swiper-slide {
    opacity: 1;
  }
}
.app__feature__card {
  position: relative;
  padding-bottom: 50px;
}
.app__feature__card___more {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px 20px;
}

.app__connect {
  background: rgba(#ffe9f1, 0.7);
  border-radius: 20px;
  padding: 25px 30px;
  max-width: 1000px;
  margin: 0 auto;
}

//SEARCH QUICK
.search-quick {
  width: 290px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  // box-shadow: 0 4px 16px rgba(20, 23, 28, 0.25);
  @extend .shadow;
  left: 1px;
  right: 1px;
  margin: 0;
  background: white;
  z-index: 10;
  position: absolute;
  top: 100%;

  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #fff;
  border: none;
  min-width: 160px;
  border-radius: 2px;
  max-width: calc(100vw - 30px);
  padding: 0;

  li:first-child {
    margin-top: 5px;
  }
  li:last-child {
    margin-bottom: 5px;
  }

  @include media-breakpoint-down(md){
    width: 100%;
  }

  @include media-breakpoint-down(sm){
    left: -30px;
    width: calc(100% + 60px);
  }
}

.search-quick-item {
  &.is-active {
    .search-quick-link {
      background: #faf4f7;
      color: $pinkmomo;
      strong {
        color: $pinkmomo;
      }
    }
  }
}

.search-quick-link {
  display: block;
  padding: 7px 12px 7px 35px;
  clear: both;
  font-weight: 400;
  line-height: 1.43;
  color: gray("800");
  white-space: nowrap;
  position: relative;
  @extend .text-truncate;
  strong {
    color: gray("900");
    text-transform: capitalize;
  }

  .icon {
    position: absolute;
    left: 11px;
    top: 7px;
    width: 17px;
    opacity: 0.5;
    margin-right: 10px;
  }

  @include hover-focus() {
    background: #faf4f7;
    color: $pinkmomo;
    strong {
      color: $pinkmomo;
    }
  }
}

//FOOTER

.footer {
  background: #303030;
  // background: gray("800");
  padding: 20px 0;
  color: rgba(255, 255, 255, 0.7);
  .footer-btn-app {
    svg {
      fill: white !important;
    }
  }
  .svg-icon {
    fill: none;
  }

  .svg-icon {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    width: 1em;
    overflow: visible;
    vertical-align: -0.125em;
  }

  .momo__logo {
    width: 30px;
    height: 30px;
    color: white;
    fill: white;
  }
}

.footer__logo {
  @include media-breakpoint-down(sm) {
    float: left;
    margin-right: 12px;
  }
}

.footer-heading {
  color: rgba(255, 255, 255, 0.5);
  font-weight: bold;
  margin-bottom: 10px;
  // font-size: 15px;
  @include rfs(13px);

  text-transform: uppercase;
}

.footer-call {
}

.footer-call-num {
  // @include rfs(14px);
  font-size: 14px;

  // color: $pinkhot;
  font-weight: bold;
  color: white;
  // @include hover-focus(){
  //   color: lighten($pinkhot, 10%);
  // }
}

.footer-call-icon {
  @include rfs(35px);
  margin-right: 10px;
}

.footer-btn-app {
  display: inline-block;
  padding: 3px 10px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.4);
  color: white;
  cursor: pointer;
  @include rfs(16px);
  position: relative;
  transition: all 0.1s ease-in;
  margin-bottom: 10px;
  line-height: 1.3;

  @include hover-focus() {
    background: rgba(0, 0, 0, 0.2);
  }

  .svg-icon {
    font-size: 1.6em;
    margin-right: 3px;
  }

  &.light {
    background: gray("100");
    padding: 5px 10px;
    color: gray("800");
    border: 1px solid gray("300");
    // color: rgba(0,0,0,0.85);
    margin-bottom: 15px;
    @include hover-focus() {
      background: gray("200");
    }
  }

  .fba-1 {
    font-size: 11px;
  }

  .fba-2 {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    // color: $pinkhot;
  }
}

.footer-care {
}
.footer-care-txt {
  font-size: 13px;
  line-height: 17px;
}

.footer-care-head {
  font-size: 15px;
  line-height: 19px;
}

.footer-social-list {
  .list-inline-item:not(:last-child) {
    margin-right: 10px;
  }
}

.footer__meta {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 15px;
  padding-top: 20px;
  @include media-breakpoint-down(sm) {
    margin-top: 0;
  }
}

.copyright {
  // padding: 8px 10px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  // background: #3E3E3E;
}




.app-download {
  padding: 0;
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  // background: lighten($pinklight, 8%);
  background: #fcdbe2;
  // background: linear-gradient(to top, #a42067, #e82176); /* Standard syntax */
  // color: white;
  color: gray("800");
  z-index: 99;
  display: block;
  // transform: translate3d(0, 100%, 0);
  will-change: transform;
  transition: transform 0.1s ease-in;
  opacity: 1;
  // &.is-active {
  //   opacity: 1;
  //   transform: translate3d(0, 0, 0);
  //   .headerstrip__banner-dismiss {
  //     visibility: visible;
  //   }
  // }

  .headerstrip__banner-dismiss {
    position: absolute;
    right: 10px;
    top: 0;
    fill: gray("600");
    line-height: 50px;
    visibility: visible;
    svg{
      width: 12px;
    }
  }
  // padding-left: 65px;

  @include media-breakpoint-down(sm) {
    padding-right: 5px;
    .headerstrip__banner-dismiss {
      // right: 0;
      // padding-left: 8px;
      // padding-right: 8px;
      right: 1px;
      top: -10px;
      opacity:1;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: rgba(0, 0, 0, 0.8);
      border: 1px solid rgba(255, 255, 255, 0.3);
      color: rgba(255, 255, 255, 0.7);
      display: block;
      padding: 0;
      display: flex;

      align-content: center;
      justify-content: center;
      svg{
        width: 8px;
        fill: rgba(255, 255, 255, 0.9);
      }
    }
  }
}

// @include media-breakpoint-down(sm) {
//   .app-download {
//     + .footer {
//       padding-bottom: 60px;
//     }
//   }
// }

.app-download__content {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  // padding-right: 95px;
  height: 50px;
  .tt {
    text-align: left;
    font-size: 15px;
    line-height: 17px;
  }

  .app-download__btn {
    margin-left: 15px;
    white-space: nowrap;
    // position: absolute;
    // // cursor: pointer;
    // right: 0;
    // top: 9px;
    .btn{
      border-radius: 3px;
    }
  }

  @include media-breakpoint-down(sm) {
    .tt {
      font-size: 13px;
    }
    .app-download__btn{
      top: 11px;
      .btn{
        font-size: 13px;
      }
    }
  }
}

.app-download__btn {
}
.footstrip__banner-dismiss {
  width: 12px;
  display: block;
  height: 12px;
  background: none;
  border: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 0;
  font: inherit;
  height: 100%;
  line-height: 0;
  cursor: pointer;
  outline: inherit;
  opacity: 0.6;
  padding: 0 7px;
  color: white;
  text-decoration: none;

  z-index: 2;
  fill: white;
}