.htu-list {
  [aria-expanded="true"] {
    .item-after .svg-inline {
      transform: rotate(90deg);
    }
  }
}

.htu-modal-content {
  width: 100%;
  background: #f7f8fa;

  will-change: scroll-position;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  height: 100%;
  position: relative;
  z-index: 1;
  flex: 1;
  // margin-top: -44px;
  // transform: translate3d(0,0,0);
}

.htu-modal-cta {
  padding: 10px 15px;
  .button{
    height: 40px;
  }
}

.htu-modal {
  .modal-content {
    background: #f7f8fa;
  }
}

.htu-slider {
  width: 100%;
  height: 100%;
  // transform: translate3d(0,0,0);
  .swiper-slide {
    position: relative;
  }

  .swiper-pagination-fraction {
    bottom: 0;
    padding: 8px 15px;
    //background: rgba(gray("200"),0.9);
    font-size: 13px;
    color: gray("600");
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  }

  .swiper-button-next,
  .swiper-button-prev {
    background: rgba(0, 0, 0, 0.2);
    width: 38px;
    border-radius: 50%;
    display: block;
    text-align: center;
    line-height: 38px;
    height: 38px;
    color: white;
    font-size: 20px;
    top: 190px;
    @include hover-focus-active() {
      outline: none;
    }
  }
  .swiper-button-next {
    padding-left: 3px;
  }

  .swiper-button-prev {
    padding-right: 3px;
  }
}

.htu-modal-header{
  transform: translate3d(0, 0, 0);
  height: 36px;
  width: 100%;
  background: white;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.htu-modal-title{
  font-weight: bold;
  text-align: center;
  flex: 1;
}

.htu-modal-space{
  width: 95px;
}

.htu-modal-close {
  transform: translate3d(0, 0, 0);
  // position: absolute;
  // width: 34px;
  width: 95px;
  height: 36px;
  padding: 0 10px;

  background: white;
  line-height: 36px;
  text-align: center;
  font-size: 16px;
  // border-radius: 50%;
  z-index: 10;
  text-align: left;
  // margin-top: 5px;
  // margin-bottom: 5px;
  // margin-left: 10px;
  cursor: pointer;
  appearance: none;
  backface-visibility: hidden;
  font-size: 13px;
  color: $blue;
  .svg {
    font-size: 16px;
  }
}

.htu-slider-content {
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  width: 100%;
  will-change: scroll-position;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  height: 100%;
  position: relative;
  z-index: 1;
  // padding-bottom: 30px;
}

.ht-mockup {
  // background: #E5E5E5;
  padding-left: 10px;
  padding-right: 10px;
}

.htu-slider-mockup {
  width: 190px;
  height: 338px;
  margin: 20px auto;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  overflow: hidden;

  @include media-breakpoint-ip5() {
    // width: 200px;
    // height: 324px;
    // margin: 0 auto;

    // padding: 9px 14px 0;
  }
}

.htu-slider-txt {
  background: #ffffff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-top: 15px;
  padding: 10px;

  @include media-breakpoint-ip5() {
    padding: 10px;
    font-size: 14px;
  }
}

.htu-slider-title {
  font-size: 15px;
  margin-bottom: 10px;
}

.htu-slider-body {
  color: gray("600");
}

.popup-button {
  cursor: pointer;
}

.htu-bank {
  display: flex;
  flex-flow: row wrap;
  margin-left: -3px;
  margin-right: -3px;
  overflow: hidden;
  justify-content: center;
  padding: 10px 0;
}

.htu-bank-col {
  flex: 0 0 auto;
  padding: 0 4px;
  text-align: center;
}

.htu-bank-item {
  width: 70px;
  height: 55px;
  position: relative;
  background: white;
  margin: 0 auto 8px;
  border-radius: $border-radius;
  padding: 4px 6px 20px;
  font-size: 11px;
  text-align: center;
  border: 1px solid gray("300");
  div{
    @include text-truncate();
    position: absolute;
    width: 100%;
    bottom: 2px;
    left: 0;
  }
  
  img {
    width: 25px;
    margin-bottom: 4px;
  }
}

//Nếu có topbar thì cho padding top
.topbar ~ .htu-modal-content {
  padding-top: $topbar-height;
}

.htu-mockup {
  height: 320px;
  width: 100%;
  position: relative;
  margin: 10px 0 30px;
}

.htu-mockup-item {
  display: block;
  background: gray("300");
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  background-size: cover;
  background-repeat: no-repeat;
  &.i1 {
    width: 180px;
    height: 320px;
    position: relative;
    margin: 0 auto;
    z-index: 3;
  }

  &.i2{
    width: 120px;
    height: 213px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0); 
    margin-left: -80px;
  }

  &.i3{
    width: 120px;
    height: 213px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    margin-left: 80px;
  }
}
