$pink: #f45197;
$pinkmomo: #a50064;
$pinkhot: #e81f76;
$pinklight: #f45197;

$topbar-height: 58px;

.topbar {
  background: theme-color("momo");
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 500;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-sizing: border-box;
  margin: 0;
  transform: translate3d(0, 0, 0);
  .input {
    height: 34px;
    line-height: 34px;
  }
  .input-group-icon {
    padding-top: 7px;
  }

  &.is-hidden {
    transform: translateY(-100%);
    // transform: translateY(-32px);
  }
}

.topbar-auto-hide {
  background: theme-color("momo");
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.topbar-content {
  height: $topbar-height;
  color: white;
}

.topbar-left {
  width: 55px;
  padding-left: 8px;
}

.topbar-center {
}

.topbar-right {
  width: 55px;
  padding-right: 5px;
}

.topbar-hamburge {
  display: block;
  text-align: center;
  color: white !important;
  font-size: 24px;
  width: 44px;
  margin-left: auto;
  line-height: 0;
}

.topbar ~ * {
  --des-page-navbar-offset: #{$topbar-height};
}

.topbar.topbar-have-location ~ * {
  --des-page-navbar-offset: 89px;
}

.htu-list {
  [aria-expanded="true"] {
    .item-after .svg-inline {
      transform: rotate(90deg);
    }
  }
}

.htu-modal-content {
  // width: 100%;
  background: #f7f8fa;

  // will-change: scroll-position;
  // overflow: auto;
  // -webkit-overflow-scrolling: touch;
  // box-sizing: border-box;
  // height: 100%;
  // position: relative;
  // z-index: 1;
  // flex: 1;
  // margin-top: -44px;
  // transform: translate3d(0,0,0);
}

// .htu-modal-cta {
//   padding: 10px 15px;
//   .button{
//     height: 40px;
//   }
// }

// .htu-modal {
//   .modal-content {
//     background: #f7f8fa;
//   }
// }

.htu-slider {
  // width: 100%;
  // height: 100%;
  // transform: translate3d(0,0,0);
  .swiper-slide {
    position: relative;
  }

  .swiper-pagination-fraction {
    bottom: 0;
    padding: 8px 15px;
    //background: rgba(gray("200"),0.9);
    font-size: 13px;
    color: gray("600");
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  }

  .swiper-button-next,
  .swiper-button-prev {
    // width: 38px;
    border-radius: 50%;
    color: gray;

    top: 190px;
    @include hover-focus-active() {
      outline: none;
    }
  }
  .swiper-button-next {
    padding-left: 3px;
    right: 10px;
  }

  .swiper-button-prev {
    padding-right: 3px;
    left: 10px;
  }
}

.htu-modal-header {
  transform: translate3d(0, 0, 0);
  height: 50px;
  width: 100%;
  background: white;
  border-bottom: 1px solid gray("300");

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.htu-modal-title {
  font-weight: bold;
  text-align: center;
  flex: 1;
}

.htu-modal-space {
  width: 95px;
}

.htu-modal-close {
  transform: translate3d(0, 0, 0);
  // position: absolute;
  // width: 34px;
  width: 95px;
  height: 48px;
  padding: 0 10px;

  background: white;
  line-height: 48px;
  text-align: center;
  font-size: 16px;
  // border-radius: 50%;
  z-index: 10;
  text-align: left;
  // margin-top: 5px;
  // margin-bottom: 5px;
  // margin-left: 10px;
  cursor: pointer;
  appearance: none;
  backface-visibility: hidden;
  // font-size: 13px;
  color: $blue;
  .svg {
    font-size: 16px;
  }
}

.htu-slider-content {
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  width: 100%;
  will-change: scroll-position;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  height: 100%;
  position: relative;
  z-index: 1;
  padding-bottom: 10px;
  // padding-bottom: 30px;
}

.ht-mockup {
  // background: #E5E5E5;
  padding-left: 10px;
  padding-right: 10px;
}

.htu-slider-mockup {
  width: 190px;
  height: 338px;
  margin: 20px auto;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.htu-slider-txt {
  background: #ffffff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-top: 15px;
  padding: 10px;
}

.htu-slider-title {
  font-size: 15px;
  margin-bottom: 10px;
}

.htu-slider-body {
  color: gray("600");
}

.popup-button {
  cursor: pointer;
}

.htu-bank {
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.htu-bank-col {
}

.htu-bank-item {
  cursor: pointer;
}

.htu-bank {
  display: flex;
  flex-flow: row wrap;
  // margin-left: -3px;
  // margin-right: -3px;
  overflow: hidden;
  justify-content: center;
  padding: 10px 0;

  @media only screen and (max-width: 320px) {
    // margin-left: -10px;
    // margin-right: -10px;

    .htu-bank-item {
      width: 52px;
      height: 55px;
    }
    .htu-bank-col {
      padding: 0 2px;
    }
  }
}

.htu-bank-col {
  flex: 0 0 auto;
  padding: 0 4px;
  text-align: center;
}

.htu-bank-item {
  width: 59px;
  height: 55px;
  position: relative;
  background: white;
  margin: 0 auto 8px;
  border-radius: $border-radius;
  padding: 4px 6px 20px;
  font-size: 10px;
  text-align: center;
  border: 1px solid gray("300");
  div {
    @include text-truncate();
    position: absolute;
    width: 100%;
    bottom: 2px;
    left: 0;
  }

  img {
    width: 25px;
    margin-bottom: 4px;
  }
}

//Nếu có topbar thì cho padding top
.topbar ~ .htu-modal-content {
  padding-top: $topbar-height;
}

.modal__header {
  flex-shrink: 0;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid gray("300");
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 50px;
  // @extend .shadow-sm;
}

.modal__nav {
  width: 50px;
}

.modal__nav__btn {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  text-align: center;
  color: gray("900");
  .svg-icon {
    width: 30px;
    height: 30px;
    fill: none;
  }
}

.modal__title {
  width: calc(100% - 100px);
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0;
}

.modal__fullscreen {
  .modal-dialog,
  .modal-content {
    width: 100%;
    height: 100%;
  }

  .modal-dialog {
    margin: 0 auto;
    padding: 0;
  }

  .modal-content {
    box-shadow: none;
    border-radius: 0;
    border: 0;
    // Remove focus outline from opened modal
    outline: 0;
  }

  // When fading in the modal, animate it to slide down
  &.modal.fade .modal-dialog {
    transform: translate(100%, 0);
  }

  &.modal.show .modal-dialog {
    transform: none;
  }

  .modal-dialog-scrollable {
    max-height: 100%;
  }
  .modal-dialog-scrollable .modal-content {
    max-height: 100%;
  }

  .modal-footer {
    padding: 5px;
    // .btn-primary-2 {
    //   @extend .button;
    //   @extend .rounded;
    // }
  }

  @include media-breakpoint-up(sm) {
    .modal-dialog-scrollable .modal-content {
      max-height: 90%;
      top: 5%;
    }
  }
}

.htu-modal {
  .swiper-button-next,
  .swiper-button-prev {
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);

    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    line-height: 1;
    position: absolute;
    touch-action: manipulation;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 1px 1px 1px;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    background: rgb(255, 255, 255);
    svg {
      height: 10px;
      width: 10px;
      fill: currentcolor;
    }

    @include hover-focus() {
      // outline: none;
      // border: 1px solid gray("500");
      // box-shadow: rgba(0, 0, 0, 0.6) 0px 1px 1px 1px;
      box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 0px 1px,
        rgba(255, 255, 255, 0.7) 0px 0px 0px 5px;
    }
  }

  .swiper-button-next {
    right: 2px;
  }

  .swiper-button-prev {
    left: 2px;
  }

  .swiper-button-next.swiper-button-disabled,
  .swiper-button-prev.swiper-button-disabled {
    opacity: 0.7;
    cursor: auto;
    pointer-events: auto;
  }
}
