.search-topbar {
  // position: relative;
}

.search-topbar-input {
}

.search-topbar-result {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 0 10px;

  .dropdown-menu {
    position: static;
    display: block;
    width: 100%;
    margin: 0;
  }

  .dropdown-item{
      padding-right: 5px;
      position: relative;
      padding-left: 30px;
  }

  .icon{
      position: absolute;
      left: 8px;
      top:7px;
      color: gray("500");
  }
}
