.sidebar .topbar ~ .sidebar-content {
  //padding-top: 60px;
}

.sidebar-content {
  // padding: 15px 20px 20px;
}

.sidebar-section {
  padding: 15px 10px;
}

.sidebar-section-title {
  font-size: 11px;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: gray("500");
}



.socials-list{
    font-size: 26px;
    .facebook{
      color: #3b5998;
      @include hover-focus-active(){
        color: #3b5998;
      }
    }
  
    .messenger{
      color: #0084ff;
      @include hover-focus-active(){
        color: #0084ff;
      }
    }
  
    .linkedin{
      color: #0077b5;
      @include hover-focus-active(){
        color: #0077b5;
      }
    }
  
    .youtube{
      color: #ff0000;
      @include hover-focus-active(){
        color: #ff0000;
      }
    }
  
    .normal{
      color: gray("500");
      @include hover-focus-active(){
        color:gray("500");
      }
    }
  }
  