

.swiper-container{

    .swiper-pagination-white .swiper-pagination-bullet {

        background: white;
        opacity: 1;
        background-clip: padding-box;
        border: 1px solid transparent;
        box-sizing: border-box;
    }
    .swiper-pagination-white .swiper-pagination-bullet-active{
        background: $momo;
        border-color:  white;
    }
}
