$topbar-height: 58px;

.topbar {
  background: theme-color("momo");
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 500;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-sizing: border-box;
  margin: 0;
  transform: translate3d(0, 0, 0);
  .input {
    height: 34px;
    line-height: 34px;
  }
  .input-group-icon {
    padding-top: 7px;
  }

  &.is-hidden {
      transform: translateY(-100%);
      // transform: translateY(-32px);
  }
}

.topbar-auto-hide {
  background: theme-color("momo");
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.topbar-content {
  height: $topbar-height;
  color: white;
}

.topbar-left {
  width: 55px;
  padding-left: 8px;
}

.topbar-center {
}

.topbar-right {
  width: 55px;
  padding-right: 5px;
}

.topbar-hamburge {
  display: block;
  text-align: center;
  color: white !important;
  font-size: 24px;
  width: 44px;
  margin-left: auto;
  line-height: 0;
}

.topbar ~ * {
  --des-page-navbar-offset: #{$topbar-height};
}

.topbar.topbar-have-location ~ * {
  --des-page-navbar-offset: 89px;
}
