{% set title = 'Gulp Des Index' %}
{% set page = 'index.html' %}

{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}
{% block toolbar %}

{% endblock %}
{% block popup %}

{{super()}}


{% endblock %}


{% block CSS %}
{{ super() }}
<link rel="stylesheet" href="stylesheets/blog/blog.css">
{% endblock %}


{% block content %}


<!-- HEADER -->
<section class="blog-header">
    <div class="blog-header-content">
        <div class="container">
            <div class="row">
                <div class="col-10 offset-md-1">
                    <div class=" text-center blog-header-ani">

                        <h1 class="blog-header-title ">CEO Ví MoMo Phạm Thành Đức: Hoạt động địa phương nhưng cạnh tranh
                            toàn cầu</h1>


                        <div class="entry-meta align-items-center">
                            <span class="readingTime" title="">

                                <svg class="svg-inline">
                                    <use xlink:href="svg/svg.svg#svg-user"></use>
                                </svg>

                                324 lượt xem</span>
                            <span class="middotDivider"></span>

                            <span>24/10/2019</span>
                            <span class="middotDivider"></span>
                            <a href="blog-archive.html">Mua sắm Online</a>
                        </div>

                        <div class="blog-header-back">
                            <a href="blogs.html">
                                <svg class="svg-inline va-5 ">
                                    <use xlink:href="svg/svg.svg#svg-angle-left"></use>
                                </svg>
                                Quay lại trang Blog
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="blog-header-background"
        style="background-image:url(https://static.mservice.io/blogscontents/momo-upload-api-191021091227-637072459474768694.jpg)">
    </div>
</section>



<main id="content">
    <div class="container">

        <article class="entry-wraper article-content mb-3" id="lightgallery-post">
            <div class="entry-left-col">
                <div class="social-sticky">
                    <a href="#">

                        <svg class="svg-inline ">
                            <use xlink:href="svg/svg.svg#svg-facebook"></use>
                        </svg>

                    </a>
                    <a href="#">
                        <svg class="svg-inline ">
                            <use xlink:href="svg/svg.svg#svg-twitter"></use>
                        </svg>

                    </a>

                </div>
            </div>




            <div class="excerpt mb-4">
                <p>“MoMo đang hoạt động trong một lĩnh vực dù phạm vi chỉ ở tầm địa phương, nhưng cạnh tranh toàn cầu.
                    Rất nhiều ‘đại gia’ sẵn sàng đổ hàng chục triệu đô la để ‘đánh chiếm’ thị trường Việt Nam. Do đó,
                    bài toán quản lý đối với fintech như MoMo là điều mà cơ quan quản lý cần suy nghĩ thận trọng”. Đây
                    là chia sẻ được ông Phạm Thành Đức - CEO Ví MoMo, đưa ra trong phiên thảo luận thứ 3 tại Hội nghị
                    Thượng đỉnh Kinh doanh Việt Nam (VBS) 2019 diễn ra ngày 16/10 tại Hà Nội.
                </p>
            </div>

            <hr class="section-divider">




            <div class="entry-main-content dropcap">

                <p>
                    Hội nghị do Phòng Thương mại và Công nghiệp Việt Nam (VCCI) phối hợp cùng Liên đoàn Kinh tế Nhật Bản
                    (Keidanren) tổ chức dưới sự chỉ đạo của Phó Thủ tướng Chính phủ Vũ Đức Đam với chủ đề "Việt Nam: Đối
                    tác kinh doanh tin cậy trong kỷ nguyên số”. Năm nay, Hội nghị thu hút gần 700 đại biểu là CEO của
                    các doanh nghiệp, tập đoàn trong nước và quốc tế. Bên cạnh đó, Hội nghị còn có các diễn giả khác là
                    các lãnh đạo của bộ ngành, tổ chức quốc tế, học giả và các doanh nghiệp lớn, uy tín.
                </p>
                <div class="text-center">
                    <div><a class="btn btn-primary font-weight-bold btn-animation is-" href="https://momo.vn/thanh-toan-momo-coopmart" target="_blank">Xem ngay Siêu thị Co.op Mart</a></div>
                    </div>
                <p>Với chủ đề <strong>“Việt Nam - Đối tác kinh doanh tin cậy trong Kỷ nguyên Số”</strong>, hội nghị VBS
                    năm nay tập trung thảo luận về những đổi mới khoa học công nghệ. Sự chuyển dịch nguồn nhân lực trong
                    kỷ nguyên số và những cơ hội cho Việt Nam. Qua đó, các diễn giả đã có những thảo luận về xu hướng số
                    hóa trên toàn cầu. Sự tác động của công nghệ đối với các thị trường mới nổi ở Việt Nam cũng như
                    những cơ hội và mô hình kinh doanh mới đang được hình thành.</p>



                <figure class="image">
                    <img src="https://static.mservice.io/blogscontents/momo-upload-api-191021091227-637072459474768694.jpg"
                        alt="Saturn V carrying Apollo 11">

                </figure>


                <h3>
                    CEO Phạm Thành Đức: MoMo đang phải “lội ngược dòng”
                </h3>

                <p>Tại Hội nghị CEO Phạm Thành Đức đại diện Ví điện tử MoMo đã tham gia phiên thảo luận <strong>“Tối ưu
                        hóa cơ hội kinh doanh tại Việt Nam”</strong>. Ngồi phiên thảo luận, ngoài CEO Phạm Thành Đức có
                    sự tham gia của ông Nguyễn Đức Vinh (Tổng Giám đốc VPBank), ông Lương Văn Thanh (Chủ tịch HĐQT, Công
                    ty Thủy sản Việt - Úc) và ông Phan Minh Tâm (Chủ tịch HĐQT, Công ty Đầu tư Công nghệ Giản đơn STI).
                    Phiên 3 do ông Trần Đình Thiên (Nguyên viện trưởng Viện Kinh tế Việt Nam; Thành viên Tổ tư vấn Kinh
                    tế của Thủ tướng) điều phối.
                </p>

                <p>

                    <a id="" class="post-cta " href="#"
                        title="TOP 7 cửa hàng tiện lợi đang thống lĩnh thị trường Việt Nam">
                        <h4>
                            <span class="post-cta-text">TOP 7 cửa hàng tiện lợi đang thống
                                lĩnh thị trường Việt Nam</span>
                        </h4>
                    </a>

                </p>







                <p>
                    Sau gần 2 năm triển khai, PVOIL đã hoàn thiện phương thức <a href="">thanh toán điện tử</a> cho
                    khách hàng mua xăng dầu. Đến nay, PVOIL đã kết nối thành công với nhiều ứng dụng thanh toán điện tử,
                    mở ra cơ hội tiếp cận hàng chục triệu khách hàng đang hướng đến thói quen thanh toán không dùng tiền
                    mặt.
                </p>

                <figure class="image">
                    <img src="https://static.mservice.io/blogscontents/momo-upload-api-191021090542-637072455423144938.jpg"
                        alt="Saturn V carrying Apollo 11">
                    <figcaption>Phiên 3 với chủ đề “Tối ưu hóa cơ hội kinh doanh tại Việt Nam” do ông Trần Đình Thiên,
                        Nguyên viện trưởng Viện Kinh tế Việt Nam, Thành viên Tổ tư vấn Kinh tế của Thủ tướng điều phối
                    </figcaption>
                </figure>


                <p>

                    MoMo khởi đầu không phải là Ví điện tử mà chỉ là đơn vị phân phối các dịch vụ thẻ cào cho nhà mạng.
                    Thời điểm này các hành lang pháp lý về thanh toán di động, ví điện tử hầu như chưa có và MoMo phải
                    làm việc với NHNN, đề xuất ra những mô hình kinh doanh đầu tiên cho thị trường “quá trình này cũng
                    mất rất nhiều thời gian, chừng độ 6, 7 năm”, ông Đức cho biết.
                </p>


                <p>
                    Câu chuyện thanh toán điện tử ngày nay dần trở nên quen thuộc hơn. Cụ thể, Chính phủ đã có nghị
                    quyết 02 về thúc đẩy thanh toán ko tiền mặt, MoMo là một fintech cung cấp dịch vụ Ví điện tử cũng
                    đang nằm trong nỗ lực này. CEO MoMo cho biết, là một doanh nghiệp do 100% các nhà sáng lập Việt Nam
                    tạo ra, thách thức lớn nhất mà MoMo gặp phải là làm sao xây dựng một sản phẩm cho chính người Việt
                    Nam, thu hút người Việt Nam, loại trừ tâm lý ‘sính ngoại’ để người dân sử dụng sản phẩm do người
                    Việt làm.
                </p>

                <p>
                    Bàn về những trở ngại khách quan về mặt điều hành, theo ông Đức bài toán về quản lý nhà nước đối với
                    fintech như MoMo là điều mà cơ quan quản lý cần suy nghĩ thận trọng. Dù Fintech liên quan đến hoạt
                    động của ngành tài chính ngân hàng. Tuy nhiên, bên cạnh những rủi ro cần quản lý về mặt vĩ mô, nếu
                    nhà điều hành siết quá chặt hoặc có những quy định không phù hợp thì sẽ bóp chết các fintech
                    <i><mark>
                            “Những quy định về hạn chế room ngoại theo tôi là bài toán rất lớn để các anh ở NHNN phải
                            suy nghĩ. Làm sao đủ thông thoáng vừa kiểm soát được. Nếu làm không khéo thì những doanh
                            nghiệp như MoMo sẽ gặp rất nhiều khó khăn”
                        </mark></i> , ông Đức bày tỏ.
                </p>


                <blockquote>
                    Phó Thủ Tướng Vũ Đức Đam: Chính phủ sẽ coi khó khăn của doanh nghiệp, nhà đầu tư nước ngoài là khó
                    khăn của chính mình
                </blockquote>



                <p>
                    Sau khi lắng nghe ý kiến đóng góp từ chuyên gia và các doanh nghiệp tại Hội nghị, Phó Thủ tướng
                    Chính phủ Vũ Đức Đam đã có bài phát biểu kết luận. Phó Thủ tướng một lần nữa khẳng định quyết tâm
                    của Chính phủ trong việc cải thiện môi trường kinh doanh, nâng cao khả năng thu hút đầu tư của Việt
                    Nam.
                </p>



                <h2>1.&nbsp;Hoàn tiền 50% lên đến 4 lần chỉ trong 1 ngày 1/11</h2>
                <p>
                    Mỗi người dùng sẽ được nhận tối đa đến 4 lần hoàn tiền trong ngày 1/11 với lựa chọn hoàn tiền vô
                    cùng phong phú. 4 ưu đãi hoàn tiền gồm: nhóm mua sắm, ăn uống tại siêu thị, chuỗi cửa hàng; nhóm cửa
                    hàng cà phê; nhóm cây xăng và bệnh viện. Ở từng nhóm ưu đãi hoàn tiền, người dùng lựa chọn 1 trong
                    các cửa hàng tham gia ngày hội để thanh toán bằng MoMo và nhận ngay tiền hoàn vào Heo đất MoMo
                </p>
                <h3>Ở nhóm hoàn tiền 1</h3>
                <p>
                    Người dùng lựa chọn nhận siêu hoàn tiền 50% tại một trong các điểm bán hàng của siêu thị (Co.opmart,
                    LOTTE Mart…), cửa hàng tiện lợi (Circle K, Ministop, GS25…), cà phê, trà sữa, thức ăn nhanh,... với
                    mức hoàn tiền tối đa từ 30.000 đồng đến 100.000 đồng. Siêu hoàn tiền 50% được tự động áp dụng khi
                    người dùng mở Ví MoMo, chọn Mã thanh toán hoặc Quét mã QR tại một trong các điểm bán của đối tác
                    trong chương trình.
                </p>


                <h3>
                    Đối tượng nhận ưu đãi
                </h3>
                <ul>
                    <li>
                        Là khách hàng có tài khoản ví MoMo đã liên kết ngân hàng với MoMo
                    </li>
                    <li>
                        Khách hàng ĐÃ hoặc CHƯA từng giới thiệu MoMo thành công
                    </li>
                    <li>
                        Khách hàng không tham gia chương trình Đối tác giới thiệu MoMo và Cộng tác viên giới thiệu MoMo.
                    </li>
                </ul>
                <p>
                    <i>
                        Lưu ý: Ưu đãi chương trình KHÔNG ÁP DỤNG đối với luồng chia sẻ link giới thiệu
                    </i>
                </p>


                <h1 class="text-center text-primary">MoMo Blog Typography</h1>

                <p><strong>Text bold</strong></p>


                <h1>Heading One <code>&lt;h1&gt;</code> </h1>
                <h2>Header two <code>&lt;h2&gt;</code></h2>
                <h3>Header three <code>&lt;h3&gt;</code></h3>
                <h4>Header four <code>&lt;h4&gt;</code></h4>
                <h5>Header five <code>&lt;h5&gt;</code></h5>
                <h6>Header six <code>&lt;h6&gt;</code></h6>
                <hr>
                <h2>Blockquotes</h2>
                <p>Single line blockquote:</p>
                <blockquote>
                    <p>Stay hungry. Stay foolish.</p>
                </blockquote>
                <p>Multi line blockquote with a cite reference:</p>
                <blockquote cite="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/blockquote">
                    <p>The <strong>HTML <code>&lt;blockquote&gt;</code> Element</strong> (or <em>HTML Block Quotation
                            Element</em>) indicates that the enclosed text is an extended quotation. Usually, this is
                        rendered visually by indentation (see <a
                            href="https://developer.mozilla.org/en-US/docs/HTML/Element/blockquote#Notes">Notes</a> for
                        how to change it). A URL for the source of the quotation may be given using the
                        <strong>cite</strong> attribute, while a text representation of the source can be given using
                        the <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/cite"
                            title="The HTML Citation Element <cite> represents a reference to a creative work. It must include the title of a work or a URL reference, which may be in an abbreviated form according to the conventions used for the addition of citation metadata."><code>&lt;cite&gt;</code></a>
                        element.</p>
                </blockquote>



                <p><cite>multiple contributors</cite> – MDN HTML element reference – blockquote</p>
                <h2>Tables</h2>

                <table border="1">
                    <tbody>
                        <tr>
                            <td style="background-color: rgb(174, 32, 112); text-align: center;"><span
                                    style="color:#FFFFFF;">Loại thẻ quà</span></td>
                            <td style="background-color: rgb(174, 32, 112); text-align: center;"><span
                                    style="color:#FFFFFF;">Giá trị (vnđ)</span></td>
                            <td style="background-color: rgb(174, 32, 112); text-align: center;"><span
                                    style="color:#FFFFFF;">Số lượng</span></td>
                            <td style="background-color: rgb(174, 32, 112); text-align: center;"><span
                                    style="color:#FFFFFF;">Hạn sử dụng</span></td>

                        </tr>
                        <tr>
                            <td>Đa năng thanh toán mọi dịch vụ</td>
                            <td style="text-align: center;">100,000</td>
                            <td style="text-align: center;">1</td>
                            <td style="text-align: center;">30 ngày</td>
                        </tr>
                        <tr>
                            <td>Điện, Nước, Internet, Truyền hình cáp, Phí chung cư</td>
                            <td style="text-align: center;">50,000</td>
                            <td style="text-align: center;">1</td>
                            <td style="text-align: center;">30 ngày</td>
                        </tr>
                        <tr>
                            <td>Vay trả góp, Bảo hiểm</td>
                            <td style="text-align: center;">50,000</td>
                            <td style="text-align: center;">1</td>
                            <td style="text-align: center;">30 ngày</td>
                        </tr>
                        <tr>
                            <td>Giảm 50% mua sắm tại siêu thị, cửa hàng tiện lợi</td>
                            <td style="text-align: center;">50%</td>
                            <td style="text-align: center;">1</td>
                            <td style="text-align: center;">30 ngày</td>
                        </tr>
                        <tr>
                            <td>Google Play, Spotify</td>
                            <td style="text-align: center;">50,000</td>
                            <td style="text-align: center;">1</td>
                            <td style="text-align: center;">30 ngày</td>
                        </tr>
                        <tr>
                            <td>Vé máy bay</td>
                            <td style="text-align: center;">100,000</td>
                            <td style="text-align: center;">1</td>
                            <td style="text-align: center;">30 ngày</td>
                        </tr>

                    </tbody>
                </table>
                <table>
                    <thead>
                        <tr>
                            <th>Employee</th>
                            <th>Salary</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th><a href="http://example.org/">John Doe</a></th>
                            <td>$1</td>
                            <td>Because that’s all Steve Jobs needed for a salary.</td>
                        </tr>
                        <tr>
                            <th><a href="http://example.org/">Jane Doe</a></th>
                            <td>$100K</td>
                            <td>For all the blogging she does.</td>
                        </tr>
                        <tr>
                            <th><a href="http://example.org/">Fred Bloggs</a></th>
                            <td>$100M</td>
                            <td>Pictures are worth a thousand words, right? So Jane x 1,000.</td>
                        </tr>
                        <tr>
                            <th><a href="http://example.org/">Jane Bloggs</a></th>
                            <td>$100B</td>
                            <td>With hair like that?! Enough said…</td>
                        </tr>
                    </tbody>
                </table>

                <h2>Unordered Lists (Nested)</h2>
                <ul>
                    <li>List item one
                        <ul>
                            <li>List item one
                                <ul>
                                    <li>List item one</li>
                                    <li>List item two</li>
                                    <li>List item three</li>
                                    <li>List item four</li>
                                </ul>
                            </li>
                            <li>List item two</li>
                            <li>List item three</li>
                            <li>List item four</li>
                        </ul>
                    </li>
                    <li>List item two</li>
                    <li>List item three</li>
                    <li>List item four</li>
                </ul>
                <h2>Ordered List (Nested)</h2>
                <ol start="8">
                    <li>List item one -start at 8
                        <ol>
                            <li>List item one
                                <ol reversed="reversed">
                                    <li>List item one -reversed attribute</li>
                                    <li>List item two</li>
                                    <li>List item three</li>
                                    <li>List item four</li>
                                </ol>
                            </li>
                            <li>List item two</li>
                            <li>List item three</li>
                            <li>List item four</li>
                        </ol>
                    </li>
                    <li>List item two</li>
                    <li>List item three</li>
                    <li>List item four</li>
                </ol>

                <h2>HTML Tags</h2>

                <p>These supported tags come from the WordPress.com code <a title="Code"
                        href="https://en.support.wordpress.com/code/">FAQ</a>.</p>


                <p><strong>Address Tag</strong></p>


                <address>1 Infinite Loop<br>
                    Cupertino, CA 95014<br>
                    United States</address>


                <p><strong>Anchor Tag (aka. Link)</strong></p>
                <p>This is an example of a <a title="WordPress Foundation"
                        href="https://wordpressfoundation.org/">link</a>.</p>

                <p><strong>Abbreviation Tag</strong></p>


                <p>The abbreviation <abbr title="Seriously">srsly</abbr> stands for “seriously”.</p>

                <p><strong>Acronym Tag (<em>deprecated in HTML5</em>)</strong></p>
                <p>The acronym <acronym title="For The Win">ftw</acronym> stands for “for the win”.</p>
                <p><strong>Big Tag</strong> (<em>deprecated in HTML5</em>)</p>
                <p>These tests are a <big>big</big> deal, but this tag is no longer supported in HTML5.</p>
                <p><strong>Cite Tag</strong></p>
                <p>“Code is poetry.” —<cite>Automattic</cite></p>


                <p><strong>Delete Tag</strong></p>
                <p>This tag will let you <del cite="deleted it">strike out text</del>, but this tag is
                    <em>recommended</em> supported in HTML5 (use the <code>&lt;s&gt;</code> instead).</p>
                <p><strong>Emphasize Tag</strong></p>
                <p>The emphasize tag should <em>italicize</em> <i>text</i>.</p>
                <p><strong>Horizontal Rule Tag</strong></p>
                <hr>
                <p>This sentence is following a <code>&lt;hr /&gt;</code> tag.</p>
                <p><strong>Insert Tag</strong></p>
                <p>This tag should denote <ins cite="inserted it">inserted</ins> text.</p>



                <p><strong>Quote Tag</strong> for short, inline quotes</p>
                <p><q>Developers, developers, developers...</q> --Steve Ballmer</p>


                <p><strong>Strike Tag</strong> (<em>deprecated in HTML5</em>) and <strong>S Tag</strong></p>
                <p>This tag shows <strike>strike-through</strike> <s>text</s>.</p>
                <p><strong>Small Tag</strong></p>
                <p>This tag shows <small>smaller<small> text.</small></small></p>
                <p><strong>Strong Tag</strong></p>
                <p>This tag shows <strong>bold<strong> text.</strong></strong></p>
                <p><strong>Subscript Tag</strong></p>
                <p>Getting our science styling on with H<sub>2</sub>O, which should push the "2" down.</p>
                <p><strong>Superscript Tag</strong></p>
                <p>Still sticking with science and Albert Einstein's E = MC<sup>2</sup>, which should lift the 2 up.</p>
                <p><strong>Teletype Tag </strong>(<em>obsolete in HTML5</em>)</p>
                <p>This rarely used tag emulates <tt>teletype text</tt>, which is usually styled like the
                    <code>&lt;code&gt;</code> tag.</p>
                <p><strong>Underline Tag</strong> <em>deprecated in HTML 4, re-introduced in HTML5 with other
                        semantics</em></p>
                <p>This tag shows <u>underlined text</u>.</p>
                <p><strong>Variable Tag</strong></p>
                <p>This allows you to denote <var>variables</var>.</p>

            </div>

            <div class="entry-bottom">
                <div class="tags-wrap heading">

                    <img src="https://static.mservice.io/images/s/momo-upload-api-191028170724-637078792445048220.png"
                        width="20" class="mr-2" alt="">

                    <span class="tags">
                        <a href="#" rel="tag">Quán cà phê vintage</a>
                        <a href="#" rel="tag">Cà phê Hà nội</a>
                        <a href="#" rel="tag">Best Lucian</a>
                        <a href="#" rel="tag">Best Azir</a>
                    </span>
                </div>
            </div>

        </article>
        <!--entry-content-->

        <!--Begin post related-->
        <div class="related-posts ">
            <hr>
            <div class="cluster ">
                <div class="row no-gutters align-items-center mb-4 pt-2">
                    <div class="col">
                        <div class="cluster-title">
                            Bài viết cùng chuyên mục
                        </div>
                    </div>

                    <div class="col-auto">
                        <a href="" class="cluster-more">
                            Xem tất cả

                            <span class="lutie-8 va15">
                                <svg class="svg-inline ">
                                    <use xlink:href="svg/svg.svg#svg-angle-right"></use>
                                </svg>
                            </span>
                        </a>
                    </div>
                </div>



                <div class="cluster-content ">
                    <div class="swiper-container vt-new swiper-vt-new">
                        <div class="swiper-wrapper">
                            {% for item in blogs %}
                            <div class="swiper-slide">

                                <article class=" blog-feature2 mb-0">
                                    <div class="">
                                        <figure class="blog-feature2-img">
                                            <a href="blog-single.html">
                                                <div class="embed-responsive embed-responsive-blog rounded-img-blog">
                                                    <img src="{{item.image}}"
                                                        class="embed-responsive-img" alt="">
                                                </div>
                                            </a>
                                        </figure>
                                        <div class="entry-content ">
                                            <h5 class="entry-title mb-2"><a href="blog-single.html">
                                                    {{item.title}} </a></h5>
                                            <div class="entry-excerpt">
                                                    {{item.desc}}
                                            </div>

                                  

                                        </div>
                                    </div>
                                </article>


                            </div>

                            {% endfor %}
                        </div>
                    </div>


                </div>
            </div>

        </div>
        <!--End post related-->


    </div>
    <!--container-->
</main>






{% endblock %}

{% block javascript %}

{{ super() }}



<script src="js/blogs.js"></script>



<script>
    $(document).ready(function () {



    });
</script>


{% endblock %}