{% set title = 'Gulp Des Index' %}
{% set page = 'index.html' %}

{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}

{% block popup %}

{{super()}}


{% endblock %}


{% block CSS %}
{{ super() }}
<link rel="stylesheet" href="stylesheets/blog/blog.css">
{% endblock %}


{% block content %}





<header class="">
    <div class="container">
        <h1 class="blogs-cat text-center">Mua sắm Online</h1>

        <nav aria-label="breadcrumb " class="">
            <ol class="breadcrumb bg-transparent  justify-content-center">
                <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
                <li class="breadcrumb-item"><a href="blogs.html">Blogs</a></li>
                <li class="breadcrumb-item active" aria-current="page">Data</li>
            </ol>
        </nav>
    </div>

</header>




<main id="content">





    <div class="content-widget">
        <div class="container">
            <div class="row">

                <article class="col-6 blog-feature2">
                    <div class="">
                        <figure class="blog-feature2-img">
                            <a href="blog-single.html">
                                <div class="embed-responsive embed-responsive-blog rounded-img-blog">
                                    <img src="https://static.mservice.io/blogscontents/momo-upload-api-190906101855-637033619359322289.jpg"
                                        class="embed-responsive-img" alt="">
                                </div>
                            </a>
                        </figure>
                        <div class="entry-content ">
                            <h5 class="entry-title mb-2"><a href="blog-single.html">
                                    Thanh toán học phí trên thẻ học đường SSC bằng Ví MoMo</a></h5>
                            <div class="entry-excerpt">
                                Bảo hiểm bệnh Ung thư VBI Hope là nguồn bảo trợ tài chính đắc lực, hỗ trợ kịp
                                thời và toàn...
                            </div>

                            <div class="entry-meta align-items-center">
                                <span class="readingTime" title="">

                                    <svg class="svg-inline">
                                        <use xlink:href="svg/svg.svg#svg-user"></use>
                                    </svg>

                                    324 lượt xem</span>
                                <span class="middotDivider"></span>

                                <span>24/10/2019</span>
                                <span class="middotDivider"></span>
                                <a href="blog-archive.html">Mua sắm Online</a>
                            </div>

                        </div>
                    </div>
                </article>


                <article class="col-6 blog-feature2">
                    <div class=" ">
                        <figure class="blog-feature2-img">
                            <a href="blog-single.html">
                                <div class="embed-responsive embed-responsive-blog rounded-img-blog">
                                    <img src="https://static.mservice.io/blogscontents/s770x370/momo-upload-api-191024090532-637075047328432721.png"
                                        class="embed-responsive-img" alt="">
                                </div>
                            </a>
                        </figure>
                        <div class="entry-content ">
                            <h5 class="entry-title mb-2"><a href="blog-single.html">
                                    TOP 7 cửa hàng tiện lợi đang thống lĩnh thị trường Việt Nam</a></h5>
                            <div class="entry-excerpt">
                                Bảo hiểm bệnh Ung thư VBI Hope là nguồn bảo trợ tài chính đắc lực, hỗ trợ kịp
                                thời và toàn...
                            </div>
                            <div class="entry-meta align-items-center">
                                <span class="readingTime" title="">

                                    <svg class="svg-inline">
                                        <use xlink:href="svg/svg.svg#svg-user"></use>
                                    </svg>

                                    324 lượt xem</span>
                                <span class="middotDivider"></span>

                                <span>24/10/2019</span>
                                <span class="middotDivider"></span>
                                <a href="blog-archive.html">Mua sắm Online</a>
                            </div>

                        </div>
                    </div>
                </article>

                {%for item in blogs %}
                <article class="col-6 blog-feature2">
                    <div class=" ">
                        <figure class="blog-feature2-img">
                            <a href="blog-single.html">
                                <div class="embed-responsive embed-responsive-blog rounded-img-blog">
                                    <img src="{{item.image}}" class="embed-responsive-img" alt="">
                                </div>
                            </a>
                        </figure>
                        <div class="entry-content ">
                            <h5 class="entry-title mb-2"><a href="blog-single.html">
                                    {{item.title}} </a></h5>
                            <div class="entry-excerpt">
                                {{item.desc}}
                            </div>

                            <div class="entry-meta align-items-center">
                                <span class="readingTime" title="">

                                    <svg class="svg-inline">
                                        <use xlink:href="svg/svg.svg#svg-user"></use>
                                    </svg>

                                    324 lượt xem</span>
                                <span class="middotDivider"></span>

                                <span>24/10/2019</span>
                                <span class="middotDivider"></span>
                                <a href="blog-archive.html">Mua sắm Online</a>
                            </div>
                        </div>
                    </div>
                </article>
                {% endfor %}
            </div>

            <div class="text-center">
                <a href="#" class="button is-primary font-weight-bold is-round is-outlined min-200">Xem
                    thêm</a>
            </div>

            <!-- <div class="divider-2"></div> -->
        </div>


        <div class="container pt-3">

            <!--Begin post related-->
            <div class="related-posts ">
                <hr>
                <div class="cluster ">
                    <div class="row no-gutters align-items-center mb-4 pt-2">
                        <div class="col">
                            <div class="cluster-title">
                                    Ăn Uống
                            </div>
                        </div>

                        <div class="col-auto">
                            <a href="" class="cluster-more">
                                Xem tất cả

                                <span class="lutie-8 va15">
                                    <svg class="svg-inline ">
                                        <use xlink:href="svg/svg.svg#svg-angle-right"></use>
                                    </svg>
                                </span>
                            </a>
                        </div>
                    </div>



                    <div class="cluster-content ">
                        <div class="swiper-container vt-new swiper-vt-new">
                            <div class="swiper-wrapper">
                                {% for item in blogs %}
                                <div class="swiper-slide">

                                    <article class=" blog-feature2 mb-0">
                                        <div class="">
                                            <figure class="blog-feature2-img">
                                                <a href="blog-single.html">
                                                    <div
                                                        class="embed-responsive embed-responsive-blog rounded-img-blog">
                                                        <img src="{{item.image}}" class="embed-responsive-img" alt="">
                                                    </div>
                                                </a>
                                            </figure>
                                            <div class="entry-content ">
                                                <h5 class="entry-title mb-2"><a href="blog-single.html">
                                                        {{item.title}} </a></h5>
                                                <div class="entry-excerpt">
                                                    {{item.desc}}
                                                </div>



                                            </div>
                                        </div>
                                    </article>


                                </div>

                                {% endfor %}
                            </div>
                        </div>


                    </div>
                </div>

            </div>
            <!--End post related-->



        </div>
    </div>
    <!--content-widget-->




    <!--content-widget-->
</main>




{% endblock %}

{% block javascript %}

{{ super() }}



<script src="js/blogs.js"></script>



<script>
    $(document).ready(function () {


    });
</script>

{% endblock %}