{% set title = 'Gulp Des Index' %}
{% set page = 'index.html' %}

{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}

{% block popup %}

{{super()}}


{% endblock %}


{% block CSS %}
{{ super() }}
<link rel="stylesheet" href="stylesheets/blog/blog.css">
{% endblock %}


{% block content %}





<header id="header" class="">
    <div class="container">
        <div class="align-items-center w-100">
            <h1 class="blogs-logo text-center navbar-brand"><a href="index.html" class="text-dark">

                    <img src="https://static.mservice.io/images/s/momo-upload-api-191028171229-637078795496909041.png"
                        class="img-fluid" width="120" alt="">

                </a></h1>

            <div class="header-right float-right w-50 d-none">
                <div class="d-inline-flex float-right text-right align-items-center">
                    <ul class="social-network heading navbar-nav d-lg-flex align-items-center">
                        <li><a href="index.html#"><i class="icon-facebook"></i></a></li>
                    </ul>
                    <ul class="top-menu heading navbar-nav w-100 d-lg-flex align-items-center">
                        <li><a href="index.html#" class="btn">Contact</a></li>
                    </ul>
                    <a class="author-avatar" href="index.html#"><img src="images/blogs/author-avata-1.jpg" alt=""></a>
                </div>
                <form action="index.html#" method="get" class="search-form d-lg-flex float-right">
                    <a href="javascript:void(0)" class="searh-toggle">
                        <i class="icon-search"></i>
                    </a>
                    <input type="text" class="search_field" placeholder="Search..." value="" name="s">
                </form>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>


    <nav class="stick text-center blogs-menu">
        
        <div class="container  px-0">
            <div class="menu-primary">
                <ul>
                    <li ><a href="blogs-cat.html">Hot</a></li>

                    <li><a href="blogs-cat.html">Ăn uống</a></li>
                    <li><a href="blogs-cat.html">Du lịch</a></li>
                    <li class="is-active"><a href="blogs-cat.html">Mua sắm Online</a></li>

                </ul>
            </div>
        </div>
    </nav>
</header>



<main id="content">





    <div class="content-widget">
        <div class="container">
            <div class="row">

                <article class="col-6 blog-feature2">
                    <div class="">
                        <figure class="blog-feature2-img">
                            <a href="blog-single.html">
                                <div class="embed-responsive embed-responsive-blog rounded-img-blog">
                                    <img src="https://static.mservice.io/blogscontents/momo-upload-api-190906101855-637033619359322289.jpg"
                                        class="embed-responsive-img" alt="">
                                </div>
                            </a>
                        </figure>
                        <div class="entry-content ">
                            <h5 class="entry-title mb-2"><a href="blog-single.html">
                                    Thanh toán học phí trên thẻ học đường SSC bằng Ví MoMo</a></h5>
                            <div class="entry-excerpt">
                                Bảo hiểm bệnh Ung thư VBI Hope là nguồn bảo trợ tài chính đắc lực, hỗ trợ kịp
                                thời và toàn...
                            </div>

                            <div class="entry-meta align-items-center">
                                <span class="readingTime" title="">

                                    <svg class="svg-inline">
                                        <use xlink:href="svg/svg.svg#svg-user"></use>
                                    </svg>

                                    324 lượt xem</span>
                                <span class="middotDivider"></span>

                                <span>24/10/2019</span>
                                <span class="middotDivider"></span>
                                <a href="blog-archive.html">Mua sắm Online</a>
                            </div>

                        </div>
                    </div>
                </article>


                <article class="col-6 blog-feature2">
                    <div class=" ">
                        <figure class="blog-feature2-img">
                            <a href="blog-single.html">
                                <div class="embed-responsive embed-responsive-blog rounded-img-blog">
                                    <img src="https://static.mservice.io/blogscontents/s770x370/momo-upload-api-191024090532-637075047328432721.png"
                                        class="embed-responsive-img" alt="">
                                </div>
                            </a>
                        </figure>
                        <div class="entry-content ">
                            <h5 class="entry-title mb-2"><a href="blog-single.html">
                                    TOP 7 cửa hàng tiện lợi đang thống lĩnh thị trường Việt Nam</a></h5>
                            <div class="entry-excerpt">
                                Bảo hiểm bệnh Ung thư VBI Hope là nguồn bảo trợ tài chính đắc lực, hỗ trợ kịp
                                thời và toàn...
                            </div>
                            <div class="entry-meta align-items-center">
                                <span class="readingTime" title="">

                                    <svg class="svg-inline">
                                        <use xlink:href="svg/svg.svg#svg-user"></use>
                                    </svg>

                                    324 lượt xem</span>
                                <span class="middotDivider"></span>

                                <span>24/10/2019</span>
                                <span class="middotDivider"></span>
                                <a href="blog-archive.html">Mua sắm Online</a>
                            </div>

                        </div>
                    </div>
                </article>

                {%for item in blogs %}
                <article class="col-6 blog-feature2">
                    <div class=" ">
                        <figure class="blog-feature2-img">
                            <a href="blog-single.html">
                                <div class="embed-responsive embed-responsive-blog rounded-img-blog">
                                    <img src="{{item.image}}" class="embed-responsive-img" alt="">
                                </div>
                            </a>
                        </figure>
                        <div class="entry-content ">
                            <h5 class="entry-title mb-2"><a href="blog-single.html">
                                    {{item.title}} </a></h5>
                            <div class="entry-excerpt">
                                {{item.desc}}
                            </div>

                            <div class="entry-meta align-items-center">
                                <span class="readingTime" title="">

                                    <svg class="svg-inline">
                                        <use xlink:href="svg/svg.svg#svg-user"></use>
                                    </svg>

                                    324 lượt xem</span>
                                <span class="middotDivider"></span>

                                <span>24/10/2019</span>
                                <span class="middotDivider"></span>
                                <a href="blog-archive.html">Mua sắm Online</a>
                            </div>
                        </div>
                    </div>
                </article>
                {% endfor %}
            </div>

            <div class="text-center">
                <a href="#" class="button is-primary font-weight-bold is-round is-outlined min-200">Xem
                    thêm</a>
            </div>
            
            <!-- <div class="divider-2"></div> -->
        </div>
    </div>
    <!--content-widget-->




    <!--content-widget-->
</main>




{% endblock %}

{% block javascript %}

{{ super() }}



<script src="js/blogs.js"></script>



<script>
    $(document).ready(function () {


    });
</script>

{% endblock %}