{% set title = 'Gulp Des Index' %}
{% set page = 'homepage' %}

{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}



{% block content %}

<div class="container px-0">
    <a href="#" class="">
        <img src="https://static.mservice.io/banner/s/momo-upload-api-191014172125-637066704854277743.png"
            class="img-fluid d-block mx-auto" alt="" />
    </a>
</div>
<!-- <div class="cashback-mega-wrapper" style="background-image: url('https://static.mservice.io/cashback/images/bg.jpg')"></div> -->

<div class="cashback-mega-wrapper" style="background-image: url('https://static.mservice.io/cashback/images/bg.jpg')">
    <div class="container">

        <h1 class="cashback-mega-heading text-center text-uppercase">Đại Hội Thanh Toán Momo <strong
                class="text-capitalize text-momo d-block">Hoàn Tiền Khủng 50%</strong></h1>

        <div class="text-center mb-4">
            <img src="https://static.mservice.io/images/s/momo-upload-api-191016145057-637068342571802493.png"
                width="200" class="img-fluid mx-auto d-block" alt="">

        </div>

        <p class="lutie-14">
            Cuối năm tưng bừng mùa mua sắm, Ví MoMo tiên phong với chương trình siêu hoàn tiền 50% áp dụng cho nhiều
            dịch vụ “hot”: thanh toán siêu thị, cửa hàng tiện lợi, ăn uống, đổ xăng, thanh toán viện phí… Đảm bảo mọi
            thanh toán vừa tiện lợi lại siêu “ưng Ví”.

        </p>

        <p class="lutie-14">
            Chỉ trong <strong>01 ngày 1/11/2019</strong>, mỗi khách hàng sẽ được hoàn tiền 50% đến 4 lần cho 4 ưu đãi
            (tối đa 1 lần hoàn
            tiền cho mỗi ưu đãi) với số tiền hoàn lên đến 260.000đ/khách hàng. Đừng bỏ lỡ chương trình hoàn tiền siêu
            khủng này nhé!

        </p>
    </div>
    <div class="container " style="background-color: #ffeff0; margin-bottom: 70px;">

        <div class="cluster cluster-sieuto pb-3  pt-2">
            <div class="text-center">
                <div class="cluster-sieuto-title">
                    <div class="sieuto-title">
                        <div class="sieuto-title-left">
                            <img src="images/home/title-sieuto-left.png" width="87" alt="">
                        </div>

                        <div class="sieuto-title-center"
                            style="background-image: url('images/home/title-sieuto-center.png')">
                            <div class="text text-truncate">
                                Ưu đãi 1 : Ăn chơi mua sắm
                            </div>
                        </div>
                        <div class="sieuto-title-right">
                            <img src="images/home/title-sieuto-right.png" width="47" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="cashback-mega-sub">
                    Hoàn tiền 50% từ 30.000đ - 100.000đ
                </div>
            </div>



            <div class="cluster-content row ">

                {% set cashback1 = [
                        {
                            "img" : "https://img.mservice.io/momo_app_v2/new_version/img/THAO.MAI/190718_IC_CB_Toco.jpg",
                            "name" : "Toco Toco",
                            "content" : "Hoàn lên đến 50% tùy chi nhánh và chỉ áp dụng một số chi nhánh. Click vào để xem chi tiết."
                        },   
                        {
                            "img" : "https://img.mservice.io/momo_app_v2/new_version/img/THAO.MAI/IC_CB_JuiceMe.png",
                            "name" : "Sinh tố nước ép Juice Me",
                            "content" : "Hoàn lên đến 50%"
                        },
                        {
                            "img" : "https://img.mservice.io/momo_app_v2/new_version/img/THAO.MAI/190718_IC_CB_CafeDeBodyfriend.png",
                            "name" : "Café De Bodyfriend",
                            "content" : "Café De Bodyfriend"
                        } 
                    ] %}

                <div class="swiper-container swiper-cashback-hori">
                    <div class="swiper-wrapper">
                        {% for item in range(0,3) %}
                        <div class="swiper-slide">
                            <div class="cashback-hori">
                                {% for item in cashback1 %}
                                <div class="cashback-hori-item">
                                    <a href="single.html" class="link-absolute"></a>

                                    <div class="cashback-hori-img">
                                        <div class="embed-responsive embed-responsive-1by1">
                                            <img data-src="{{ item.img }}" class="embed-responsive-img lazyload" alt="">
                                        </div>
                                    </div>

                                    <div class="cashback-hori-content">

                                        <div class="name text-truncate">
                                            {{ item.name }}
                                        </div>

                                        <div class="desc ">
                                            {{ item.content }}
                                        </div>

                                    </div>

                                    <div class="cashback-hori-value">
                                        <div
                                            class="cashback-hori-number d-flex align-items-center justify-content-center text-center">
                                            <div>
                                                Hoàn tiền
                                                <span class="d-block font-weight-bold">47%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                {% endfor %}
                            </div>

                        </div>

                        {% endfor %}
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>



    <div class="container " style="background-color: #ffeff0; margin-bottom: 70px;">

        <div class="cluster cluster-sieuto pb-3  pt-2">
            <div class="text-center">
                <div class="cluster-sieuto-title">
                    <div class="sieuto-title">
                        <div class="sieuto-title-left">
                            <img src="images/home/title-sieuto-left.png" width="87" alt="">
                        </div>

                        <div class="sieuto-title-center"
                            style="background-image: url('images/home/title-sieuto-center.png')">
                            <div class="text text-truncate">
                                Ưu đãi 2 : Hẹn hò cà phê

                            </div>
                        </div>
                        <div class="sieuto-title-right">
                            <img src="images/home/title-sieuto-right.png" width="47" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="cashback-mega-sub">
                    HOÀN TIỀN 50% TỐI ĐA 30.000Đ
                </div>
            </div>



            <div class="cluster-content row ">

                {% set cashback1 = [
                            {
                                "img" : "https://img.mservice.io/momo_app_v2/new_version/img/THAO.MAI/190718_IC_CB_Toco.jpg",
                                "name" : "Toco Toco",
                                "content" : "Hoàn lên đến 50% tùy chi nhánh và chỉ áp dụng một số chi nhánh. Click vào để xem chi tiết."
                            },   
                            {
                                "img" : "https://img.mservice.io/momo_app_v2/new_version/img/THAO.MAI/IC_CB_JuiceMe.png",
                                "name" : "Sinh tố nước ép Juice Me",
                                "content" : "Hoàn lên đến 50%"
                            },
                            {
                                "img" : "https://img.mservice.io/momo_app_v2/new_version/img/THAO.MAI/190718_IC_CB_CafeDeBodyfriend.png",
                                "name" : "Café De Bodyfriend",
                                "content" : "Café De Bodyfriend"
                            } 
                        ] %}

                <div class="swiper-container swiper-cashback-hori">
                    <div class="swiper-wrapper">
                        {% for item in range(0,3) %}
                        <div class="swiper-slide">
                            <div class="cashback-hori">
                                {% for item in cashback1 %}
                                <div class="cashback-hori-item">
                                    <a href="single.html" class="link-absolute"></a>

                                    <div class="cashback-hori-img">
                                        <div class="embed-responsive embed-responsive-1by1">
                                            <img data-src="{{ item.img }}" class="embed-responsive-img lazyload" alt="">
                                        </div>
                                    </div>

                                    <div class="cashback-hori-content">

                                        <div class="name text-truncate">
                                            {{ item.name }}
                                        </div>

                                        <div class="desc ">
                                            {{ item.content }}
                                        </div>

                                    </div>

                                    <div class="cashback-hori-value">
                                        <div
                                            class="cashback-hori-number d-flex align-items-center justify-content-center text-center">
                                            <div>
                                                Hoàn tiền
                                                <span class="d-block font-weight-bold">47%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                {% endfor %}
                            </div>

                        </div>

                        {% endfor %}
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>


    <div class="container " style="background-color: #ffeff0; margin-bottom: 70px;">

        <div class="cluster cluster-sieuto pb-2  pt-2">
            <div class="text-center">

                <div class="cashback-mega-title">
                    <div class="title">
                        CÁCH THỨC NHẬN ƯU ĐÃ
                    </div>
                </div>

            </div>
        </div>



        <div class=" pb-3">
            <p>
                Đối với khách hàng đang liên kết ngân hàng với MoMo: Chỉ cần vào mục “Ưu đãi” vào ngày 1.11.2019
                &gt;&gt;
                Chọn “Quà của tôi” để kiểm tra ưu đãi và sử dụng.


            </p>

            <p class="">
                Đối với khách hàng chưa liên kết ngân hàng với MoMo: Để sử dụng, vui lòng liên kết với 1 trong 22
                ngân
                hàng đang là đối tác của MoMo.
            </p>

            <div class="htu-mockup">
                <div class="htu-mockup-item i1"
                    style="background-image: url('https://static.mservice.io/img/momo-upload-api-tai-vi-1-190103160624.jpg')">

                </div>
                <div class="htu-mockup-item i2"
                    style="background-image: url('https://static.mservice.io/img/momo-upload-api-2-190103153118.jpg')">
                </div>
                <div class="htu-mockup-item i3"
                    style="background-image: url('https://static.mservice.io/img/momo-upload-api-3-190103153122.jpg')">
                </div>
            </div>

            <div class="text-center">
                <a href="#" data-toggle="modal" data-target="#htu-modal"
                    class="button is-primary font-weight-bold is-round is-outlined min-150">Xem hướng dẫn</a>
            </div>

        </div>

    </div>



    <div class="container " style="background-color: #ffeff0; margin-bottom: 70px;">

        <div class="cluster cluster-sieuto pb-2  pt-2">
            <div class="text-center">

                <div class="cashback-mega-title">
                    <div class="title">
                        CÁCH THỨC THANH TOÁN ĐỂ ĐƯỢC HOÀN TIỀN
                    </div>
                </div>

            </div>
        </div>



        <div id="accordion" class="desaccordion pb-3">

            <div class="card">
                <div class="card-header">
                    <a class="card-link row no-gutters align-items-center" data-toggle="collapse" href="#collapseOne"
                        aria-expanded="true">
                        <div class="col">

                            <span class=" text-dark font-weight-bold">Thanh toán bằng quét mã</span>
                        </div>
                        <div class="col-auto">
                            <svg class="svg-inline ">
                                <use xlink:href="svg/svg.svg#svg-angle-down"></use>
                            </svg>
                        </div>
                    </a>
                </div>

                <div id="collapseOne" class="collapse show" data-parent="#accordion">
                    <div class="card-body">
                        <p>
                            <strong class="d-block"> 1. Chọn “quét mã”</strong>
                            Ở màn hình chính trên ứng dụng MoMo, chọn "QUÉT MÃ" sau đó quét mã QR Code do nhân viên thu
                            ngân cung cấp.
                        </p>
                        <p>
                            <strong class="d-block"> 2. Nhập số tiền cần thanh toán</strong>
                            Nhập số tiền cần thanh toán và bấm "TIẾP TỤC". Ở một số nơi số tiền sẽ được tự động nhập
                            theo hóa đơn cần thanh toán.
                        </p>
                        <p>
                            <strong class="d-block"> 3. Chọn sử dụng thẻ quà</strong>
                            Ở màn hình xác nhận thanh toán trên ứng dụng MoMo, Quý khách bấm vào chữ "CHỌN DÙNG" hoặc
                            "DÙNG NGAY" để áp dụng thẻ quà tặng.
                        </p>
                        <p>
                            <strong class="d-block">4. Kiểm tra và bấm “Xác nhận”</strong>
                            Kiểm tra số tiền được giảm và số tiền còn lại, bấm "XÁC NHẬN" để thanh toán.

                        </p>


                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <a class="card-link row no-gutters align-items-center" data-toggle="collapse" href="#collapseTwo">
                        <div class="col">
                            <span class=" text-dark font-weight-bold">
                                Thanh toán bằng Mã thanh toán
                            </span>
                        </div>
                        <div class="col-auto">
                            <svg class="svg-inline ">
                                <use xlink:href="svg/svg.svg#svg-angle-down"></use>
                            </svg>
                        </div>
                    </a>
                </div>
                <div id="collapseTwo" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        <p>
                            <strong class="d-block">1. Chọn “Mã thanh toán”
                            </strong>
                            Ở màn hình chính trên ứng dụng MoMo, chọn "MÃ THANH TOÁN" và đưa mã này cho thu ngân để
                            thanh toán.
                        </p>
                        <p>
                            <strong class="d-block">2. Thanh toán thành công</strong>
                            Thẻ quà tặng sẽ tự động áp dụng khi thu ngân quét mã thanh toán.
                        </p>
                        <p>
                            <strong class="d-block"> 3. Chọn sử dụng thẻ quà</strong>
                            Ở màn hình xác nhận thanh toán trên ứng dụng MoMo, Quý khách bấm vào chữ "CHỌN DÙNG" hoặc
                            "DÙNG NGAY" để áp dụng thẻ quà tặng.
                        </p>



                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <a class="card-link row no-gutters align-items-center" data-toggle="collapse" href="#collapseThree">
                        <div class="col">
                            <span class=" text-dark font-weight-bold">Thanh toán tại Ví MoMo</span>
                        </div>
                        <div class="col-auto">
                            <svg class="svg-inline ">
                                <use xlink:href="svg/svg.svg#svg-angle-down"></use>
                            </svg>
                        </div>
                    </a>
                </div>
                <div id="collapseThree" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        <p>
                            <strong class="d-block">1. Sử dụng dịch vụ trên ứng dụng MoMo và thanh toán
                            </strong>

                        </p>
                        <p>
                            <strong class="d-block">2. Chọn sử dụng thẻ quà</strong>
                            Ở màn hình xác nhận thanh toán trên ứng dụng MoMo, Quý khách bấm vào chữ "CHỌN DÙNG" hoặc
                            "DÙNG NGAY" để áp dụng thẻ quà tặng.
                        </p>
                        <p>
                            <strong class="d-block"> 3. Kiểm tra và bấm “Xác nhận”</strong>
                            Kiểm tra số tiền được giảm và số tiền còn lại, bấm "XÁC NHẬN" để thanh toán.
                        </p>

                    </div>
                </div>
            </div>
        </div>

    </div>



    <div class="container " style="background-color: #ffeff0; margin-bottom: 70px;">

        <div class="cluster cluster-sieuto pb-2  pt-2">
            <div class="text-center">

                <div class="cashback-mega-title">
                    <div class="title">
                        THỂ LỆ CHƯƠNG TRÌNH
                    </div>
                </div>

            </div>
        </div>



        <div class=" pb-3">

            <h4>
                Đối tượng áp dụng
            </h4>
            <p>
                Để sử dụng thẻ quà, khách hàng cần duy trì liên kết ngân hàng với Ví MoMo
            </p>

            <h4>
                Thời gian áp dụng
            </h4>
            <p>
                Hoàn tiền 50% diễn ra duy nhất ngày 1/11/2019
            </p>
            <h4>
                Quy định về thẻ quà tặng
            </h4>
            <ul class="pl-4 mb-0">
                <li>
                    Số lượt nhận hoàn tiền có hạn và chương trình có thể kết thúc sớm hơn thời gian dự tính.
                </li>

                <li>
                    Mỗi khách hàng chỉ được hoàn tiền 1 lần duy nhất cho mỗi ưu đãi bên trên.
                </li>
                <li>
                    Hoàn tiền 50% áp dụng cho thanh toán đầu tiên trong thời gian diễn ra sự kiện. Sau lượt hoàn tiền
                    này, khách hàng sẽ được áp dụng chương trình hoàn tiền mặc định nếu có của các thương hiệu trên.
                </li>

                <li>
                    Lượt hoàn tiền này không được chuyển nhượng và không có giá trị quy đổi thành tiền mặt.
                </li>
            </ul>

        </div>

    </div>

</div>








{% endblock %}


{% block popup %}
{{super()}}

<!-- Modal -->
<div class="modal fade modal-cashback-detail" id="modalEndCashback11" tabindex="-1" role="dialog" aria-labelledby=""
    aria-hidden="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
        <div class="modal-content" style="height: auto;">

            <div class="modal-body">



                <div class="text-center mt-3">
                    <img src="https://static.mservice.io/images/s/momo-upload-api-191101165817-637082242976212569.png"
                        width="230" class="img-fluid mx-auto" alt="">
                </div>

                <div class="text-center mt-3 px-3 mb-4" style="font-size: 15px; line-height: 1.6;">
                    <strong>Ngày hội MoMo - Siêu hoàn tiền 50%</strong> duy nhất <strong>1/11</strong> đã chính thức
                    khép
                    lại. <br>Ví điện tử MoMo trân trọng cám ơn quý đối tác và hàng triệu người dùng đã yêu mến, tin
                    tưởng và
                    ủng hộ.
                </div>


            </div>
            <div class="modal-footer text-center justify-content-center justify-content-around py-3 ng-scope"
                ng-if="Model.BrandUrl">
                <a href="#" class="button is-primary font-weight-bold is-round is-outlined is-link "
                    data-dismiss="modal"> <svg class="svg-inline va-5 ">
                        <use xlink:href="svg/svg.svg#svg-angle-left"></use>
                    </svg>
                      Trang chủ</a>

                <a href="single-ecommerce.html"
                    class="button is-primary font-weight-bold is-round min-200">Xem ưu đãi hoàn tiền
                    khác</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}


{% block javascript %}

{{super()}}

<script>
    $(document).ready(function () {
        $('#modalEndCashback11').modal('show')

    })
</script>


{% endblock %}