{% set title = 'Gulp Des Index' %}
{% set page = 'index.html' %}

{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}




{% block popup %}

{{super()}}

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
        <div class="modal-content" style="height: 420px">

            <div class="modal-header align-items-center">
                <h3 class="modal-title font-weight-bold" id="">Tìm kiếm</h3>


                <button type="button" class="modal-close-btn close" data-dismiss="modal" aria-label="Close">
                    <svg class="svg-inline ">
                        <use xlink:href="svg/svg.svg#svg-error"></use>
                    </svg>
                </button>


            </div>

            <div class="input-group   bg-light" style="top: 0; z-index: 10; padding: 10px">

                <input type="text" class="input border-0 bg-lightgray" placeholder="Bạn tìm gì">


            </div>



            <div class="modal-body pt-0">



                <div class="cashback-hori">
                    {% for item in range(0,4) %}
                    <div class="cashback-hori-item">
                        <a href="single.html" class="link-absolute"></a>
                        <div class="cashback-hori-img">
                            <div class="embed-responsive embed-responsive-1by1">
                                <img data-src="https://img.mservice.io/momo_app_v2/new_version/img/icon/Cashback_BaskinRobins.png"
                                    class="embed-responsive-img lazyload" alt="">
                            </div>
                        </div>

                        <div class="cashback-hori-content">

                            <div class="name text-truncate">
                                Baskin Robbins
                            </div>

                            <div class="desc text-truncate">
                                Tiệm kem Baskin Robbins
                            </div>

                        </div>

                        <div class="cashback-hori-value">
                            <div
                                class="cashback-hori-number d-flex align-items-center justify-content-center text-center">
                                <div>
                                    Hoàn
                                    <span class="d-block font-weight-bold">47%</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% endfor %}
                </div>



            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="button" data-dismiss="modal">Close</button>
                <button type="button" class="button">Save changes</button>
            </div> -->
        </div>
    </div>
</div>


{% endblock %}



{% block content %}

<div class="container px-0">
    <div class="swiper-container swiper-init home-swiper">
        <div class="swiper-pagination swiper-pagination-white"></div>
        <div class="swiper-wrapper">

            <div class="swiper-slide">

                <div class="embed-responsive embed-responsive-slider">
                    <img data-src="https://static.mservice.io/banner/s780x297/momo-upload-api-190804210617-637005495777805964.jpg"
                        class="swiper-lazy embed-responsive-img" alt="đwdwd" />
                    <div class="preloader swiper-lazy-preloader"></div>
                </div>


            </div>

            <div class="swiper-slide">

                <div class="embed-responsive embed-responsive-slider">
                    <img data-src="https://static.mservice.io/banner/s780x297/nguyen%20kim.jpg"
                        class="swiper-lazy embed-responsive-img" />
                    <div class="preloader swiper-lazy-preloader"></div>
                </div>

            </div>

            <div class="swiper-slide">

                <div class="embed-responsive embed-responsive-slider">
                    <img data-src="https://static.mservice.io/banner/s780x297/cover-ve-may-bay.jpg"
                        class="swiper-lazy embed-responsive-img" />
                    <div class="preloader swiper-lazy-preloader"></div>
                </div>

            </div>

            <div class="swiper-slide">

                <div class="embed-responsive embed-responsive-slider">
                    <img data-src="https://static.mservice.io/banner/s780x297/momo-upload-api-190701155052-636975930528854873.jpg"
                        class="swiper-lazy embed-responsive-img" />
                    <div class="preloader swiper-lazy-preloader"></div>
                </div>

            </div>

        </div>
    </div>

</div>




<div class="container mt-2">


    <div class="row no-gutters flex-nowrap mb-3">
        <div class="col  mr-1">

            <div class="  ">
                <div class="">

                    <div class="input-group btn-group have-arrow-down ">
                        <button class="input dropdown-toggle text-left" type="button" data-toggle="modal"
                            data-target="#modalCashbackCate">

                            <!-- <img src="https://img.mservice.io/momo_app_v2/img/HoangLe/ic_fl_sieu_thi@3x.png"
                                class="mr-1 va-15" width="22" alt=""> -->


                            <img src="https://img.mservice.io/momo_app_v2/img/HoangLe/ic_fl_sieu_thi@3x.png" width="22"
                                class="va-15" alt="">


                            Siêu thị cửa hàng tiện lợi
                        </button>
                    </div>

                </div>

                <div class="payon-menu p-0" id="dropdown-menu" role="menu">
                    <div class="list list-border-0">
                        <ul>
                            {% for item in cashbackCat %}
                            {% if loop.index < 10 %}

                            <li class="{% if loop.index == 1 %} opacity-5 {% endif %}">
                                <a href="#" class="item-content">
                                    <div class="item-media">
                                        <img src="{{item.img}}" width="22" alt="">
                                    </div>
                                    <div class="item-inner">

                                        <div class="item-name">
                                            {{ item.title }}
                                        </div>

                                    </div>
                                </a>
                            </li>

                            {% endif %}
                            {% endfor %}

                        </ul>
                    </div>

                </div>



            </div>



        </div>
        <div class="col-auto">
            <button class="button is-medium text-primary  text-left" type="button" data-toggle="modal"
                data-target="#exampleModalCenter">

                <svg class="svg-inline ">
                    <use xlink:href="svg/svg.svg#svg-search"></use>
                </svg>
            </button>

        </div>
    </div>

    <!-- <h2 class=" text-center lutie-title-1 font-weight-bold mb-2">Ở gần bạn</h2>

    <div class="row mb-3 ">
        <div class="cashback-grid cashback-grid-scroll">

            {% for item in range(0,6) %}
            <div class="cashback-item">
                <a href="single.html" class="link-absolute"></a>

                <div class="cashback-item-img">



                    <div class="embed-responsive embed-responsive-1by1">
                        <img data-src="https://static.mservice.io/placebrand/s/momo-upload-api-190727104525-636998211253642438.jpg"
                            class="embed-responsive-img lazyload" alt="">
                    </div>
                </div>

                <div class="cashback-item-content">
                    <div class="name font-weight-bold">
                        Co.op Smile
                        Co.op Smile
                    </div>

                    <div class="mb-2 lab">
                        <span class="cashback-item-label">
                            Hoàn tiền 10%
                        </span>
                    </div>

                    <div class="desc">
                        Chuỗi cửa hàng
                        bách hoá hiện đại
                    </div>


                </div>
            </div>

            {% endfor %}

        </div>
    </div>

 -->

    <h1 class="text-center lutie-title-1 font-weight-bold mb-1 text-capitalize">
        Cửa hàng tiện lợi
        <br>
        <span class="lutie-12">
            tại TP. Hồ Chí Minh
        </span>
    </h1>
    <div class="text-center mb-2">
        <div class="lutie-sub-1">
            <span class="text-momo">
                Hoàn đến 10%, tối đa 3 GD/ngày
            </span>
        </div>
    </div>


    <div class="card " style="margin-top: 80px">
        <div class="card-body rounded ">
           <div class="" >

              <div class="mb-3" style="margin-top: -70px;">
                 <img
                    src="https://static.mservice.io/images/s/momo-upload-api-200221115558-637178829589911570.png"
                    class="img-fluid d-block mx-auto" alt="" width="230">
              </div>


              <p class=" font-weight-normal  text-center ">

                 Chương trình <strong class="text-primary">Hoàn tiền</strong> của MoMo hiện đang cập nhật nhằm
                 phục vụ khách hàng tốt hơn.
                 Bên cạnh đó, Ví MoMo đang mở rộng đối tác trên khắp cả nước với nhiều lĩnh vực khác nhau giúp
                 khách hàng có thể thanh toán ở bất kì dịch vụ hay thương hiệu nào bằng Ví MoMo.

              </p>

              <p class="mb-2 text-center">
                 <a class="button is-momo is-rounded" href="#">Đăng ký nhận thông tin</a>
              </p>


           </div>
        </div>


     </div>

    <div class="row mb-3  d-none">
        <div class="cashback-grid">

            {% for item in range(0,3) %}
            <div class="cashback-item">
                <a href="single.html" class="link-absolute"></a>

                <div class="cashback-item-img">



                    <div class="embed-responsive embed-responsive-1by1">
                        <img data-src="https://static.mservice.io/placebrand/s/momo-upload-api-190727104525-636998211253642438.jpg"
                            class="embed-responsive-img lazyload" alt="">
                    </div>
                </div>

                <div class="cashback-item-content">
                    <div class="name font-weight-bold">
                        Co.op Smile
                    </div>

                    <div class="mb-2 lab">
                        <span class="cashback-item-label">
                            Hoàn tiền 10%
                        </span>
                    </div>

                    <div class="desc">
                        <div class="desc-text">
                            Chuỗi cửa hàng
                            bách hoá hiện đại
                        </div>
                    </div>

                    <div class="loca  text-truncate">

                        <span class="lutie-12 ">
                            <svg class="svg-inline va-5 ">
                                <use xlink:href="svg/svg.svg#svg-map-marker-alt"></use>
                            </svg>
                        </span>

                        Có 3 địa điểm gần bạn
                    </div>
                </div>
            </div>


            <div class="cashback-item">
                <a href="single.html" class="link-absolute"></a>
                <div class="cashback-item-img">



                    <div class="embed-responsive embed-responsive-1by1">
                        <img data-src="https://static.mservice.io/placebrand/s/momo-upload-api-190610163325-636957812055724497.jpg"
                            class="embed-responsive-img lazyload" alt="">
                    </div>
                </div>

                <div class="cashback-item-content">
                    <div class="name font-weight-bold">
                        Circle K
                    </div>

                    <div class="mb-2 lab">
                        <span class="cashback-item-label">
                            Hoàn tiền 10%
                        </span>
                    </div>

                    <div class="desc">
                        <div class="desc-text">
                            Chuỗi cửa hàng 1
                        </div>
                    </div>


                    <div class="loca  text-truncate">

                        <span class="lutie-12 ">
                            <svg class="svg-inline va-5 ">
                                <use xlink:href="svg/svg.svg#svg-map-marker-alt"></use>
                            </svg>
                        </span>

                        Có 1 địa điểm gần bạn
                    </div>
                </div>
            </div>

            {% endfor %}


            {% for item in range(0,3) %}
            <div class="cashback-item">
                <a href="single.html" class="link-absolute"></a>

                <div class="cashback-item-img">



                    <div class="embed-responsive embed-responsive-1by1">
                        <img data-src="https://static.mservice.io/placebrand/s/momo-upload-api-190727104525-636998211253642438.jpg"
                            class="embed-responsive-img lazyload" alt="">
                    </div>
                </div>

                <div class="cashback-item-content">
                    <div class="name font-weight-bold">
                        Co.op Smile
                    </div>

                    <div class="mb-2 lab">
                        <span class="cashback-item-label">
                            Hoàn tiền 10%
                        </span>
                    </div>

                    <div class="desc">
                        <div class="desc-text">
                            Chuỗi cửa hàng
                            bách hoá hiện đại
                        </div>
                    </div>

                </div>
            </div>


            <div class="cashback-item">
                <a href="single.html" class="link-absolute"></a>
                <div class="cashback-item-img">



                    <div class="embed-responsive embed-responsive-1by1">
                        <img data-src="https://static.mservice.io/placebrand/s/momo-upload-api-190610163325-636957812055724497.jpg"
                            class="embed-responsive-img lazyload" alt="">
                    </div>
                </div>

                <div class="cashback-item-content">
                    <div class="name font-weight-bold">
                        Circle K
                    </div>

                    <div class="mb-2 lab">
                        <span class="cashback-item-label">
                            Hoàn tiền 10%
                        </span>
                    </div>


                    <div class="desc">
                        <div class="desc-text">
                            Chuỗi cửa hàng 2
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}

        </div>
    </div>

    <div class="cashback-hori mt-3">
        {% for item in range(0,10) %}
        <div class="cashback-hori-item">
            <a href="single.html" class="link-absolute"></a>
            <div class="cashback-hori-img">
                <div class="embed-responsive embed-responsive-1by1">
                    <img data-src="https://img.mservice.io/momo_app_v2/new_version/img/icon/Cashback_BaskinRobins.png"
                        class="embed-responsive-img lazyload" alt="">
                </div>
            </div>

            <div class="cashback-hori-content">

                <div class="name text-truncate">
                    Baskin Robbins
                </div>

                <div class="desc text-truncate">
                    Tiệm kem Baskin Robbins
                </div>

                <div>
                    <div class="row no-gutters align-items-center lutie-12 py-1 text-gray ">
                        <div class="col-auto mr-2">
                            <div class="static-rating">
                                <div class="static-rating-item is-active">
                                    <svg class="svg-inline ">
                                        <use xlink:href="svg/svg.svg#svg-star"></use>
                                    </svg>
                                </div>
                                <div class="static-rating-item is-active">
                                    <svg class="svg-inline ">
                                        <use xlink:href="svg/svg.svg#svg-star"></use>
                                    </svg>
                                </div>
                                <div class="static-rating-item is-active">
                                    <svg class="svg-inline ">
                                        <use xlink:href="svg/svg.svg#svg-star"></use>
                                    </svg>
                                </div>
                                <div class="static-rating-item is-active">
                                    <svg class="svg-inline ">
                                        <use xlink:href="svg/svg.svg#svg-star"></use>
                                    </svg>
                                </div>
                                <div class="static-rating-item">
                                    <svg class="svg-inline ">
                                        <use xlink:href="svg/svg.svg#svg-star"></use>
                                    </svg>
                                </div>
                            </div>

                        </div>
                        <div class="col-auto mr-2">
                            13 đánh giá
                        </div>

                    </div>
                </div>

                <div class="lutie-12 text-gray">
                        <svg class="svg-inline ">
                            <use xlink:href="svg/svg.svg#svg-map-marker-alt"></use>
                        </svg>
                        13 cửa hàng gần bạn
                </div>

            </div>

            <div class="cashback-hori-value">
                <div class="cashback-hori-number d-flex align-items-center justify-content-center text-center">
                    <div>
                        Hoàn
                        <span class="d-block font-weight-bold">47%</span>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>





    <div class="cluster  pt-3 mt-3 mb-3">
        <div class="row no-gutters align-items-center mb-3">
            <div class="col">
                <div class="cluster-title text-center">
                    Bạn cần thêm ưu đãi gì?
                </div>
            </div>

        </div>


        <div class="cluster-content ">

            <div class="cat-type ">


                {% for item in cashbackCat %}
                {% if loop.index < 8 %}

                <div class="cat-type-item">
                    <a href="" class="link-absolute"></a>

                    <div class="cat-type-media">
                        <img src="{{item.img}}" width="34" alt="">
                    </div>

                    <div class="cat-type-name">
                        {{ item.title }}
                    </div>

                </div>


                {% endif %}
                {% endfor %}

                <div class="cat-type-item">
                    <a href="#modalCashbackCate" class="link-absolute" data-toggle="modal"></a>

                    <div class="cat-type-media lutie-22 text-primary">

                        <svg class="svg-inline ">
                            <use xlink:href="svg/svg.svg#svg-menu-dot"></use>
                        </svg>

                    </div>

                    <div class="cat-type-name">
                        Xem thêm
                    </div>

                </div>

            </div>




        </div>
    </div>

</div>





{% endblock %}