{% set title = 'Gulp Des Index' %} {% set page = 'index.html' %} {% extends
'layouts/application.html' %} {% import 'macros/helpers.html' as macro %} 
{%
block popup %}

{{ super() }}


<div class="modal fade" id="modalDonationPost" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
        <div class="modal-content" style="">

            <div class="modal-header align-items-center border-0">

                <h3 class="modal-title font-weight-bold" id="">Thông tin</h3>


                <button type="button" class="modal-close-btn close" data-dismiss="modal" aria-label="Close">
                    <svg class="svg-inline ">
                        <use xlink:href="svg/svg.svg#svg-error"></use>
                    </svg>
                </button>


            </div>
            <div class="modal-body">

                <div class="cbs-post ">
                    <p style="text-align:justify">
                        <em
                          >“Khó có ai có thể đứng vững nếu biết trước một ngày không xa
                          mình sẽ không còn tồn tại nữa; khó có ai lạc quan sống khi phải
                          đồng hành cùng căn bệnh ung thư và khó có ai dám nghĩ rằng mình
                          sẽ làm được những việc ý nghĩa trong những tháng ngày còn lại.
                          Nhưng, đối với Lê Thanh Thúy, dẫu biết rằng một ngày không mong
                          đợi sẽ đến, mỗi ngày Thúy vẫn ráng sống thật vui với nụ cười
                          trên môi, vẫn nặng tình với những sẻ chia cùng những người đồng
                          cảnh ngộ và vẫn lạc quan cùng điều ước có một phép màu làm tan
                          biến đi những tế bào ung thư…”</em
                        >
                        Trích trong cuốn “<strong>Xin hãy cho con thêm thời gian</strong>”
                        của <strong>Lê Thanh Thúy.</strong>
                      </p>
                      <p style="text-align:justify">
                        Thúy là biểu tượng cho tinh thần vượt lên số phận để sống trọn vẹn
                        từng ngày. Cô tạo ấn tượng với mọi người bằng hành trình 4 năm đấu
                        tranh với căn bệnh ung thư vô cùng quyết liệt, bằng nụ cười luôn
                        nở trên môi tới tận lúc từ trần. Trong 4 năm ấy cô đã tham gia
                        nhiều&nbsp;tổ chức và hoạt động cho các bệnh nhi ung thư.&nbsp;
                      </p>
                      <p style="text-align:justify">
                        Chuyện về <strong>Lê Thanh Thúy</strong> không chỉ đơn thuần là
                        câu chuyện của một bạn trẻ tiêu biểu với mong muốn, khát khao sống
                        mãnh liệt, lại phải chống chọi với căn bệnh quái ác. Mà đó còn là
                        những bài học quý báu về nghị lực và sự lạc quan trong cuộc
                        sống.&nbsp;
                      </p>
                      <p style="text-align:justify">
                        <strong>"Ước mơ của Thúy"</strong> là chương trình được thành lập
                        bởi <strong>báo Tuổi Trẻ</strong> tiếp nối nguyện vọng của cô nhằm
                        gây quỹ và hỗ trợ các bệnh nhi ung thư, không chỉ về vật chất mà
                        quan trọng hơn là những giá trị tinh thần, giúp các em vơi đi nỗi
                        đau và tiếp tục nỗ lực phấn đấu vượt qua số phận.
                      </p>
                      <p style="text-align:justify">
                        Hoạt động chính của quỹ bao gồm: Chúc mừng sinh nhật, tặng quà ước
                        nguyện, hỗ trợ kinh phí điều trị bệnh, ngày hội hoa hướng dương
                        “Vì bệnh nhi ung thư”…
                      </p>
                </div>

            </div>
            <!-- <div class="modal-footer">
                    <button type="button" class="button" data-dismiss="modal">Close</button>
                    <button type="button" class="button">Save changes</button>
                </div> -->
        </div>
    </div>
</div>

{% endblock %} 


{% block toolbar %}
              
    <div class="toolbar ">
        <div class="toolbar-inner">
            <a href="donation.html" class=" toolbar-btn button is-large is-fullwidth is-secondary opacity-6">Quay lại</a>
            <a href="#" class="toolbar-btn button is-large is-fullwidth is-momo">Quyên góp</a>
        </div>
    </div>      
        
        
{% endblock %}


{% block content %}

<div class="container ">
  <div class="row">
    <div class="embed-responsive embed-responsive-apd ">
      <div class="embed-responsive-img">
        <img
          data-src="https://a0.muscache.com/4ea/air/v2/pictures/1037c788-2a11-4168-a950-d03e69018665.jpg?t=r:w750-h500-sfit,e:fjpg-c80"
          class="img-fluid  lazyload"
          alt="Ước mơ của Thúy"
        />
      </div>
    </div>
  </div>


  <div class="card dona-hero mb-2">
    <div class="card-body ">
      <div class="row no-gutters align-items-center">
        <div class="col-auto">
          <div class="izlu-avatar dona-avatar">
            <img
              src="https://cdn.mservice.io/static/gcs_partner_m4b/24448-2019-05-31/tRaP2VgBExq9tqXo56NB_1559296482937"
              class="img-fluid mx-auto"
              alt=""
            />
          </div>
        </div>
        <div class="col">
          <h3 class="mt-0 mb-0 lutie-card-heading">Ước mơ của Thúy</h3>
          <div class="lutie-card-subheading mb-0">Hỗ trợ bệnh nhi ung thư</div>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-2">
    <div class="card-body ">
      <div class="dona-content">
        <div class="dona-text">
          Đã quyên góp được
          <strong>
            98.000.000đ
          </strong>
          / 300.000.000đ
        </div>

        <div class="dona-process mt-1">
          <div class="progress" style="height: 5px;">
            <div
              class="progress-bar bg-momo"
              role="progressbar"
              style="width: 25%"
              aria-valuenow="25"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>

        <div class="dona-meta mt-3">
          <div
            class="row no-gutters align-items-center justify-content-between flex-nowrap"
          >
            <div class="col-auto">
              <div class="mr-3">
                <div class="lutie-12">Lượt quyên góp</div>
                <div class="font-weight-bold">1900</div>
              </div>
            </div>

            <div class="col-auto ">
              <div class="mr-3">
                <div class="lutie-12">Đạt được</div>
                <div class="font-weight-bold">69%</div>
              </div>
            </div>

            <div class="col-auto">
              <div class="">
                <div class="lutie-12">Thời hạn còn</div>
                <div class="font-weight-bold">5 ngày</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class=" border-top mt-3 pt-3">
        <h4 class="lutie-section-heading font-weight-bold mt-0 mb-2">
          Thông tin
        </h4>
        <div class=" lutie-section-content text-align-justify">
          <div class="lutie-section-less">
            <p style="text-align:justify">
              <em
                >“Khó có ai có thể đứng vững nếu biết trước một ngày không xa
                mình sẽ không còn tồn tại nữa; khó có ai lạc quan sống khi phải
                đồng hành cùng căn bệnh ung thư và khó có ai dám nghĩ rằng mình
                sẽ làm được những việc ý nghĩa trong những tháng ngày còn lại.
                Nhưng, đối với Lê Thanh Thúy, dẫu biết rằng một ngày không mong
                đợi sẽ đến, mỗi ngày Thúy vẫn ráng sống thật vui với nụ cười
                trên môi, vẫn nặng tình với những sẻ chia cùng những người đồng
                cảnh ngộ và vẫn lạc quan cùng điều ước có một phép màu làm tan
                biến đi những tế bào ung thư…”</em
              >
              Trích trong cuốn “<strong>Xin hãy cho con thêm thời gian</strong>”
              của <strong>Lê Thanh Thúy.</strong>
            </p>
            <p style="text-align:justify">
              Thúy là biểu tượng cho tinh thần vượt lên số phận để sống trọn vẹn
              từng ngày. Cô tạo ấn tượng với mọi người bằng hành trình 4 năm đấu
              tranh với căn bệnh ung thư vô cùng quyết liệt, bằng nụ cười luôn
              nở trên môi tới tận lúc từ trần. Trong 4 năm ấy cô đã tham gia
              nhiều&nbsp;tổ chức và hoạt động cho các bệnh nhi ung thư.&nbsp;
            </p>
            <p style="text-align:justify">
              Chuyện về <strong>Lê Thanh Thúy</strong> không chỉ đơn thuần là
              câu chuyện của một bạn trẻ tiêu biểu với mong muốn, khát khao sống
              mãnh liệt, lại phải chống chọi với căn bệnh quái ác. Mà đó còn là
              những bài học quý báu về nghị lực và sự lạc quan trong cuộc
              sống.&nbsp;
            </p>
            <p style="text-align:justify">
              <strong>"Ước mơ của Thúy"</strong> là chương trình được thành lập
              bởi <strong>báo Tuổi Trẻ</strong> tiếp nối nguyện vọng của cô nhằm
              gây quỹ và hỗ trợ các bệnh nhi ung thư, không chỉ về vật chất mà
              quan trọng hơn là những giá trị tinh thần, giúp các em vơi đi nỗi
              đau và tiếp tục nỗ lực phấn đấu vượt qua số phận.
            </p>
            <p style="text-align:justify">
              Hoạt động chính của quỹ bao gồm: Chúc mừng sinh nhật, tặng quà ước
              nguyện, hỗ trợ kinh phí điều trị bệnh, ngày hội hoa hướng dương
              “Vì bệnh nhi ung thư”…
            </p>
          </div>

          <div class="py-2">
            <a
            href="#modalDonationPost" data-toggle="modal"
              class="col button button-outline border-lightgray "
              
              >Xem chi tiết</a
            >
          </div>
        </div>
      </div>

      <div class=" border-top mt-3 pt-3">
        <h4 class="lutie-section-heading font-weight-bold mt-0 mb-2">
          Hình ảnh
        </h4>

        
        <div class="lutie-section-content ">
          <div class="izlu-gallery js-donation-gallery">
            <div class="row">
              {% for item in range(0,2) %}

              <div class="col">
                <div class="izlu-gallery-item">
                  <a href="https://static.mservice.io/blogscontents/momo-upload-api-190715170209-636988069298419087.jpg" title="Ước mơ của Thuý" class="link-absolute"></a>
                  <div class="embed-responsive embed-responsive-1by1 ">
                    <img
                      src="https://static.mservice.io/blogscontents/momo-upload-api-190715170209-636988069298419087.jpg"
                      class="embed-responsive-img img-object-cover rounded"
                      alt=""
                    />
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="izlu-gallery-item">
                    <a href="https://static.mservice.io/blogscontents/momo-upload-api-190715170209-636988069298419087.jpg" title="Ước mơ của Thuý" class="link-absolute"></a>
                  <div class="embed-responsive embed-responsive-1by1 ">
                    <img
                      src="https://static.mservice.io/blogscontents/momo-upload-api-190715170229-636988069495497917.jpg"
                      class="embed-responsive-img img-object-cover rounded"
                      alt=""
                    />
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="izlu-gallery-item">
                    <a href="https://static.mservice.io/blogscontents/momo-upload-api-190715170209-636988069298419087.jpg" title="Ước mơ của Thuý" class="link-absolute"></a>

                  <div class="embed-responsive embed-responsive-1by1 ">
                    <img
                      src="https://static.mservice.io/blogscontents/momo-upload-api-190715170252-636988069728133296.jpg"
                      class="embed-responsive-img img-object-cover rounded"
                      alt=""
                    />
                  </div>
                </div>
              </div>

              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-2">
    <div class="card-body">
      <div class=" ">
        <h4 class="lutie-section-heading font-weight-bold mt-0 mb-0">
          Những nhà hảo tâm
        </h4>
        <div class="text-gray mb-1 font-12 font-italic">
          Danh sách được cập nhập mỗi giờ
        </div>




        <div class="list media-list apd-people my-2">
          <ul>
            {% for item in range(0,10) %}
            <li>
              <div class="item-content apd-people-item">
                <div class="item-inner ml-0  ">
                  <div class="item-title-row align-items-center">
                    <div class="apd-people-left">
                      <div class="name">
                        Nguyễn Minh Thư
                      </div>
                      <div class="phone">
                        0945345***
                      </div>
                    </div>
                    <div class="apd-people-after">
                      <div class="money">2.000đ</div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>

        <div class="text-center">
          <div class="preloader"></div>
        </div>

        <div class="mt-0">
          <button class="button text-secondary col">
            Xem thêm
           
            <svg class="svg-inline svg lutie-12 ml-2 ">
                <use xlink:href="svg/svg.svg#svg-angle-down"></use>
            </svg>

          </button>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
