{% set title = 'Gulp Des Index' %} {% set page = 'index.html' %} {% extends
  'layouts/application.html' %} {% import 'macros/helpers.html' as macro %} {%
  block popup %}
  
  {{ super() }}
  
  {% endblock %} {% block content %}
  
  <div class="container px-0">
    <div class="swiper-container swiper-init home-swiper">
      <div class="swiper-pagination swiper-pagination-white"></div>
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="embed-responsive embed-responsive-slider">
            <img
              data-src="https://static.mservice.io/banner/s780x297/momo-upload-api-190804210617-637005495777805964.jpg"
              class="swiper-lazy embed-responsive-img"
            />
            <div class="preloader swiper-lazy-preloader"></div>
          </div>
        </div>
  
        <div class="swiper-slide">
          <div class="embed-responsive embed-responsive-slider">
            <img
              data-src="https://static.mservice.io/banner/s780x297/nguyen%20kim.jpg"
              class="swiper-lazy embed-responsive-img"
            />
            <div class="preloader swiper-lazy-preloader"></div>
          </div>
        </div>
  
        <div class="swiper-slide">
          <div class="embed-responsive embed-responsive-slider">
            <img
              data-src="https://static.mservice.io/banner/s780x297/cover-ve-may-bay.jpg"
              class="swiper-lazy embed-responsive-img"
            />
            <div class="preloader swiper-lazy-preloader"></div>
          </div>
        </div>
  
        <div class="swiper-slide">
          <div class="embed-responsive embed-responsive-slider">
            <img
              data-src="https://static.mservice.io/banner/s780x297/momo-upload-api-190701155052-636975930528854873.jpg"
              class="swiper-lazy embed-responsive-img"
            />
            <div class="preloader swiper-lazy-preloader"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container mt-3">
    <h2 class=" lutie-title-1 font-weight-bold mb-1">
      Các chương trình quyên góp
    </h2>
  
    <div class="dona-list">
      <div class="card dona-item">
          <a href="donation-item.html" class="link-absolute"></a>
        <div class="embed-responsive embed-responsive-apd card-header ">
          <div class="embed-responsive-img">
            <img
              data-src="https://a0.muscache.com/4ea/air/v2/pictures/1037c788-2a11-4168-a950-d03e69018665.jpg?t=r:w750-h500-sfit,e:fjpg-c80s"
              class="img-fluid  lazyload card-img-tops"
              alt="Ước mơ của Thúy"
            />
          </div>
        </div>
        <div class="card-body">
          <div class="dona-heading border-bottom">
            <h3 class="mt-0 mb-0 lutie-card-heading">Ước mơ của Thúy</h3>
            <div class="lutie-card-subheading mb-0">Hỗ trợ bệnh nhi ung thư</div>
          </div>
  
          <div class="dona-content">
            <div class="dona-text">
              Đã quyên góp được
              <strong>
                980.000.000đ
              </strong>
              / 300.000.000đ
            </div>
  
            <div class="dona-process mt-1">
            
  
              <div class="progress" style="height: 5px;">
                <div
                  class="progress-bar bg-momo"
                  role="progressbar"
                  style="width: 25%"
                  aria-valuenow="25"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
            </div>
  
            <div class="dona-meta mt-2">
              <div class="row no-gutters align-items-center flex-nowrap">
                <div class="col-auto">
                  <div class="mr-3">
                    <div class="lutie-12">Lượt quyên góp</div>
                    <div class="font-weight-bold">1900</div>
                  </div>
                </div>
                <div class="col-auto">
                  <div class="">
                    <div class="lutie-12">Thời hạn còn</div>
                    <div class="font-weight-bold">5 ngày</div>
                  </div>
                </div>
                <div class="col text-right">
                  <a href="" class=" button is-momo is-outlined ">Quyên góp</a>
                </div>
              </div>
            </div>
  
            
          </div>
        </div>
      </div>
  
      <div class="card dona-item">
              <a href="donation-item.html" class="link-absolute"></a>
        <div class="embed-responsive embed-responsive-apd card-header ">
          <div class="embed-responsive-img">
            <img
              data-src="https://a0.muscache.com/4ea/air/v2/pictures/1037c788-2a11-4168-a950-d03e69018665.jpg?t=r:w750-h500-sfit,e:fjpg-c80s"
              class="img-fluid  lazyload card-img-tops"
              alt="Ước mơ của Thúy"
            />
          </div>
        </div>
        <div class="card-body">
          <div class="dona-heading border-bottom">
            <h3 class="mt-0 mb-0 lutie-card-heading">Ước mơ của Thúy</h3>
            <div class="lutie-card-subheading mb-0">Hỗ trợ bệnh nhi ung thư</div>
          </div>
  
          <div class="dona-content">
            <div class="dona-text">
              Đã quyên góp được
              <strong>
                980.000.000đ
              </strong>
              / 300.000.000đ
            </div>
  
            <div class="dona-process mt-1">
          
  
              <div class="progress" style="height: 5px;">
                <div
                  class="progress-bar bg-success"
                  role="progressbar"
                  style="width: 100%"
                  aria-valuenow="100"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
            </div>
  
            <div class="dona-meta mt-2">
              <div class="row no-gutters align-items-center flex-nowrap">
                <div class="col-auto">
                  <div class="mr-3">
                    <div class="lutie-12">Lượt quyên góp</div>
                    <div class="font-weight-bold">1900</div>
                  </div>
                </div>
                <div class="col-auto">
                  <div class="">
                    <div class="lutie-12">Thời hạn còn</div>
                    <div class="font-weight-bold">5 ngày</div>
                  </div>
                </div>
                <div class="col text-right">
                  <a href="" class=" button is-secondary opacity-5 is-outlined "
                    >Đã đạt mục tiêu</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="card dona-item">
              <a href="donation-item.html" class="link-absolute"></a>
        <div class="embed-responsive embed-responsive-apd card-header ">
          <div class="embed-responsive-img">
            <img
              data-src="https://a0.muscache.com/4ea/air/v2/pictures/1037c788-2a11-4168-a950-d03e69018665.jpg?t=r:w750-h500-sfit,e:fjpg-c80s"
              class="img-fluid  lazyload card-img-tops"
              alt="Ước mơ của Thúy"
            />
          </div>
        </div>
        <div class="card-body">
          <div class="dona-heading border-bottom">
            <h3 class="mt-0 mb-0 lutie-card-heading">Ước mơ của Thúy</h3>
            <div class="lutie-card-subheading mb-0">Hỗ trợ bệnh nhi ung thư</div>
          </div>
  
          <div class="dona-content">
            <div class="dona-text">
              Đã quyên góp được
              <strong>
                980.000.000đ
              </strong>
              / 300.000.000đ
            </div>
  
            <div class="dona-process mt-1">
            
  
              <div class="progress" style="height: 5px;">
                <div
                  class="progress-bar bg-secondary"
                  role="progressbar"
                  style="width: 80%"
                  aria-valuenow="80"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
            </div>
  
            <div class="dona-meta mt-2">
              <div class="row no-gutters align-items-center flex-nowrap">
                <div class="col-auto">
                  <div class="mr-3">
                    <div class="lutie-12">Lượt quyên góp</div>
                    <div class="font-weight-bold">1900</div>
                  </div>
                </div>
                <div class="col-auto">
                  <div class="">
                    <div class="lutie-12">Thời hạn còn</div>
                    <div class="font-weight-bold">5 ngày</div>
                  </div>
                </div>
                <div class="col text-right">
                  <a href="" class=" button is-secondary opacity-5 is-outlined "
                    >Đã hết thời hạn</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  {% endblock %}