{% set title = 'Gulp Des Index' %}
{% set page = 'homepage' %}

{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}

{% block popup %}

{{super()}}

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
        <div class="modal-content" style="height: 420px">

            <div class="modal-header align-items-center">
                <h3 class="modal-title font-weight-bold" id="">Tìm kiếm</h3>


                <button type="button" class="modal-close-btn close" data-dismiss="modal" aria-label="Close">
                    <svg class="svg-inline ">
                        <use xlink:href="svg/svg.svg#svg-error"></use>
                    </svg>
                </button>


            </div>

            <div class="input-group   bg-light" style="top: 0; z-index: 10; padding: 10px">

                <input type="text" class="input border-0 bg-lightgray" placeholder="Bạn tìm gì">


            </div>



            <div class="modal-body pt-0">



                <div class="cashback-hori">
                    {% for item in range(0,4) %}
                    <div class="cashback-hori-item">
                        <a href="single.html" class="link-absolute"></a>
                        <div class="cashback-hori-img">
                            <div class="embed-responsive embed-responsive-1by1">
                                <img data-src="https://img.mservice.io/momo_app_v2/new_version/img/icon/Cashback_BaskinRobins.png"
                                    class="embed-responsive-img lazyload" alt="">
                            </div>
                        </div>

                        <div class="cashback-hori-content">

                            <div class="name text-truncate">
                                Baskin Robbins
                            </div>

                            <div class="desc text-truncate">
                                Tiệm kem Baskin Robbins
                            </div>

                        </div>

                        <div class="cashback-hori-value">
                            <div
                                class="cashback-hori-number d-flex align-items-center justify-content-center text-center">
                                <div>
                                    Hoàn
                                    <span class="d-block font-weight-bold">47%</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% endfor %}
                </div>



            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="button" data-dismiss="modal">Close</button>
                <button type="button" class="button">Save changes</button>
            </div> -->
        </div>
    </div>
</div>


{% endblock %}



{% block content %}

<div class="container px-0">
    <div class="swiper-container swiper-init home-swiper">
        <div class="swiper-pagination swiper-pagination-white"></div>
        <div class="swiper-wrapper">

            <div class="swiper-slide">

                <div class="embed-responsive embed-responsive-slider">
                    <img data-src="https://static.mservice.io/banner/s780x297/momo-upload-api-190804210617-637005495777805964.jpg"
                        class="swiper-lazy embed-responsive-img" alt="đwdwd" />
                    <div class="preloader swiper-lazy-preloader"></div>
                </div>


            </div>

            <div class="swiper-slide">

                <div class="embed-responsive embed-responsive-slider">
                    <img data-src="https://static.mservice.io/banner/s780x297/nguyen%20kim.jpg"
                        class="swiper-lazy embed-responsive-img" />
                    <div class="preloader swiper-lazy-preloader"></div>
                </div>

            </div>

            <div class="swiper-slide">

                <div class="embed-responsive embed-responsive-slider">
                    <img data-src="https://static.mservice.io/banner/s780x297/cover-ve-may-bay.jpg"
                        class="swiper-lazy embed-responsive-img" />
                    <div class="preloader swiper-lazy-preloader"></div>
                </div>

            </div>

            <div class="swiper-slide">

                <div class="embed-responsive embed-responsive-slider">
                    <img data-src="https://static.mservice.io/banner/s780x297/momo-upload-api-190701155052-636975930528854873.jpg"
                        class="swiper-lazy embed-responsive-img" />
                    <div class="preloader swiper-lazy-preloader"></div>
                </div>

            </div>

        </div>
    </div>

</div>



<div class="container mt-3">

    <div class="row no-gutters flex-nowrap mb-3">
        <div class="col  mr-1">

            <div class="  ">
                <div class="">

                    <div class="input-group btn-group have-arrow-down ">
                        <button class="input dropdown-toggle text-left" type="button" data-toggle="modal"
                            data-target="#modalCashbackCate">

                            <!-- <img src="https://img.mservice.io/momo_app_v2/img/HoangLe/ic_fl_sieu_thi@3x.png"
                                class="mr-1 va-15" width="22" alt=""> -->

                            <span class="mr-1 lutie-14 text-primary">
                                <svg class="svg-inline ">
                                    <use xlink:href="svg/svg.svg#svg-line-menu"></use>
                                </svg>
                            </span>


                            Danh mục hoàn tiền
                        </button>
                    </div>

                </div>




            </div>



        </div>
        <div class="col-auto">
            <button class="button is-medium text-primary  text-left" type="button" data-toggle="modal"
                data-target="#exampleModalCenter">

                <svg class="svg-inline ">
                    <use xlink:href="svg/svg.svg#svg-search"></use>
                </svg>
            </button>

        </div>
    </div>


</div>



<div class="container bg-yellowlight">
    <div class="cluster cluster-sieuto pb-3  pt-2">
        <div class="text-center">
            <div class="cluster-sieuto-title">
                <div class="sieuto-title">
                    <div class="sieuto-title-left">
                        <img src="images/home/title-sieuto-left.png" width="87" alt="">
                    </div>

                    <div class="sieuto-title-center" style="background-image: url('images/home/title-sieuto-center.png')">
                        <div class="text text-truncate">
                            Hoàn tiền siêu to
                        </div>
                    </div>
                    <div class="sieuto-title-right">
                        <img src="images/home/title-sieuto-right.png" width="47" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <div class="embed-responsive embed-responsive-cat1">
                <img data-src="https://static.mservice.io/banner/s780x297/momo-upload-api-190916181811-637042546913259124.jpg"
                    class="embed-responsive-img lazyload img-fluid" alt="">
            </div>
        </div>

        <div class="cluster-content row ">

            {% set cashback1 = [
                    {
                        "img" : "https://img.mservice.io/momo_app_v2/new_version/img/THAO.MAI/190718_IC_CB_Toco.jpg",
                        "name" : "Toco Toco",
                        "content" : "Hoàn lên đến 50% tùy chi nhánh và chỉ áp dụng một số chi nhánh. Click vào để xem chi tiết."
                    },
                    {
                        "img" : "https://img.mservice.io/momo_app_v2/new_version/img/THAO.MAI/IC_CB_JuiceMe.png",
                        "name" : "Sinh tố nước ép Juice Me",
                        "content" : "Hoàn lên đến 50%"
                    },
                    {
                        "img" : "https://img.mservice.io/momo_app_v2/new_version/img/THAO.MAI/190718_IC_CB_CafeDeBodyfriend.png",
                        "name" : "Café De Bodyfriend",
                        "content" : "Café De Bodyfriend"
                    }
                ] %}

            <div class="swiper-container swiper-cashback-hori">
                <div class="swiper-wrapper">
                    {% for item in range(0,3) %}
                    <div class="swiper-slide">
                        <div class="cashback-hori">
                            {% for item in cashback1 %}
                            <div class="cashback-hori-item">
                                <a href="single.html" class="link-absolute"></a>

                                <div class="cashback-hori-img">
                                    <div class="embed-responsive embed-responsive-1by1">
                                        <img data-src="{{ item.img }}" class="embed-responsive-img lazyload" alt="">
                                    </div>
                                </div>

                                <div class="cashback-hori-content">

                                    <div class="name text-truncate">
                                        {{ item.name }}
                                    </div>

                                    <div class="desc ">
                                        {{ item.content }}
                                    </div>

                                </div>

                                <div class="cashback-hori-value">
                                    <div
                                        class="cashback-hori-number d-flex align-items-center justify-content-center text-center">
                                        <div>
                                            Hoàn tiền
                                            <span class="d-block font-weight-bold">47%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {% endfor %}
                        </div>

                    </div>

                    {% endfor %}
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            </div>



        </div>
    </div>
</div>

<div class="container">


    <div class="cluster  mt-4 ">
        <div class="row no-gutters align-items-center mb-3">
            <div class="col">
                <div class="cluster-title">
                    Du lịch - Vận chuyển
                </div>
            </div>

            <div class="col-auto">
                <a href="category.html" class="cluster-more">
                    Xem tất cả

                    <span class="lutie-8 va15">
                        <svg class="svg-inline ">
                            <use xlink:href="svg/svg.svg#svg-angle-right"></use>
                        </svg>
                    </span>
                </a>
            </div>
        </div>

        <div class="mb-3">
            <div class="embed-responsive embed-responsive-cat1">
                <img data-src="https://static.mservice.io/banner/s/momo-upload-api-190918161339-637044200195508927.jpg"
                    class="embed-responsive-img lazyload img-fluid" alt="">
            </div>
        </div>

        <div class="cluster-content row">

            {% set cashback2 = [
                        {
                            "img" : "https://cdn.mservice.io/static/gcs_partner_m4b/24448-2019-05-31/3TIEQ4qxoRxuRWwtuV1g_1559295111519",
                            "name" : "Think Nature",
                            "content" : "Think Nature."
                        },
                        {
                            "img" : "https://cdn.mservice.io/static/gcs_partner_m4b/24448-2019-05-31/4RVdiJUTY6h3yp6R1lpR_1559293830390",
                            "name" : "Vascara",
                            "content" : "Chỉ áp dụng với hóa đơn từ 800.000đ trở lên"
                        },
                        {
                            "img" : "https://img.mservice.io/momo_app_v2/new_version/img/THAO.MAI/ic_Mobifone_3G.png",
                            "name" : "3G Mobifone",
                            "content" : "Nạp data 3G Mobifone"
                        }
                    ] %}

            <div class="swiper-container swiper-cashback-hori">
                <div class="swiper-wrapper">
                    {% for item in range(0,1) %}
                    <div class="swiper-slide">
                        <div class="cashback-hori">
                            {% for item in cashback2 %}
                            <div class="cashback-hori-item">
                                <a href="#modalCashbackPop" data-toggle="modal" class="link-absolute"></a>

                                <div class="cashback-hori-img">
                                    <div class="embed-responsive embed-responsive-1by1">
                                        <img data-src="{{ item.img }}" class="embed-responsive-img lazyload" alt="">
                                    </div>
                                </div>

                                <div class="cashback-hori-content">

                                    <div class="name text-truncate">
                                        {{ item.name }}
                                    </div>

                                    <div class="desc ">
                                        {{ item.content }}
                                    </div>

                                </div>

                                <div class="cashback-hori-value">
                                    <div
                                        class="cashback-hori-number d-flex align-items-center justify-content-center text-center">
                                        <div>
                                            Hoàn tiền
                                            <span class="d-block font-weight-bold">10%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {% endfor %}
                        </div>

                    </div>

                    {% endfor %}
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            </div>



        </div>
    </div>




    <div class="cluster border-top pt-3 mt-3">
        <div class="row no-gutters align-items-center mb-3">
            <div class="col">
                <div class="cluster-title">
                    Bạn cần tìm ưu đãi gì?
                </div>
            </div>

        </div>


        <div class="cluster-content ">

            <div class="cat-type ">


                {% for item in cashbackCat %}
                {% if loop.index < 8 %}

                <div class="cat-type-item">
                    <a href="" class="link-absolute"></a>

                    <div class="cat-type-media">
                        <img src="{{item.img}}" width="34" alt="">
                    </div>

                    <div class="cat-type-name">
                        {{ item.title }}
                    </div>

                </div>


                {% endif %}
                {% endfor %}

                <div class="cat-type-item">
                    <a href="#modalCashbackCate" class="link-absolute" data-toggle="modal"></a>

                    <div class="cat-type-media lutie-22 text-primary">

                        <svg class="svg-inline ">
                            <use xlink:href="svg/svg.svg#svg-menu-dot"></use>
                        </svg>

                    </div>

                    <div class="cat-type-name">
                        Xem thêm
                    </div>

                </div>

            </div>




        </div>
    </div>




    <div class="cluster border-top pt-3 mt-3">
        <div class="row no-gutters align-items-center mb-3">
            <div class="col">
                <div class="cluster-title">
                    Tin tức
                </div>
            </div>

            <div class="col-auto">
                <a href="" class="cluster-more">
                    Xem tất cả

                    <span class="lutie-8 va15">
                        <svg class="svg-inline ">
                            <use xlink:href="svg/svg.svg#svg-angle-right"></use>
                        </svg>
                    </span>
                </a>
            </div>
        </div>



        <div class="cluster-content ">
            <div class="swiper-container vt-new swiper-vt-new">
                <div class="swiper-wrapper">
                    {% for item in range(0,4) %}
                    <div class="swiper-slide">
                        <div class="vt-new-item ">
                            <div class="card overflow-hidden">

                                <div class="embed-responsive embed-responsive-slider bg-gray">
                                    <img src="https://static.mservice.io/blogscontents/momo-upload-api-190823113917-637021571575899967.jpg"
                                        class="embed-responsive-img" alt="...">
                                </div>


                                <div class="card-body p-3">
                                    <div class="font-weight-bold h4">Thêm Data - Xài siêu đã: Mua MobiFone 3G trên Ví
                                        MoMo,
                                        nhận
                                        thêm đến 2.800MB Data</div>
                                    <div class="lutie-12 vt-new-desc">Từ nay đến 31/3/2019, chỉ có trên Ví MoMo: Mua
                                        MobiFone 3G
                                        (gói 30
                                        ngày) sẽ nhận thêm thẻ quà tặng dùng để...</div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="vt-new-item ">
                            <div class="card overflow-hidden">

                                <div class="embed-responsive embed-responsive-slider bg-gray">
                                    <img src="https://static.mservice.io/blogscontents/momo-upload-api-190823113917-637021571575899967.jpg"
                                        class="embed-responsive-img" alt="...">
                                </div>


                                <div class="card-body p-3">
                                    <div class="font-weight-bold h4">Thêm Data - X</div>
                                    <div class="lutie-12 vt-new-desc">Từ nay đến 31/3/2019, chỉ có trên Ví MoMo: Mua
                                        MobiFone 3G
                                        (gói 30
                                        ngày) sẽ nhận thêm thẻ quà tặng dùng để...</div>
                                </div>

                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>


        </div>
    </div>

</div>




{% endblock %}