{% set title = 'Gulp Des Index' %}
{% set page = 'index.html' %}

{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}

{% block popup %}

{{super()}}




{% endblock %}


{% block toolbar %}

<div class="toolbar toolbar-download">
    <div class="toolbar-inner px-3">
        <div class="row w-100 no-gutters align-items-center">
            <div class="col">
                <img src="images/home/download-text.png" class="img-fluid" width="200" alt="">
            </div>
            <div class="col-auto text-right">
                <a href="" class="button is-momo is-rounded">
                    <svg class="svg-inline ">
                        <use xlink:href="svg/svg.svg#svg-download"></use>
                    </svg>

                    Tải ngay
                </a>
            </div>
        </div>
    </div>
</div>


{% endblock %}


{% block content %}

<div class="container px-0">
    <div class="cbs-hero bg-color-white ">

        <div class="embed-responsive embed-responsive-apd">
            <img data-src="images/home/hero-vienthong.png" class="lazyload embed-responsive-img" alt="">
        </div>


    </div>


    <div class="cbs-tree bg-white  shadow-sm">
        <div class="row sm-gutters">
            <div class="col-auto">


                <div class="izlude-avatar-square cbs-avatar mt-1">
                    <img data-src="https://static.mservice.io/placebrand/s/momo-upload-api-190530102333-636948086134202053.png"
                        class="img-fluid lazyload" alt="">
                </div>

            </div>
            <div class="col">
                <div class=" ">
                    <h1 class="lutie-article-title font-weight-bold mt-0 mb-1 mr-2">Mobifone

                        <span class="button is-small is-rounded is-primary font-weight-normal lh-1  lh-1 my-1">Viễn
                            thông</span>

                    </h1>

                    <div class="lutie-article-sub">
                        Một trong những nhà mạng di động lớn
                        nhất tại Việt Nam với hơn 50tr thuê bao.
                    </div>

                    <div class="row no-gutters align-items-center lutie-12 py-2 text-gray ">
                        <div class="col-auto mr-2">
                            <div class="static-rating">
                                <div class="static-rating-item is-active">
                                    <svg class="svg-inline ">
                                        <use xlink:href="svg/svg.svg#svg-star"></use>
                                    </svg>
                                </div>
                                <div class="static-rating-item is-active">
                                    <svg class="svg-inline ">
                                        <use xlink:href="svg/svg.svg#svg-star"></use>
                                    </svg>
                                </div>
                                <div class="static-rating-item is-active">
                                    <svg class="svg-inline ">
                                        <use xlink:href="svg/svg.svg#svg-star"></use>
                                    </svg>
                                </div>
                                <div class="static-rating-item is-active">
                                    <svg class="svg-inline ">
                                        <use xlink:href="svg/svg.svg#svg-star"></use>
                                    </svg>
                                </div>
                                <div class="static-rating-item">
                                    <svg class="svg-inline ">
                                        <use xlink:href="svg/svg.svg#svg-star"></use>
                                    </svg>
                                </div>
                            </div>

                        </div>
                        <div class="col-auto mr-2">
                            <div class="cbs-meta lutie-article-meta ">
                                <span>4.5</span> / <span class="lutie-12">
                                    <svg class="svg-inline ">
                                        <use xlink:href="svg/svg.svg#svg-user"></use>
                                    </svg>
                                </span>
                                <small class="ng-binding"> 13</small>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="dropdown">
                                <a href="#" class=" " data-toggle="modal" data-target="#modalRating">
                                    Gửi đánh giá
                                </a>

                            </div>
                        </div>
                    </div>




                </div>
            </div>
        </div>


        <div class="cbs-sale">

        </div>

    </div>
</div>

<div class="midgard-container  shadow-sm ">
    <ul class="midgard list-unstyled " id="navbar-example2">
        <li class="midgard-item">
            <a href="#section1" class="midgard-link nav-link">Giới thiệu</a>
        </li>

        <li class="midgard-item">
            <a href="#section2" class="midgard-link nav-link">Khu vực</a>
        </li>
        <li class="midgard-item">
            <a href="#section3" class="midgard-link nav-link">Hướng dẫn</a>
        </li>

        <li class="midgard-item">
            <a href="#section4" class="midgard-link nav-link">Tin tức</a>
        </li>

    </ul>
</div>


<div class="container mt-4">
    <div class="card card-hightlight position-relative vt-cb">

        <div class="vt-cb-heading" style="background-image: url(images/home/feature-sale.png)">
            Chương trình khuyến mãi
            Mobifone đang diễn ra
        </div>


        <div class="card-body">


            <div class=" mt-2">
                <div class="sg-promo">
                    <div class="sg-promo-item">
                       <div class="sg-promo-icon ">
                          <img
                             src="	https://static.mservice.io/images/s/momo-upload-api-200207110027-637166700272646479.png"
                             alt="" width="50" class="img-fluid ">
                       </div>

                       <h4 class="mb-0 text-momo font-weight-bold">Tặng ngay 20% giá trị thẻ nạp</h4>

                       <div class="mt-1 text-small">
                          Áp dụng trong ngày 12/02/2020, chỉ áp dụng cho các
                          thuê bao trả trước và trả sau.
                       </div>

                    </div>

                    <div class="sg-promo-item">

                       <div class="sg-promo-icon ">
                          <img
                                   src="	https://static.mservice.io/images/s/momo-upload-api-200207110608-637166703686709669.png"
                                   alt="" width="50" class="img-fluid ">
                       </div>

                       <h4 class="mb-0 text-momo font-weight-bold">Hoàn tiền 4% khi thanh toán qua MoMo</h4>

                       <div class="mt-1 text-small">
                          Áp dụng cho tất cả các khách hàng có đăng ký ví MoMo, số tiền được hoàn tối đa vào tài
                          khoản Hoàn tiền là 500.000đ. Mỗi tài khoản Ví MoMo được nhận tối đa 5 giao dịch/tháng và
                          tối đa 5K/GD
                       </div>

                    </div>



                 </div>
             </div>


            <div class="text-center mt-2 mb-2 ">
                <a href="#" class="button is-momo ">Nạp tiền ngay

                </a>
            </div>
        </div>

    </div>

    <section class="section-scrollspy" id="section1">

        <h3 class="mt-4 lutie-section-title">
            Giới thiệu về Mobifone
        </h3>


        <div class="card ">

            <div class="card-body">

                <div class="cbs-post pron-less">
                    <p style="text-align: justify;" class="">Bắt đầu từ năm 1951 tại bang Texas, Mỹ, tới nay,
                        <strong>Circle
                            K</strong> đã
                        trở thành một trong những thương hiệu cửa hàng tiện lợi uy tín rộng khắp, nổi tiếng vì chất
                        lượng
                        sản phẩm
                        và dịch vụ chăm sóc khách hàng tuyệt vời với hơn 16.000 cửa hàng trên toàn thế giới.</p>

                    <p style="text-align: justify;">Tại Việt Nam, <a
                            href="https://www.circlek.com.vn/vi/"><strong>Circle
                                K</strong></a> chú trọng vào việc phát triển nhanh chóng trong lĩnh vực kinh doanh chuỗi
                        cửa
                        hàng tiện
                        lợi theo giấy phép nhượng quyền thương hiệu của Circle K Mỹ. Circle K tự hào là chuỗi cửa hàng
                        tiện
                        lợi quốc
                        tế đầu tiên tại Việt Nam.</p>

                    <p style="text-align: justify;"><strong>Circle K Việt Nam</strong> hiện đã có hơn 300 cửa hàng tại
                        các
                        thành
                        phố lớn như Hà Nội, Hạ Long, Hồ Chí Minh, Vũng Tàu, và sẽ còn tiếp tục phát triển để đáp ứng nhu
                        cầu
                        của
                        khách hàng ở khắp mọi nơi.</p>

                    <p style="text-align: justify;">Cam Kết Dịch Vụ của Circle K đối với khách hàng được gói gọn trong 4
                        chữ
                        F
                        (4Fs) (Tươi, Thân Thiện, Nhanh, và Đầy Đủ).</p>

                    <p style="text-align: justify;">Circle K là một trong những đối tác quan trọng của <a
                            href="https://momo.vn/">Ví MoMo</a>. Hiện tại, khách hàng đã có thể <a
                            href="https://momo.vn/thanh-toan-momo-circlek">thanh toán bằng Ví MoMo</a> tại các cửa hàng
                        của
                        Circle K,
                        góp phần làm cho việc thanh toán trở nên nhanh chóng và tiện lợi hơn bao giờ hết.</p>

                </div>



                <div class="py-3 text-center">
                    <a href="#modalBaiViet" class=" button text-primary" data-toggle="modal">Xem
                        chi tiết</a>
                </div>


                <div class="tags">
                    <h3 class=" mb-2 mt-2 font-weight-bold ">Tags:</h3>

                    <ul class="list-inline mb-0">
                        <li class="list-inline-item mb-1 mr-0">
                            <a href="/tags/circle-k" class="button is-chip is-rounded text-primary">Circle K</a>
                        </li>

                        <li class="list-inline-item mb-1 mr-0">
                            <a href="/tags/circle-k" class="button is-chip is-rounded text-primary">Thanh toán Circle
                                K</a>
                        </li>

                        <li class="list-inline-item mb-1 mr-0">
                            <a href="/tags/circle-k" class="button is-chip is-rounded text-primary">Momo và Circle K</a>
                        </li>

                        <li class="list-inline-item mb-1 mr-0">
                            <a href="/tags/circle-k" class="button is-chip is-rounded text-primary">Hoàn tiền Circle
                                K</a>
                        </li>

                    </ul>
                </div>

            </div>

        </div>
    </section>

    <section class="section-scrollspy" id="section2">
        <h3 class="mt-4 lutie-section-title">
            Dịch vụ của Mobifone
        </h3>


        <div id="accordion" class="desaccordion">

            <div class="card">
                <div class="card-header">
                    <a class="card-link row no-gutters align-items-center" data-toggle="collapse" href="#collapseOne">
                        <div class="col">
                            <img src="images/vt/vt1.png" width="20" alt="">
                         
                            <span class="ml-1 text-dark">Nạp tiền điện thoại trả trước</span>
                        </div>
                        <div class="col-auto">
                            <svg class="svg-inline ">
                                <use xlink:href="svg/svg.svg#svg-angle-down"></use>
                            </svg>
                        </div>
                    </a>
                </div>

                <div id="collapseOne" class="collapse show" data-parent="#accordion">
                    <div class="card-body">
                        Chương trình khuyến mãi hiện tại của dịch vụ nạp tiền điện thoại trả trước: <strong
                            class="text-momo">Tặng ngay 20% giá trị thẻ nạp và hoàn thêm 4% trực tiếp</strong>. i Chỉ áp
                        dụng cho các thuê bao đã phát sinh cước cuộc gói trước ngày 26/08/2019.

                        <div class="mt-2 text-center lutie-12">
                            <a href="" class="">
                                Xem thêm

                                <svg class="svg-inline ">
                                    <use xlink:href="svg/svg.svg#svg-angle-down"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <a class="card-link row no-gutters align-items-center" data-toggle="collapse" href="#collapseTwo">
                        <div class="col">
                            <img src="images/vt/vt2.png" width="20" alt="">
                         


                            <span class="ml-1 text-dark">Nạp tiền điện thoại trả sau</span>
                        </div>
                        <div class="col-auto">
                            <svg class="svg-inline ">
                                <use xlink:href="svg/svg.svg#svg-angle-down"></use>
                            </svg>
                        </div>
                    </a>
                </div>
                <div id="collapseTwo" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        Nothing here
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <a class="card-link row no-gutters align-items-center" data-toggle="collapse" href="#collapseThree">
                        <div class="col">
                            <img src="images/vt/vt3.png" width="20" alt="">
                         


                            <span class="ml-1 text-dark">Nạp tiền điện thoại trả sau</span>
                        </div>
                        <div class="col-auto">
                            <svg class="svg-inline ">
                                <use xlink:href="svg/svg.svg#svg-angle-down"></use>
                            </svg>
                        </div>
                    </a>
                </div>
                <div id="collapseThree" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        Not here buddy
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <a class="card-link row no-gutters align-items-center" data-toggle="collapse" href="#collapseFour">
                        <div class="col">
                            <img src="images/vt/vt4.png" width="20" alt="">
                         



                            <span class="ml-1 text-dark">Nạp tiền điện thoại trả sau</span>
                        </div>
                        <div class="col-auto">
                            <svg class="svg-inline ">
                                <use xlink:href="svg/svg.svg#svg-angle-down"></use>
                            </svg>
                        </div>
                    </a>
                </div>
                <div id="collapseFour" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        Still not here
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="section-scrollspy" id="section3">
        <h3 class="mt-4 lutie-section-title">
            Ưu đãi của Mobifone
        </h3>


        <div class="vt-new">

            <div class="swiper-container vt-new swiper-vt-new">
                <div class="swiper-wrapper">
                    {% for item in range(0,4) %}
                    <div class="swiper-slide">
                        <div class="vt-new-item">
                            <div class="card overflow-hidden mb-3">

                                <div class="embed-responsive embed-responsive-16by9 bg-gray">
                                    <img src="https://static.mservice.io/blogscontents/momo-upload-api-190823113917-637021571575899967.jpg"
                                        class="embed-responsive-img" alt="...">
                                </div>


                                <div class="card-body p-3">
                                    <div class="font-weight-bold h4">Thêm Data - Xài siêu đã: Mua MobiFone 3G trên Ví
                                        MoMo, nhận
                                        thêm đến 2.800MB Data</div>
                                    <div class="lutie-12">Từ nay đến 31/3/2019, chỉ có trên Ví MoMo: Mua MobiFone 3G
                                        (gói 30
                                        ngày) sẽ nhận thêm thẻ quà tặng dùng để...</div>
                                </div>

                                <div class="row no-gutters align-items-center px-3 py-2 border-top">
                                    <div class="col">
                                        <div class="text-small">Áp dụng: 15/03 - 31/03</div>
                                    </div>
                                    <div class="col-auto">
                                        <span class="price-tag">Mobifone</span>
                                    </div>
                                </div>




                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>

        <div class="text-center ">
            <a href="" class="button text-primary">Xem tất cả</a>
        </div>
    </section>

    <section class="section-scrollspy" id="section4">
        <h3 class="mt-4 lutie-section-title">
            Tin tức Mobifone
        </h3>

        <div class="nw ">
            {% for item in range(0,4) %}
            <div class="nw-item">
                <div class="row no-gutters">
                    <div class="col-auto">
                        <div class="nw-item-img mr-3">
                            <img data-src="https://static.mservice.io/blogscontents/s770x370/momo-upload-api-190823181946-637021811862379665.jpg"
                                class="img-fluid lazyload" alt="">
                        </div>
                    </div>
                    <div class="col">
                        <h4>Chu du khắp chốn cùng Vietjet Air, nhận phần quà du hí 400.000 đồng</h4>

                        <div class="text-secondary lutie-12">23/08/2019</div>
                    </div>

                </div>

            </div>

            {% endfor %}
        </div>

        <div class="text-center mt-3">
            <a href="" class="button text-primary">Xem tất cả</a>
        </div>

    </section>
    <h3 class="mt-4 lutie-section-title">
        Các câu hỏi thường gặp
    </h3>

    <!-- Nav tabs -->
    <ul class="nav desnav">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#home">Nạp tiền điện thoại trả trước</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu1">Nạp tiền điện thoại trả trước</a>
        </li>
        '
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active " id="home">

            <div id="accordion2" class="desaccordion pb-4">

                <div class="card">
                    <div class="card-header">
                        <a class="card-link row no-gutters align-items-center" data-toggle="collapse" href="#cauhoi1">
                            <div class="col">

                                <strong class="text-dark">Tôi đã nạp thẻ mà sao tài khoản chưa có tiền?</strong>
                            </div>
                            <div class="col-auto">
                                <svg class="svg-inline ">
                                    <use xlink:href="svg/svg.svg#svg-angle-down"></use>
                                </svg>
                            </div>
                        </a>
                    </div>

                    <div id="cauhoi1" class="collapse " data-parent="#accordion">
                        <div class="card-body">
                            <p>
                                Ứng dụng Ví điện tử MoMo là sản phẩm của Công ty Cổ phần Dịch vụ Di động Trực tuyến
                                (M_Service).
                                Ứng dụng cho phép bạn tạo và nạp tiền vào tài khoản MoMo để thanh toán cho hơn 200 dịch
                                vụ như
                                nạp tiền điện thoại, thanh toán điện nước, thanh toán vay tiêu dùng, v.v...

                            </p>
                            <p>

                                M_Service là đối tác chiến lược của Vietcombank, OCB, VPBank, Vietinbank, TPBank, ACB,
                                Eximbank,
                                Sacombank, VIB, BIDV và Shinhan Bank. Từ ngày 16/10/2015, M_Service được Ngân hàng Nhà
                                nước Việt
                                Nam cấp giấy phép cung cấp dịch vụ Ví điện tử số 16/GP-NHNN.
                            </p>
                        </div>
                    </div>
                </div>


                <div class="card">
                    <div class="card-header">
                        <a class="card-link row no-gutters align-items-center" data-toggle="collapse" href="#cauhoi2">
                            <div class="col">

                                <strong class="text-dark">Mã thẻ không đúng, không nhập được? Số
                                    Serial không có?</strong>
                            </div>
                            <div class="col-auto">
                                <svg class="svg-inline ">
                                    <use xlink:href="svg/svg.svg#svg-angle-down"></use>
                                </svg>
                            </div>
                        </a>
                    </div>

                    <div id="cauhoi2" class="collapse " data-parent="#accordion">
                        <div class="card-body">
                            <p>
                                Ứng dụng Ví điện tử MoMo là sản phẩm của Công ty Cổ phần Dịch vụ Di động Trực tuyến
                                (M_Service).
                                Ứng dụng cho phép bạn tạo và nạp tiền vào tài khoản MoMo để thanh toán cho hơn 200 dịch
                                vụ như
                                nạp tiền điện thoại, thanh toán điện nước, thanh toán vay tiêu dùng, v.v...

                            </p>
                            <p>

                                M_Service là đối tác chiến lược của Vietcombank, OCB, VPBank, Vietinbank, TPBank, ACB,
                                Eximbank,
                                Sacombank, VIB, BIDV và Shinhan Bank. Từ ngày 16/10/2015, M_Service được Ngân hàng Nhà
                                nước Việt
                                Nam cấp giấy phép cung cấp dịch vụ Ví điện tử số 16/GP-NHNN.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane " id="menu1">...</div>
    </div>




</div>




{% endblock %}




{% block javascript %}

{{ super() }}
<script>
    $(document).ready(function () {
        $('.page-content').scrollspy({ target: '#navbar-example2' })


    });
</script>

{% endblock %}