{% set title = 'Gulp Des Index' %}
{% set page = 'index.html' %}

{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}

{% block popup %}

{{super()}}



{% endblock %}


{% block toolbar %}

<div class="toolbar toolbar-download d-none">
    <div class="toolbar-inner px-3">
        <div class="row w-100 no-gutters align-items-center">
            <div class="col">
                <img src="images/home/download-text.png" class="img-fluid" width="200" alt="">
            </div>
            <div class="col-auto text-right">
                <a href="" class="button is-momo is-rounded">
                    <svg class="svg-inline ">
                        <use xlink:href="svg/svg.svg#svg-download"></use>
                    </svg>

                    Tải ngay
                </a>
            </div>
        </div>
    </div>
</div>


{% endblock %}


{% block content %}

<div class="container px-0">
    <div class="cbs-hero bg-color-white ">

        <div class="embed-responsive embed-responsive-slider">
            <img data-src="https://static.mservice.io/placebrand/s/momo-upload-api-190816095540-637015461408618216.jpg"
                class="lazyload embed-responsive-img" alt="">
        </div>


    </div>


    <div class="cbs-tree bg-white shadow-sm">
        <div class="row sm-gutters">
            <div class="col-auto">

                <div class="izlude-avatar-square cbs-avatar mt-1">
                    <img data-src="https://static.mservice.io/placebrand/s/momo-upload-api-190708163918-636982007585040100.png"
                        class="img-fluid lazyload" alt="">
                </div>

            </div>

            <div class="col">
                <div class=" ">
                    <h1 class="lutie-article-title font-weight-bold mt-0 mb-1 mr-2">Tiki
                        <span class="button is-small is-rounded is-primary font-weight-normal  lh-1 my-1">Mua sắm
                            online</span>

                    </h1>

                    <div class="lutie-article-sub">
                        Website Thương mại điện tử về bán lẻ
                    </div>

                    <div class="row no-gutters align-items-center lutie-12 py-2 text-gray ">
                        <div class="col-auto mr-2">
                            <div class="static-rating">
                                <div class="static-rating-item is-active">
                                    <svg class="svg-inline ">
                                        <use xlink:href="svg/svg.svg#svg-star"></use>
                                    </svg>
                                </div>
                                <div class="static-rating-item is-active">
                                    <svg class="svg-inline ">
                                        <use xlink:href="svg/svg.svg#svg-star"></use>
                                    </svg>
                                </div>
                                <div class="static-rating-item is-active">
                                    <svg class="svg-inline ">
                                        <use xlink:href="svg/svg.svg#svg-star"></use>
                                    </svg>
                                </div>
                                <div class="static-rating-item is-active">
                                    <svg class="svg-inline ">
                                        <use xlink:href="svg/svg.svg#svg-star"></use>
                                    </svg>
                                </div>
                                <div class="static-rating-item">
                                    <svg class="svg-inline ">
                                        <use xlink:href="svg/svg.svg#svg-star"></use>
                                    </svg>
                                </div>
                            </div>

                        </div>
                        <div class="col-auto mr-2">
                            <div class="cbs-meta lutie-article-meta ">
                                <span>4.5</span> / <span class="lutie-12">
                                    <svg class="svg-inline ">
                                        <use xlink:href="svg/svg.svg#svg-user"></use>
                                    </svg>
                                </span>
                                <small class="ng-binding"> 13</small>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="dropdown">
                                <a href="#" class=" " data-toggle="modal" data-target="#modalRating">
                                    Gửi đánh giá
                                </a>

                            </div>
                        </div>
                    </div>




                </div>
            </div>
        </div>

    </div>

</div>

<div class="midgard-container  shadow-sm ">
    <ul class="midgard list-unstyled " id="navbar-example2">
        <li class="midgard-item">
            <a href="#section1" class="midgard-link nav-link">Giới thiệu</a>
        </li>

        <li class="midgard-item">
            <a href="#section3" class="midgard-link nav-link">Hướng dẫn</a>
        </li>

        <li class="midgard-item">
            <a href="#section4" class="midgard-link nav-link"> Ưu đãi </a>
        </li>


    </ul>
</div>




<div class="container">

    <div class="card card-hightlight position-relative cbs-card-heo">

        <div class="cbs-card-heo-heading" style="background-image: url(images/cashback/cashback-title-bg.svg)">

            HOÀN TIỀN TIẾT KIỆM

        </div>


        <div class="card-body">
            <div class="row mb-2 align-items-center no-gutters">
                <div class="col-auto">
                    <img src="https://momo.vn/styles/desktop/images/cashback/heo-cashback.svg" width="44" class="mr-2"
                        alt="">
                </div>
                <div class="col ">
                    <h3 class="mt-0 mb-0 text-momo font-weight-bold ">
                        Hoàn tiền tại Tiki <strong class="">5%</strong> cùng Ví MoMo
                    </h3>
                </div>
            </div>

            <div class="izlude-cbs-sale">

                <div><strong>Chi tiết ưu đãi</strong></div>
                <div>Hoàn tiền 1% trên tổng hoá đơn (Áp dụng từ ngày 01/08/2019)</div>
                <div>Không hoàn tiền cho các ngành hàng sau:<br> • &ensp;Sách, văn phòng phẩm <br> • &ensp;Điện thoại,
                    máy tính bảng ti vi, laptop, điện lạnh<br> • &ensp;Vé máy bay, thẻ cào, thẻ data, thẻ game <br> •
                    &ensp;Phiếu quà tặng <br> • &ensp;Xe máy, xe đạp<br>Chỉ hoàn tiền cho các giao dịch có tất cả sản
                    phẩm đều được hoàn tiền</div><br>
                <div><br><b>Điều kiện và điều khoản</b></div>
                <div>• &ensp; Áp dụng cho tất cả các khách hàng có đăng ký ví MoMo và đang liên kết ngân hàng (ngoại trừ
                    thẻ thanh toán quốc tế) </div>
                <div>• &ensp; Hoàn tiền trên số tiền hoá đơn thanh toán (đã trừ thẻ quà tặng nếu có)</div>
                <div>• &ensp; Số tiền được hoàn tối đa vào tài khoản Hoàn tiền là 2.000.000đ/tháng </div>
                <div>• &ensp; Mỗi tài khoản Ví MoMo được nhận tối đa 6 giao dịch/ngày cho các hóa đơn thuộc dịch vụ Mua
                    sắm Online. Áp dụng từ ngày 12/09/2019.</div>
            </div>




        </div>

    </div>




    <section id="section1" class="section-scrollspy">
        <h3 class="mt-4 lutie-section-title">
            Giới thiệu về Tiki
        </h3>

        <div class="card ">

            <div class="card-body">

                <div class="js-pron-viewmore active">
                    <div class="js-pron-viewmore-content">
                        <div class="cbs-post ">

                            <span style="font-size:14px;">Thành lập từ tháng 3/2010, đến nay website <a
                                    href="https://vi.wikipedia.org/wiki/Th%C6%B0%C6%A1ng_m%E1%BA%A1i_%C4%91i%E1%BB%87n_t%E1%BB%AD">thương
                                    mại điện tử</a>&nbsp;Tiki.vn&nbsp;cung cấp các sản phẩm thuộc nhiều ngành hàng phổ
                                biến.<br>
                                Với mục tiêu tạo ra những trải nghiệm&nbsp;mua sắm trực tuyến&nbsp;tuyệt vời, Tiki.vn
                                luôn
                                nỗ lực không ngừng nhằm nâng cao chất lượng dịch vụ. Khi&nbsp;mua hàng qua mạng&nbsp;tại
                                <a href="https://tiki.vn/">Tiki.vn</a> khách hàng sẽ được hưởng các tiện ích như
                                sau:</span>
                            <ul>
                                <li><span style="font-size:14px;">Dịch vụ chăm sóc khách hàng tận tình trước-trong-sau
                                        khi
                                        mua hàng, xuyên suốt 7 ngày/tuần, từ 8:00 đến 21:00</span></li>
                                <li><span style="font-size:14px;">Mức giá cạnh tranh: hơn 90% sản phẩm được giảm giá từ
                                        10%
                                        trở lên</span></li>
                                <li><span style="font-size:14px;">Giao hàng miễn phí (đối với đơn hàng từ 150.000đ trong
                                        phạm vi TP.HCM và từ 250.000đ đối với đơn hàng giao đến các tỉnh thành khác
                                        thuộc
                                        Việt Nam)</span></li>
                                <li><span style="font-size:14px;">Tích lũy điểm thưởng&nbsp;Tiki xu&nbsp;nhận cơ hội mua
                                        hàng với giá 0đ</span></li>
                                <li><span style="font-size:14px;">Uy tín trong giao dịch - Dẫn đầu cuộc bình
                                        chọn&nbsp;website thương mại điện tử được yêu thích nhất ECAWARD năm 2012 trong
                                        cả 3
                                        hạng mục</span></li>
                            </ul>
                            <span style="font-size:14px;"> Từ ngày 15/5/2017, MoMo chính thức trở thành <a
                                    href="https://momo.vn/thanh-toan-momo-tiki">Kênh Thanh Toán mới của Tiki.vn</a>.Theo
                                đó,
                                các khách hàng khi mua hàng trên Tiki.vn, <a
                                    href="https://momo.vn/tin-tuc/hinh-anh-video/vi-sao-nguoi-dung-chon-vi-dien-tu-683">chọn
                                    MoMo</a> để thanh toán cực kỳ đơn giản: Quét mã QR rồi xác nhận số tiền, thế là
                                xong!<br>
                                <br>
                                <div class="lightgallery-item"
                                    data-src="https://static.mservice.io/blogscontents/momo-upload-api-190816095257-637015459770458224.jpg">
                                    <div class="lightgallery-item-img"><img alt=""
                                            src="https://static.mservice.io/blogscontents/momo-upload-api-190816095257-637015459770458224.jpg"
                                            style="width: 678px; height: 831px;"></div>
                                </div><br>
                                <br>
                                <div class="lightgallery-item"
                                    data-src="https://static.mservice.io/blogscontents/momo-upload-api-190816095409-637015460496783223.jpg">
                                    <div class="lightgallery-item-img"><img alt=""
                                            src="https://static.mservice.io/blogscontents/momo-upload-api-190816095409-637015460496783223.jpg"
                                            style="width: 678px; height: 795px;"></div>
                                </div>
                            </span><br>
                            <br>
                            &nbsp;
                            <div class="text-center">
                                <div style="text-align: center;"><span style="font-size:14px;"><a
                                            class="btn btn-primary font-weight-bold btn-animation"
                                            href="https://momo.vn/gioi-thieu-hoan-tien?utm_source=merchantpage&amp;utm_medium=click&amp;utm_campaign=gioithieuhoantienbutton"
                                            target="_blank">Hoàn Tiền Tiết Kiệm - Heo Đất MoMo. Truy cập
                                            ngay!</a></span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="js-pron-viewmore-btn">

                        <div class="py-2 text-center">
                            <a href="#" class=" button text-primary open">Xem thêm <span class="lutie-10"> <svg
                                        class="svg-inline  ">
                                        <use xlink:href="svg/svg.svg#svg-angle-down"></use>
                                    </svg></span> </a>
                            <a href="#" class=" button text-primary close2">Rút gọn<span class="lutie-10"> <svg
                                        class="svg-inline  ">
                                        <use xlink:href="svg/svg.svg#svg-angle-up"></use>
                                    </svg></span>
                            </a>
                        </div>

                    </div>

                </div>




                <div class="tags">
                    <h3 class=" mb-2 mt-2 font-weight-bold ">Tags:</h3>

                    <ul class="list-inline mb-0">
                        <li class="list-inline-item mb-1 mr-0">
                            <a href="/tags/circle-k" class="button is-chip is-rounded text-primary">Circle K</a>
                        </li>

                        <li class="list-inline-item mb-1 mr-0">
                            <a href="/tags/circle-k" class="button is-chip is-rounded text-primary">Thanh toán
                                Circle
                                K</a>
                        </li>

                        <li class="list-inline-item mb-1 mr-0">
                            <a href="/tags/circle-k" class="button is-chip is-rounded text-primary">Momo và Circle
                                K</a>
                        </li>

                        <li class="list-inline-item mb-1 mr-0">
                            <a href="/tags/circle-k" class="button is-chip is-rounded text-primary">Hoàn tiền Circle
                                K</a>
                        </li>

                    </ul>
                </div>

            </div>

        </div>
    </section>



    <section class="section-scrollspy" id="section2">
        <h3 class="mt-4 lutie-section-title">
                Các hình thức mua hàng trên tiki.vn bằng Ví Momo
        </h3>


        <div id="accordion" class="desaccordion">

            <div class="card">
                <div class="card-header">
                    <a class="card-link row no-gutters align-items-center" data-toggle="collapse" href="#collapseOne" aria-expanded="true">
                        <div class="col">

                            <span class=" text-dark font-weight-bold">Mua hàng trên trang web Tiki.vn</span>
                        </div>
                        <div class="col-auto">
                            <svg class="svg-inline ">
                                <use xlink:href="svg/svg.svg#svg-angle-down"></use>
                            </svg>
                        </div>
                    </a>
                </div>

                <div id="collapseOne" class="collapse show" data-parent="#accordion">
                    <div class="card-body">
                            Chương trình khuyến mãi hiện tại trên trang Tiki.vn như Tặng ngay 20% giá trị thẻ nạp và hoàn thêm 4% trực tiếp. i Chỉ áp dụng cho các thuê bao đã phát sinh cước cuộc gói trước ngày 26/08/2019.
                            Thuê bao trả trước tiện lợi là có thể hưởng các ưu đãi về nạp thẻ và thời gian sử dụng tùy vào các đợt khuyến mãi của các nhà mạng.

                        <div class="mt-4 mb-2 text-center ">
                            <a href="#" data-toggle="modal" data-target="#htu-modal" class="button is-momo font-weight-bold min-150 is-round">
                                    HƯỚNG DẪN THAO TÁC

                            </a>
                        </div>


                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <a class="card-link row no-gutters align-items-center" data-toggle="collapse" href="#collapseTwo">
                        <div class="col">
                                <span class=" text-dark font-weight-bold">Mua hàng trên ứng dụng Tiki.vn</span>
                        </div>
                        <div class="col-auto">
                            <svg class="svg-inline ">
                                <use xlink:href="svg/svg.svg#svg-angle-down"></use>
                            </svg>
                        </div>
                    </a>
                </div>
                <div id="collapseTwo" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                            Chương trình khuyến mãi hiện tại trên trang Tiki.vn như Tặng ngay 20% giá trị thẻ nạp và hoàn thêm 4% trực tiếp. i Chỉ áp dụng cho các thuê bao đã phát sinh cước cuộc gói trước ngày 26/08/2019.
                            Thuê bao trả trước tiện lợi là có thể hưởng các ưu đãi về nạp thẻ và thời gian sử dụng tùy vào các đợt khuyến mãi của các nhà mạng.

                        <div class="mt-4 mb-2 text-center ">
                            <a href="#" data-toggle="modal" data-target="#htu-modal" class="button is-momo font-weight-bold min-150 is-round">
                                    HƯỚNG DẪN THAO TÁC

                            </a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </section>


    <section class="section-scrollspy" id="section4">
        <h3 class="mt-4 lutie-section-title">
            Ưu đãi - khuyến mãi
        </h3>


        <div class="vt-new">

            <div class="swiper-container vt-new swiper-vt-new">
                <div class="swiper-wrapper">
                    {% for item in range(0,4) %}
                    <div class="swiper-slide">
                        <div class="vt-new-item">
                            <div class="card overflow-hidden mb-3">

                                <div class="embed-responsive embed-responsive-16by9 bg-gray">
                                    <img src="https://static.mservice.io/blogscontents/momo-upload-api-190823113917-637021571575899967.jpg"
                                        class="embed-responsive-img" alt="...">
                                </div>


                                <div class="card-body p-3">
                                    <div class="font-weight-bold h4">Thêm Data - Xài siêu đã: Mua MobiFone 3G trên Ví
                                        MoMo, nhận
                                        thêm đến 2.800MB Data</div>
                                    <div class="lutie-12">Từ nay đến 31/3/2019, chỉ có trên Ví MoMo: Mua MobiFone 3G
                                        (gói 30
                                        ngày) sẽ nhận thêm thẻ quà tặng dùng để...</div>
                                </div>

                                <div class="row no-gutters align-items-center px-3 py-2 border-top">
                                    <div class="col">
                                        <div class="text-small">Áp dụng: 15/03 - 31/03</div>
                                    </div>
                                    <div class="col-auto">
                                        <span class="price-tag">Mobifone</span>
                                    </div>
                                </div>




                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>

        <div class="text-center mt-3 ">
            <a href="" class="button text-primary">Xem tất cả</a>
        </div>
    </section>



</div>






{% endblock %}

{% block javascript %}

{{ super() }}
<script>
    $(document).ready(function () {
        $('.page-content').scrollspy({ target: '#navbar-example2' });



    });
</script>

{% endblock %}