{% set title = 'Gulp Des Index' %}
{% set page = 'index.html' %}

{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}

{% block popup %}

{{super()}}



{% endblock %}


{% block toolbar %}

<div class="toolbar toolbar-download">
    <div class="toolbar-inner px-3">
        <div class="row w-100 no-gutters align-items-center">
            <div class="col">
                <img src="images/home/download-text.png" class="img-fluid" width="200" alt="">
            </div>
            <div class="col-auto text-right">
                <a href="" class="button is-momo is-rounded">
                    <svg class="svg-inline ">
                        <use xlink:href="svg/svg.svg#svg-download"></use>
                    </svg>

                    Tải ngay
                </a>
            </div>
        </div>
    </div>
</div>


{% endblock %}


{% block content %}

<div class="container px-0">
    <div class="cbs-hero bg-color-white ">

        <div class="embed-responsive embed-responsive-apd">
            <img data-src="images/feature/dienluc-hero.png" class="lazyload embed-responsive-img" alt="">
        </div>


    </div>


    <div class="cbs-tree bg-white shadow-sm">
        <div class="row sm-gutters">
            <div class="col-auto">

                <div class="izlude-avatar-square cbs-avatar mt-1">
                    <img data-src="images/feature/dienluc.jpg" class="img-fluid lazyload" alt="">
                </div>

            </div>

            <div class="col">
                <div class=" ">
                    <h1 class="lutie-article-title font-weight-bold mt-0 mb-1 mr-2">Điện lực miền Nam
                        <span class="button is-small is-rounded is-primary font-weight-normal  lh-1 my-1">Thanh toán hóa
                            đơn</span>

                    </h1>

                    <div class="lutie-article-sub">
                        Tập đoàn điện lực lớn nhất Việt Nam với
                        85000 mạng lưới điện khắp cả nước.
                    </div>

                    <div class="row no-gutters align-items-center lutie-12 py-2 text-gray ">
                        <div class="col-auto mr-2">
                            <div class="static-rating">
                                <div class="static-rating-item is-active">
                                    <svg class="svg-inline ">
                                        <use xlink:href="svg/svg.svg#svg-star"></use>
                                    </svg>
                                </div>
                                <div class="static-rating-item is-active">
                                    <svg class="svg-inline ">
                                        <use xlink:href="svg/svg.svg#svg-star"></use>
                                    </svg>
                                </div>
                                <div class="static-rating-item is-active">
                                    <svg class="svg-inline ">
                                        <use xlink:href="svg/svg.svg#svg-star"></use>
                                    </svg>
                                </div>
                                <div class="static-rating-item is-active">
                                    <svg class="svg-inline ">
                                        <use xlink:href="svg/svg.svg#svg-star"></use>
                                    </svg>
                                </div>
                                <div class="static-rating-item">
                                    <svg class="svg-inline ">
                                        <use xlink:href="svg/svg.svg#svg-star"></use>
                                    </svg>
                                </div>
                            </div>

                        </div>
                        <div class="col-auto mr-2">
                            <div class="cbs-meta lutie-article-meta ">
                                <span>4.5</span> / <span class="lutie-12">
                                    <svg class="svg-inline ">
                                        <use xlink:href="svg/svg.svg#svg-user"></use>
                                    </svg>
                                </span>
                                <small class="ng-binding"> 13</small>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="dropdown">
                                <a href="#" class=" " data-toggle="modal" data-target="#modalRating">
                                    Gửi đánh giá
                                </a>

                            </div>
                        </div>
                    </div>




                </div>
            </div>
        </div>

    </div>

</div>

<div class="midgard-container  shadow-sm ">
    <ul class="midgard list-unstyled " id="navbar-example2">
        <li class="midgard-item">
            <a href="#section1" class="midgard-link nav-link">Giới thiệu</a>
        </li>

        <li class="midgard-item">
            <a href="#section2" class="midgard-link nav-link">Khu vực</a>
        </li>
        <li class="midgard-item">
            <a href="#section3" class="midgard-link nav-link">Hướng dẫn</a>
        </li>

        <li class="midgard-item">
            <a href="#section4" class="midgard-link nav-link">Tin tức</a>
        </li>
        <li class="midgard-item">
            <a href="#section5" class="midgard-link nav-link">Câu hỏi</a>
        </li>
        <li class="midgard-item">
            <a href="#section6" class="midgard-link nav-link">Đối tác</a>
        </li>

    </ul>
</div>

<div class="container px-0 ">

    <div class="alert alert-warning mb-3 mt-3" role="alert">

        <a href="" class="alert-close opacity-3">
            <svg class="svg-inline">
                <use xlink:href="svg/svg.svg#svg-error"></use>
            </svg>
        </a>

        <h4 class="alert-title font-weight-bold mb-1">
            Giúp chúng tôi hiểu bạn hơn
        </h4>

        <div>
            Trải nghiệm phiên bản cá nhân hoá bằng cách cho chúng tôi biết những dịch vụ thanh toán bạn quan
            tâm và khu vực bạn đang sinh sống
        </div>

        <div class="text-center mt-2">
            <a href="" class="button is-primary is-rounded ">Bắt đầu ngay</a>
        </div>

    </div>

</div>

<div class="container">
    <section id="section1" class="section-scrollspy">
        <h3 class="mt-4 lutie-section-title">
            Giới thiệu về điện lực miền Nam
        </h3>

        <div class="card ">

            <div class="card-body">

                    <div class="js-pron-viewmore active">
                            <div class="js-pron-viewmore-content">
                                <div class="cbs-post ">
                                    <p style="text-align: justify;" class="">Bắt đầu từ năm 1951 tại bang Texas, Mỹ, tới nay,
                                        <strong>Circle
                                            K</strong> đã
                                        trở thành một trong những thương hiệu cửa hàng tiện lợi uy tín rộng khắp, nổi tiếng vì
                                        chất
                                        lượng
                                        sản phẩm
                                        và dịch vụ chăm sóc khách hàng tuyệt vời với hơn 16.000 cửa hàng trên toàn thế giới.</p>
        
                                    <p style="text-align: justify;">Tại Việt Nam, <a
                                            href="https://www.circlek.com.vn/vi/"><strong>Circle
                                                K</strong></a> chú trọng vào việc phát triển nhanh chóng trong lĩnh vực kinh
                                        doanh chuỗi
                                        cửa
                                        hàng tiện
                                        lợi theo giấy phép nhượng quyền thương hiệu của Circle K Mỹ. Circle K tự hào là chuỗi
                                        cửa hàng
                                        tiện
                                        lợi quốc
                                        tế đầu tiên tại Việt Nam.</p>
        
                                    <p style="text-align: justify;"><strong>Circle K Việt Nam</strong> hiện đã có hơn 300 cửa
                                        hàng tại
                                        các
                                        thành
                                        phố lớn như Hà Nội, Hạ Long, Hồ Chí Minh, Vũng Tàu, và sẽ còn tiếp tục phát triển để đáp
                                        ứng nhu
                                        cầu
                                        của
                                        khách hàng ở khắp mọi nơi.</p>
        
                                    <p style="text-align: justify;">Cam Kết Dịch Vụ của Circle K đối với khách hàng được gói gọn
                                        trong 4
                                        chữ
                                        F
                                        (4Fs) (Tươi, Thân Thiện, Nhanh, và Đầy Đủ).</p>
        
                                    <p style="text-align: justify;">Circle K là một trong những đối tác quan trọng của <a
                                            href="https://momo.vn/">Ví MoMo</a>. Hiện tại, khách hàng đã có thể <a
                                            href="https://momo.vn/thanh-toan-momo-circlek">thanh toán bằng Ví MoMo</a> tại các
                                        cửa hàng
                                        của
                                        Circle K,
                                        góp phần làm cho việc thanh toán trở nên nhanh chóng và tiện lợi hơn bao giờ hết.</p>
        
                                </div>
                            </div>
                            <div class="js-pron-viewmore-btn">
        
                                <div class="py-2 text-center">
                                    <a href="#" class=" button text-primary open">Xem thêm  <span class="lutie-10"> <svg class="svg-inline  ">
                                            <use xlink:href="svg/svg.svg#svg-angle-down"></use>
                                        </svg></span> </a>
                                    <a href="#" class=" button text-primary close2">Rút gọn<span class="lutie-10"> <svg class="svg-inline  ">
                                            <use xlink:href="svg/svg.svg#svg-angle-up"></use>
                                        </svg></span>
                                    </a>
                                </div>
        
                            </div>
        
                        </div>
        

                <div class="py-3 text-center">
                    <a href="#modalBaiViet" class=" button text-primary" data-toggle="modal">Xem
                        chi tiết</a>
                </div>


                <div class="tags">
                    <h3 class=" mb-2 mt-2 font-weight-bold ">Tags:</h3>

                    <ul class="list-inline mb-0">
                        <li class="list-inline-item mb-1 mr-0">
                            <a href="/tags/circle-k" class="button is-chip is-rounded text-primary">Circle K</a>
                        </li>

                        <li class="list-inline-item mb-1 mr-0">
                            <a href="/tags/circle-k" class="button is-chip is-rounded text-primary">Thanh toán
                                Circle
                                K</a>
                        </li>

                        <li class="list-inline-item mb-1 mr-0">
                            <a href="/tags/circle-k" class="button is-chip is-rounded text-primary">Momo và Circle
                                K</a>
                        </li>

                        <li class="list-inline-item mb-1 mr-0">
                            <a href="/tags/circle-k" class="button is-chip is-rounded text-primary">Hoàn tiền Circle
                                K</a>
                        </li>

                    </ul>
                </div>

            </div>

        </div>
    </section>

    <section id="section2" class="section-scrollspy">
        <h3 class="mt-4 lutie-section-title">
            Khu vực hỗ trợ thanh toán
        </h3>


        <div class="input-group search-topbar-input">

            <input type="text" class="input border-0 search-topbar-input" placeholder="Tìm tỉnh thành">
            <div class="input-group-icon">
                <svg class="svg-inline svg  ">
                    <use xlink:href="svg/svg.svg#svg-search"></use>
                </svg>
            </div>

        </div>

        <div class="list">
            <ul>
                {% for item in range(0,3) %}
                <li class=" ">
                    <div class="item-content">
                        <div class="item-inner ml-0">

                            <div class="item-name">
                                Đồng nai
                            </div>


                        </div>
                    </div>
                </li>

                <li class=" ">
                    <div class="item-content">
                        <div class="item-inner ml-0">

                            <div class="item-name">
                                Cần thơ
                            </div>
                        </div>
                    </div>
                </li>

                {% endfor %}


            </ul>
        </div>

    </section>

    <section id="section3" class="section-scrollspy">
        <h3 class="mt-4 lutie-section-title">
            Hướng dẫn thanh toán
        </h3>

        <div class="list">
            <ul>

                <li class="">
                    <a href="#" class="item-content item-link" data-toggle="modal" data-target="#htu-modal">

                        <div class="item-inner ml-0">

                            <div class="item-title">
                                Thanh toán tiền điện
                            </div>

                            <div class="item-after lutie-12">
                                <svg class="svg-inline ">
                                    <use xlink:href="svg/svg.svg#svg-angle-right"></use>
                                </svg>
                            </div>

                        </div>
                    </a>
                </li>

                <li class="">
                    <a href="#" class="item-content item-link" data-toggle="modal" data-target="#htu-modal">

                        <div class="item-inner ml-0">

                            <div class="item-title">
                                Thống kê chi phí
                            </div>

                            <div class="item-after lutie-12">
                                <svg class="svg-inline ">
                                    <use xlink:href="svg/svg.svg#svg-angle-right"></use>
                                </svg>
                            </div>

                        </div>
                    </a>
                </li>
            </ul>
        </div>

        <div class="text-center mt-3">
            <a href="" class="button is-momo is-rounded">Thanh toán ngay</a>
        </div>
    </section>
    <section id="section4" class="section-scrollspy">
        <h3 class="mt-4 lutie-section-title">
            Tin tức về Điện lực miền Nam
        </h3>

        <div class="nw ">
            {% for item in range(0,4) %}
            <div class="nw-item">
                <div class="row no-gutters">
                    <div class="col-auto">
                        <div class="nw-item-img mr-3">
                            <img data-src="https://static.mservice.io/blogscontents/s770x370/momo-upload-api-190823181946-637021811862379665.jpg"
                                class="img-fluid lazyload" alt="">
                        </div>
                    </div>
                    <div class="col">
                        <h4>Chu du khắp chốn cùng Vietjet Air, nhận phần quà du hí 400.000 đồng</h4>

                        <div class="text-secondary lutie-12">23/08/2019</div>
                    </div>

                </div>

            </div>

            {% endfor %}
        </div>

        <div class="text-center mt-3">
            <a href="" class="button text-primary">Xem tất cả</a>
        </div>
    </section>

    <section id="section5" class="section-scrollspy">
        <h3 class="mt-4 lutie-section-title">
            Các câu hỏi thường gặp
        </h3>

        <!-- Nav tabs -->
        <ul class="nav desnav">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#home">Nạp tiền điện thoại trả trước</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#menu1">Nạp tiền điện thoại trả trước</a>
            </li>
            '
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active " id="home">

                <div id="accordion2" class="desaccordion pb-4">

                    <div class="card">
                        <div class="card-header">
                            <a class="card-link row no-gutters align-items-center" data-toggle="collapse"
                                href="#cauhoi1">
                                <div class="col">

                                    <strong class="text-dark">Tôi đã nạp thẻ mà sao tài khoản chưa có tiền?</strong>
                                </div>
                                <div class="col-auto">
                                    <svg class="svg-inline ">
                                        <use xlink:href="svg/svg.svg#svg-angle-down"></use>
                                    </svg>
                                </div>
                            </a>
                        </div>

                        <div id="cauhoi1" class="collapse " data-parent="#accordion">
                            <div class="card-body">
                                <p>
                                    Ứng dụng Ví điện tử MoMo là sản phẩm của Công ty Cổ phần Dịch vụ Di động Trực tuyến
                                    (M_Service).
                                    Ứng dụng cho phép bạn tạo và nạp tiền vào tài khoản MoMo để thanh toán cho hơn 200
                                    dịch
                                    vụ như
                                    nạp tiền điện thoại, thanh toán điện nước, thanh toán vay tiêu dùng, v.v...

                                </p>
                                <p>

                                    M_Service là đối tác chiến lược của Vietcombank, OCB, VPBank, Vietinbank, TPBank,
                                    ACB,
                                    Eximbank,
                                    Sacombank, VIB, BIDV và Shinhan Bank. Từ ngày 16/10/2015, M_Service được Ngân hàng
                                    Nhà
                                    nước Việt
                                    Nam cấp giấy phép cung cấp dịch vụ Ví điện tử số 16/GP-NHNN.
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="card">
                        <div class="card-header">
                            <a class="card-link row no-gutters align-items-center" data-toggle="collapse"
                                href="#cauhoi2">
                                <div class="col">

                                    <strong class="text-dark">Mã thẻ không đúng, không nhập được? Số
                                        Serial không có?</strong>
                                </div>
                                <div class="col-auto">
                                    <svg class="svg-inline ">
                                        <use xlink:href="svg/svg.svg#svg-angle-down"></use>
                                    </svg>
                                </div>
                            </a>
                        </div>

                        <div id="cauhoi2" class="collapse " data-parent="#accordion">
                            <div class="card-body">
                                <p>
                                    Ứng dụng Ví điện tử MoMo là sản phẩm của Công ty Cổ phần Dịch vụ Di động Trực tuyến
                                    (M_Service).
                                    Ứng dụng cho phép bạn tạo và nạp tiền vào tài khoản MoMo để thanh toán cho hơn 200
                                    dịch
                                    vụ như
                                    nạp tiền điện thoại, thanh toán điện nước, thanh toán vay tiêu dùng, v.v...

                                </p>
                                <p>

                                    M_Service là đối tác chiến lược của Vietcombank, OCB, VPBank, Vietinbank, TPBank,
                                    ACB,
                                    Eximbank,
                                    Sacombank, VIB, BIDV và Shinhan Bank. Từ ngày 16/10/2015, M_Service được Ngân hàng
                                    Nhà
                                    nước Việt
                                    Nam cấp giấy phép cung cấp dịch vụ Ví điện tử số 16/GP-NHNN.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane " id="menu1">...</div>
        </div>

    </section>

    <section id="section6" class="section-scrollspy">
        <h3 class="mt-1 lutie-section-title">
            Các đối tác thanh toán khác
        </h3>

        <div class="cashback-hori">
            {% for item in range(0,10) %}
            <div class="cashback-hori-item">
                <a href="single.html" class="link-absolute"></a>
                <div class="cashback-hori-img">
                    <div class="embed-responsive embed-responsive-1by1">
                        <img data-src="https://img.mservice.io/momo_app_v2/new_version/img/icon/Cashback_BaskinRobins.png"
                            class="embed-responsive-img lazyload" alt="">
                    </div>
                </div>

                <div class="cashback-hori-content">

                    <div class="name text-truncate">
                        Baskin Robbins
                    </div>

                    <div class="desc text-truncate">
                        Tiệm kem Baskin Robbins
                    </div>

                </div>

                <div class="cashback-hori-value">
                    <div class="cashback-hori-number d-flex align-items-center justify-content-center text-center">
                        <div>
                            Hoàn
                            <span class="d-block font-weight-bold">47%</span>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
    </section>


</div>





{% endblock %}

{% block javascript %}

{{ super() }}
<script>
    $(document).ready(function () {
        $('.page-content').scrollspy({ target: '#navbar-example2' })


    });
</script>

{% endblock %}