{% set title = 'Gulp Des Index' %}
{% set page = 'index.html' %}

{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}

{% block popup %}

{{super()}}


{% endblock %}





{% block content %}

<div class="container px-0">
    <div class="cbs-hero bg-color-white ">

        <div class="embed-responsive embed-responsive-slider">
            <img data-src="https://static.mservice.io/placebrand/s/momo-upload-api-190610112959-636957629997230108.jpg"
                class="lazyload embed-responsive-img" alt="">
        </div>


    </div>


    <div class="cbs-tree bg-white shadow-sm">
        <div class="row sm-gutters">
            <div class="col-auto">


                <div class="izlude-avatar-square cbs-avatar mt-1">
                    <img data-src="https://static.mservice.io/placebrand/s/momo-upload-api-190530102333-636948086134202053.png"
                        class="img-fluid lazyload" alt="">
                </div>

            </div>
            <div class="col">
                <div class=" ">
                    <h1 class="lutie-article-title font-weight-bold mt-0 mb-1">Circle K

                        <span class="button is-small is-rounded is-primary font-weight-normal ml-1 lh-1">Viễn
                            thông</span>
                    </h1>

                    <div class="lutie-article-sub">
                        Chuỗi siêu thị bán lẻ lớn nhất Việt Nam
                    </div>

                    <div class="row no-gutters align-items-center lutie-12 py-2 text-gray ">
                        <div class="col-auto mr-2">
                            <div class="static-rating">
                                <div class="static-rating-item is-active">
                                    <svg class="svg-inline ">
                                        <use xlink:href="svg/svg.svg#svg-star"></use>
                                    </svg>
                                </div>
                                <div class="static-rating-item is-active">
                                    <svg class="svg-inline ">
                                        <use xlink:href="svg/svg.svg#svg-star"></use>
                                    </svg>
                                </div>
                                <div class="static-rating-item is-active">
                                    <svg class="svg-inline ">
                                        <use xlink:href="svg/svg.svg#svg-star"></use>
                                    </svg>
                                </div>
                                <div class="static-rating-item is-active">
                                    <svg class="svg-inline ">
                                        <use xlink:href="svg/svg.svg#svg-star"></use>
                                    </svg>
                                </div>
                                <div class="static-rating-item">
                                    <svg class="svg-inline ">
                                        <use xlink:href="svg/svg.svg#svg-star"></use>
                                    </svg>
                                </div>
                            </div>

                        </div>
                        <div class="col-auto mr-2">
                            <div class="cbs-meta lutie-article-meta ">
                                <span>4.5</span> / <span class="lutie-12">
                                    <svg class="svg-inline ">
                                        <use xlink:href="svg/svg.svg#svg-user"></use>
                                    </svg>
                                </span>
                                <small class="ng-binding"> 13</small>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="dropdown">
                                <a href="#" class=" " data-toggle="modal" data-target="#modalRating">
                                    Gửi đánh giá
                                </a>

                            </div>
                        </div>
                    </div>


                    <div class="lutie-12 text-gray">
                        <a href="">
                            <svg class="svg-inline ">
                                <use xlink:href="svg/svg.svg#svg-map-marker-alt"></use>
                            </svg>
                            82 địa điểm trong hệ thống </a>
                    </div>


                </div>
            </div>
        </div>


        <div class="cbs-sale">

        </div>

    </div>
</div>

<div class="midgard-container ">
    <ul class="midgard list-unstyled " id="navbar-example2">
        <li class="midgard-item">
            <a href="#section1" class="midgard-link nav-link">Giới thiệu</a>
        </li>

        <li class="midgard-item">
            <a href="#section2" class="midgard-link nav-link">Khu vực</a>
        </li>
        <li class="midgard-item">
            <a href="#section3" class="midgard-link nav-link">Hướng dẫn</a>
        </li>

        <li class="midgard-item">
            <a href="#section4" class="midgard-link nav-link">Tin tức</a>
        </li>

    </ul>
</div>

<div class="container mt-4">


    <style>
        .cashback-countdown-container {
            border-radius: 5px;
            background: #fff7f2;
            border: 1px solid #ffd5ba;
            padding: 15px 15px;
            margin-bottom: 20px;
        }




        .js-countdown {
            margin: 0 auto;
            width: 250px;
        }

        .js-countdown .countdown-container {
            height: 90px;
        }

        .js-countdown .time {
            border-radius: 5px;
            -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), inset 2px 4px 0 0 rgba(255, 255, 255, 0.08);
            box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), inset 2px 4px 0 0 rgba(255, 255, 255, 0.08);

            display: inline-block;
            text-align: center;
            position: relative;
            height: 50px;
            width: 47px;
            margin-left: 10px;
            word-spacing: 0;
            letter-spacing: normal;
            text-rendering: auto;


            -webkit-perspective: 479px;


            perspective: 479px;


            -webkit-backface-visibility: hidden;


            backface-visibility: hidden;


            -webkit-transform: translateZ(0);


            transform: translateZ(0);

            -webkit-transform: translate3d(0, 0, 0);

            transform: translate3d(0, 0, 0);
        }

        .countdown-container .time:first-child {
            margin-left: 0;
        }

        .js-countdown .count {
            background: white;
            color: #c10017;
            display: block;
            font-size: 25px;
            font-weight: bold;
            line-height: 2em;
            overflow: hidden;
            position: absolute;
            text-align: center;
            top: 0;
            width: 100%;

            -webkit-transform: translateZ(0);

            transform: translateZ(0);

            -webkit-transform-style: flat;

            transform-style: flat;
        }

        .js-countdown .count.top {

            border-radius: 5px 5px 0 0;
            height: 50%;

            -webkit-transform-origin: 50% 100%;

            transform-origin: 50% 100%;
        }

        .js-countdown .count.bottom {
            background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.02)));
            background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.02));

            border-top: 1px solid rgba(0, 0, 0, 0.1);

            border-radius: 0 0 5px 5px;
            line-height: 0;
            height: 50%;
            top: 50%;


            -webkit-transform-origin: 50% 0;


            transform-origin: 50% 0;
        }

        .js-countdown .count.next {}

        .js-countdown .label {
            font-size: normal;
            margin-top: 5px;
            display: block;
            position: absolute;
            top: 60px;
            font-size: 13px;
            width: 100%;
        }

        /* Animation start */
        .js-countdown .count.curr.top {

            -webkit-transform: rotateX(0deg);

            transform: rotateX(0deg);
            z-index: 3;
        }

        .js-countdown .count.next.bottom {

            -webkit-transform: rotateX(90deg);

            transform: rotateX(90deg);
            z-index: 2;
        }

        /* Animation end */
        .js-countdown .flip .count.curr.top {

            -webkit-transition: all 250ms ease-in-out;

            transition: all 250ms ease-in-out;

            -webkit-transform: rotateX(-90deg);

            transform: rotateX(-90deg);
        }

        .js-countdown .flip .count.next.bottom {

            -webkit-transition: all 250ms ease-in-out 250ms;

            transition: all 250ms ease-in-out 250ms;


            -webkit-transform: rotateX(0deg);


            transform: rotateX(0deg);
        }
    </style>
    <div class="cashback-countdown-container">

        <h3 class="font-weight-bold">Dùng Ví Momo thanh toán Co.Op Smile <span class="text-primary">hoàn tiền đến
                50%</span></h3>

        <p class="">
            Viết ngắn gọn 2-3 dòng thôi !!! Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incidi dunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        </p>

        <div class="row no-gutters align-items-center">
            <div class="col text-right ">
                <img src="https://static.mservice.io/images/s/momo-upload-api-191016145902-637068347428824674.png"
                    class="img-fluid" width="60" alt="">
            </div>

            <div class="col-auto">

                <div class="mb-3">
                    <img src="https://static.mservice.io/images/s/momo-upload-api-191016145057-637068342571802493.png"
                        width="200" class="img-fluid mx-auto d-block" alt="">
                </div>


            </div>

            <div class="col ">
                <img src="https://static.mservice.io/images/s/momo-upload-api-191016145857-637068347372560937.png"
                    class="img-fluid" width="60" alt="">
            </div>
        </div>

        <div class="text-center">
            <div class="js-countdown">
                <div class="countdown-container text-center" id="js-countdown"></div>
            </div>

            <div class="text-center mt-2 mb-2">
                <a href="" class="button is-primary font-weight-bold is-round is-outlined min-150">Tìm hiểu ngay</a>
            </div>
        </div>
    </div>


    <div class="card card-hightlight position-relative cbs-card-heo">

        <div class="cbs-card-heo-heading" style="background-image: url(images/cashback/cashback-title-bg.svg)">

            HOÀN TIỀN TIẾT KIỆM

        </div>


        <div class="card-body">
            <div class="row mb-2 align-items-center no-gutters">
                <div class="col-auto">
                    <img src="https://momo.vn/styles/desktop/images/cashback/heo-cashback.svg" width="44" class="mr-2"
                        alt="">
                </div>
                <div class="col ">
                    <h3 class="mt-0 mb-0 text-momo font-weight-bold ">
                        Hoàn tiền tại Circle K <strong class="">5%</strong> cùng Ví MoMo
                    </h3>
                </div>
            </div>

            <div class="izlude-cbs-sale">
                <div><strong>Chi tiết ưu đãi</strong></div>
                <div>Hoàn tiền 5% trên tổng hoá đơn (Áp dụng từ ngày 08/08/2019).</div><br>
                <div><strong>Điều kiện và điều khoản</strong></div>
                <div>&ensp; • &ensp; Áp dụng cho tất cả các khách hàng có đăng ký ví MoMo và đang liên kết ngân hàng
                    (ngoại
                    trừ thẻ thanh toán quốc tế) </div>
                <div>&ensp; • &ensp; Hoàn tiền trên số tiền hoá đơn thanh toán (đã trừ thẻ quà tặng nếu có)</div>
                <div>&ensp; • &ensp; Số tiền được hoàn tối đa vào tài khoản Hoàn tiền là 2.000.000đ/tháng </div>
                <div>&ensp; • &ensp; Mỗi tài khoản Ví MoMo được nhận tối đa 6 lần hoàn tiền/ngày. Tính từ 00h00 đến
                    23h59
                    trong ngày.(Áp dụng từ ngày 09/08/2019)</div>


            </div>

        </div>

    </div>

    <section class="section-scrollspy" id="section1">
        <h3 class="mt-4 lutie-section-title">
            Thanh toán Circle K bằng Ví MoMo
        </h3>


        <div class="card ">

            <div class="card-body">

                <div class="js-pron-viewmore active">
                    <div class="js-pron-viewmore-content">
                        <div class="cbs-post ">
                            <p style="text-align: justify;" class="">Bắt đầu từ năm 1951 tại bang Texas, Mỹ, tới nay,
                                <strong>Circle
                                    K</strong> đã
                                trở thành một trong những thương hiệu cửa hàng tiện lợi uy tín rộng khắp, nổi tiếng vì
                                chất
                                lượng
                                sản phẩm
                                và dịch vụ chăm sóc khách hàng tuyệt vời với hơn 16.000 cửa hàng trên toàn thế giới.</p>

                            <p style="text-align: justify;">Tại Việt Nam, <a
                                    href="https://www.circlek.com.vn/vi/"><strong>Circle
                                        K</strong></a> chú trọng vào việc phát triển nhanh chóng trong lĩnh vực kinh
                                doanh chuỗi
                                cửa
                                hàng tiện
                                lợi theo giấy phép nhượng quyền thương hiệu của Circle K Mỹ. Circle K tự hào là chuỗi
                                cửa hàng
                                tiện
                                lợi quốc
                                tế đầu tiên tại Việt Nam.</p>

                            <p style="text-align: justify;"><strong>Circle K Việt Nam</strong> hiện đã có hơn 300 cửa
                                hàng tại
                                các
                                thành
                                phố lớn như Hà Nội, Hạ Long, Hồ Chí Minh, Vũng Tàu, và sẽ còn tiếp tục phát triển để đáp
                                ứng nhu
                                cầu
                                của
                                khách hàng ở khắp mọi nơi.</p>

                            <p style="text-align: justify;">Cam Kết Dịch Vụ của Circle K đối với khách hàng được gói gọn
                                trong 4
                                chữ
                                F
                                (4Fs) (Tươi, Thân Thiện, Nhanh, và Đầy Đủ).</p>

                            <p style="text-align: justify;">Circle K là một trong những đối tác quan trọng của <a
                                    href="https://momo.vn/">Ví MoMo</a>. Hiện tại, khách hàng đã có thể <a
                                    href="https://momo.vn/thanh-toan-momo-circlek">thanh toán bằng Ví MoMo</a> tại các
                                cửa hàng
                                của
                                Circle K,
                                góp phần làm cho việc thanh toán trở nên nhanh chóng và tiện lợi hơn bao giờ hết.</p>

                        </div>
                    </div>
                    <div class="js-pron-viewmore-btn">

                        <div class="py-2 text-center">
                            <a href="#" class=" button text-primary open">Xem thêm <span class="lutie-10"> <svg
                                        class="svg-inline  ">
                                        <use xlink:href="svg/svg.svg#svg-angle-down"></use>
                                    </svg></span> </a>
                            <a href="#" class=" button text-primary close2">Rút gọn<span class="lutie-10"> <svg
                                        class="svg-inline  ">
                                        <use xlink:href="svg/svg.svg#svg-angle-up"></use>
                                    </svg></span>
                            </a>
                        </div>

                    </div>

                </div>







                <div class="tags">
                    <h3 class=" mb-2 mt-2 font-weight-bold ">Tags:</h3>

                    <ul class="list-inline mb-0">
                        <li class="list-inline-item mb-1 mr-0">
                            <a href="/tags/circle-k" class="button is-chip is-rounded text-primary">Circle K</a>
                        </li>

                        <li class="list-inline-item mb-1 mr-0">
                            <a href="/tags/circle-k" class="button is-chip is-rounded text-primary">Thanh toán Circle
                                K</a>
                        </li>

                        <li class="list-inline-item mb-1 mr-0">
                            <a href="/tags/circle-k" class="button is-chip is-rounded text-primary">Momo và Circle K</a>
                        </li>

                        <li class="list-inline-item mb-1 mr-0">
                            <a href="/tags/circle-k" class="button is-chip is-rounded text-primary">Hoàn tiền Circle
                                K</a>
                        </li>

                    </ul>
                </div>

            </div>

        </div>
    </section>

    <section class="section-scrollspy" id="section2">
        <div class="row no-gutters mt-4 ">
            <div class="col">
                <h3 class="lutie-section-title">
                    Cửa hàng
                </h3>
            </div>
            <div class="col-auto">
                <a href="">Cửa hàng gần bạn nhất</a>
            </div>
        </div>

        <div class="row sm-gutters">
            <div class="col-3">
                <div class="dropdown ">

                    <div class="input-group btn-group have-arrow-down ">

                        <button class="input dropdown-toggle text-left" type="button" id="dropdownTinhThanh"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                            TP. Hồ Chí Minh
                        </button>

                        <div class="dropdown-menu py-0 dropdown-menu-icon is-scroll" aria-labelledby="dropdownTinhThanh"
                            style="max-width: 300px; width: 300px">
                            <div class="list is-simple list-border-0">
                                <ul class="d-flex flex-wrap">
                                    {% for item in range(0,2) %}

                                    <li class="w-50 {% if loop.index == 1 %} opacity-5  {% endif %}">
                                        <a href="#" class="">
                                            TP. Hồ Chí Minh
                                        </a>
                                    </li>

                                    <li class="w-50">
                                        <a href="#" class="">
                                            Nha Trang
                                        </a>
                                    </li>

                                    <li class="w-50">
                                        <a href="#" class="">
                                            Đà lạt
                                        </a>
                                    </li>


                                    {% endfor %}

                                </ul>
                            </div>





                        </div>


                    </div>

                </div>
            </div>
            <div class="col-3">
                <div class="dropdown ">

                    <div class="input-group btn-group have-arrow-down ">

                        <button class="input dropdown-toggle text-left" type="button" id="dropdownQuanHuyen"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                            Chọn Quận/ Huyện
                        </button>

                        <div class="dropdown-menu  py-0 dropdown-menu-icon is-scroll"
                            aria-labelledby="dropdownQuanHuyen" style="max-width: 300px; width: 300px">
                            <div class="list is-simple list-border-0">
                                <ul class="d-flex flex-wrap">
                                    {% for item in range(0,4) %}

                                    <li class="w-50 {% if loop.index == 1 %} opacity-5 {% endif %}">
                                        <a href="#" class="">
                                            Quận 1
                                        </a>
                                    </li>

                                    <li class="w-50">
                                        <a href="#" class="">
                                            Quận 2
                                        </a>
                                    </li>

                                    <li class="w-50">
                                        <a href="#" class="">
                                            Quận 3
                                        </a>
                                    </li>


                                    {% endfor %}

                                </ul>
                            </div>





                        </div>


                    </div>

                </div>
            </div>
        </div>

        <div class="card mt-2 ">

            <div class="card-body p-0">


                <div class="list list-border-0  is-media  cbs-address-list">
                    <ul>
                        {% for item in range(0,4) %}
                        <li>
                            <div class="item-link item-content  ">
                                <div class="item-media  align-self-auto"><img
                                        src="https://static.mservice.io/placebrand/s/momo-upload-api-190530102333-636948086134202053.png"
                                        class="izlude-avatar-square-md">
                                </div>
                                <div class="item-inner">

                                    <div class="row no-gutter">
                                        <div class="col">
                                            <div class="text-truncate text-gray lutie-12">Circle K - 104 Hồ Tùng Mậu
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <a href="" class="lutie-12">
                                                <svg class="svg-inline ">
                                                    <use xlink:href="svg/svg.svg#svg-navigation"></use>
                                                </svg>

                                                Chỉ đường
                                            </a>
                                        </div>
                                    </div>

                                    <div class="lutie-14 ">104 Hồ Tùng Mậu, Phường Bến Nghé, Quận 1, Thành Phố Hồ Chí
                                        Minh
                                    </div>
                                </div>
                            </div>
                        </li>

                        {% endfor %}


                    </ul>




                </div>
                <div class="text-center p-4">
                    <div class="spinner-border text-secondary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>


                <div class="py-3 text-center">
                    <a href="#" class=" button text-primary">Xem
                        chi tiết</a>
                </div>



            </div>

        </div>
    </section>

    <section class="section-scrollspy" id="section3">
        <h3 class="mt-4 lutie-section-title">
            Mua hàng bằng ví Momo
        </h3>

        <div id="pay-accordion" class="desaccordion">

            <div class="card">
                <div class="card-header">
                    <a class="card-link row no-gutters align-items-center collapsed" data-toggle="collapse"
                        href="#pay-collapseOne-82" aria-expanded="false">
                        <div class="col">

                            <span class=" text-dark font-weight-bold">Hướng dẫn 123</span>
                        </div>
                        <div class="col-auto">
                            <svg class="svg-inline ">
                                <use xlink:href="#svg-angle-down"></use>
                            </svg>
                        </div>
                    </a>
                </div>

                <div id="pay-collapseOne-82" class="collapse" data-parent="#pay-accordion" style="">
                    <div class="card-body">
                        23dzfgdfg df


                        <div class="mt-4 mb-2 text-center ">
                            <a href="javascript:void(0)" ng-click="ShowHelpArticle('306',$event)"
                                data-title="Hướng dẫn 123" data-cta-name="" data-cta-url=""
                                class="button is-momo font-weight-bold min-150 is-round">
                                HƯỚNG DẪN THAO TÁC
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <a class="card-link row no-gutters align-items-center collapsed" data-toggle="collapse"
                        href="#pay-collapseOne-83" aria-expanded="false">
                        <div class="col">

                            <span class=" text-dark font-weight-bold">Giới thiệu 123</span>
                        </div>
                        <div class="col-auto">
                            <svg class="svg-inline ">
                                <use xlink:href="#svg-angle-down"></use>
                            </svg>
                        </div>
                    </a>
                </div>

                <div id="pay-collapseOne-83" class="collapse" data-parent="#pay-accordion" style="">
                    <div class="card-body">
                        nội dung giới thiệu


                        <div class="mt-4 mb-2 text-center ">
                            <a href="javascript:void(0)" ng-click="ShowHelpArticle('308',$event)"
                                data-title="Giới thiệu 123" data-cta-name="" data-cta-url=""
                                class="button is-momo font-weight-bold min-150 is-round">
                                HƯỚNG DẪN THAO TÁC
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <a class="card-link row no-gutters align-items-center" data-toggle="collapse"
                        href="#pay-collapseOne-81" aria-expanded="true">
                        <div class="col">

                            <span class=" text-dark font-weight-bold">Nạp tiền MoMo</span>
                        </div>
                        <div class="col-auto">
                            <svg class="svg-inline ">
                                <use xlink:href="#svg-angle-down"></use>
                            </svg>
                        </div>
                    </a>
                </div>

                <div id="pay-collapseOne-81" class="collapse show" data-parent="#pay-accordion" style="">
                    <div class="card-body">
                        Hướng dẫn nạp tiền vào MoMo để xem Heobong


                        <div class="mt-4 mb-2 text-center " id="ha-group-530"
                            ng-init="RenderHelpArticleGroup('530','#ha-group-530')">
                            <div class="list htu-list ng-scope" ng-show="ModelGroup.Groups.length>0"
                                ng-controller="DlgHelpArticleCtrl" ng-init="Init()" id="BindHelpArticle_1570157604905">
                                <ul>
                                    <!-- ngRepeat: group in ModelGroup.Groups -->
                                    <li class="ng-scope" ng-repeat="group in ModelGroup.Groups">
                                        <!-- ngIf: group.Items.length>1 -->
                                        <!-- ngIf: group.Items.length==1 -->
                                        <div ng-if="group.Items.length==1" class="ng-scope">
                                            <a ng-click="ShowBlocksRender(group.Name,group.Items[0].Blocks)"
                                                class="item-content item-link">

                                                <div class="item-inner ml-0">

                                                    <div class="item-title ng-binding" ng-bind="group.Name">Tải Và Đăng
                                                        Ký </div>

                                                    <div class="item-after lutie-12">
                                                        <svg class="svg-inline ">
                                                            <use xlink:href="svg/svg.svg#svg-angle-right"></use>
                                                        </svg>
                                                    </div>

                                                </div>
                                            </a>
                                        </div><!-- end ngIf: group.Items.length==1 -->
                                    </li><!-- end ngRepeat: group in ModelGroup.Groups -->
                                    <li class="ng-scope" ng-repeat="group in ModelGroup.Groups">
                                        <!-- ngIf: group.Items.length>1 -->
                                        <!-- ngIf: group.Items.length==1 -->
                                        <div ng-if="group.Items.length==1" class="ng-scope">
                                            <a ng-click="ShowBlocksRender(group.Name,group.Items[0].Blocks)"
                                                class="item-content item-link">

                                                <div class="item-inner ml-0">

                                                    <div class="item-title ng-binding" ng-bind="group.Name">Nhập Mã
                                                        Khuyến Mãi</div>

                                                    <div class="item-after lutie-12">
                                                        <svg class="svg-inline ">
                                                            <use xlink:href="svg/svg.svg#svg-angle-right"></use>
                                                        </svg>
                                                    </div>

                                                </div>
                                            </a>
                                        </div><!-- end ngIf: group.Items.length==1 -->
                                    </li><!-- end ngRepeat: group in ModelGroup.Groups -->
                                    <li class="ng-scope" ng-repeat="group in ModelGroup.Groups">
                                        <!-- ngIf: group.Items.length>1 -->
                                        <div ng-if="group.Items.length>1" class="ng-scope">
                                            <a data-toggle="collapse" href="#collapseBank" role="button"
                                                aria-expanded="true" aria-controls="collapseBank"
                                                class="item-content item-link">

                                                <div class="item-inner ml-0">

                                                    <div class="item-title ng-binding" ng-bind="group.Name">Liên Kết
                                                        Ngân Hàng </div>

                                                    <div class="item-after lutie-12">
                                                        <svg class="svg-inline ">
                                                            <use xlink:href="svg/svg.svg#svg-angle-right"></use>
                                                        </svg>
                                                    </div>

                                                </div>
                                            </a>
                                            <div class="collapse show" id="collapseBank" style="">
                                                <div class=" htu-bank mt-2">
                                                    <!-- ngRepeat: item in group.Items -->
                                                    <div ng-repeat="item in group.Items"
                                                        class="htu-bank-col popup-button ng-scope"
                                                        ng-click="ShowBlocksRender(item.Title,item.Blocks)">
                                                        <div class="htu-bank-item">
                                                            <img ng-src="https://static.mservice.io/img/momo-upload-api-vietcom-181105104335.jpg"
                                                                class="d-block mx-auto img-fluid" alt=""
                                                                src="https://static.mservice.io/img/momo-upload-api-vietcom-181105104335.jpg">
                                                            <div ng-bind="item.Title" class="ng-binding">VCB</div>
                                                        </div>
                                                    </div><!-- end ngRepeat: item in group.Items -->
                                                    <div ng-repeat="item in group.Items"
                                                        class="htu-bank-col popup-button ng-scope"
                                                        ng-click="ShowBlocksRender(item.Title,item.Blocks)">
                                                        <div class="htu-bank-item">
                                                            <img ng-src="https://static.mservice.io/img/momo-upload-api-agri-48.png__48x48_q95_crop_subsampling-2-181105104838.png"
                                                                class="d-block mx-auto img-fluid" alt=""
                                                                src="https://static.mservice.io/img/momo-upload-api-agri-48.png__48x48_q95_crop_subsampling-2-181105104838.png">
                                                            <div ng-bind="item.Title" class="ng-binding">Agribank</div>
                                                        </div>
                                                    </div><!-- end ngRepeat: item in group.Items -->
                                                    <div ng-repeat="item in group.Items"
                                                        class="htu-bank-col popup-button ng-scope"
                                                        ng-click="ShowBlocksRender(item.Title,item.Blocks)">
                                                        <div class="htu-bank-item">
                                                            <img ng-src="https://static.mservice.io/img/momo-upload-api-vtb-logo-web.png__48x48_q95_crop_subsampling-2-181105104953.png"
                                                                class="d-block mx-auto img-fluid" alt=""
                                                                src="https://static.mservice.io/img/momo-upload-api-vtb-logo-web.png__48x48_q95_crop_subsampling-2-181105104953.png">
                                                            <div ng-bind="item.Title" class="ng-binding">Vietinbank
                                                            </div>
                                                        </div>
                                                    </div><!-- end ngRepeat: item in group.Items -->
                                                    <div ng-repeat="item in group.Items"
                                                        class="htu-bank-col popup-button ng-scope"
                                                        ng-click="ShowBlocksRender(item.Title,item.Blocks)">
                                                        <div class="htu-bank-item">
                                                            <img ng-src="https://static.mservice.io/img/momo-upload-api-bidv-logo.png__48x48_q95_crop_subsampling-2-181105105152.png"
                                                                class="d-block mx-auto img-fluid" alt=""
                                                                src="https://static.mservice.io/img/momo-upload-api-bidv-logo.png__48x48_q95_crop_subsampling-2-181105105152.png">
                                                            <div ng-bind="item.Title" class="ng-binding">BIDV</div>
                                                        </div>
                                                    </div><!-- end ngRepeat: item in group.Items -->
                                                    <div ng-repeat="item in group.Items"
                                                        class="htu-bank-col popup-button ng-scope"
                                                        ng-click="ShowBlocksRender(item.Title,item.Blocks)">
                                                        <div class="htu-bank-item">
                                                            <img ng-src="https://static.mservice.io/img/momo-upload-api-images-181105111118.jpg"
                                                                class="d-block mx-auto img-fluid" alt=""
                                                                src="https://static.mservice.io/img/momo-upload-api-images-181105111118.jpg">
                                                            <div ng-bind="item.Title" class="ng-binding">ACB</div>
                                                        </div>
                                                    </div><!-- end ngRepeat: item in group.Items -->
                                                    <div ng-repeat="item in group.Items"
                                                        class="htu-bank-col popup-button ng-scope"
                                                        ng-click="ShowBlocksRender(item.Title,item.Blocks)">
                                                        <div class="htu-bank-item">
                                                            <img ng-src="https://static.mservice.io/img/momo-upload-api-shinhan-181105111100.jpg"
                                                                class="d-block mx-auto img-fluid" alt=""
                                                                src="https://static.mservice.io/img/momo-upload-api-shinhan-181105111100.jpg">
                                                            <div ng-bind="item.Title" class="ng-binding">Shinhan</div>
                                                        </div>
                                                    </div><!-- end ngRepeat: item in group.Items -->
                                                    <div ng-repeat="item in group.Items"
                                                        class="htu-bank-col popup-button ng-scope"
                                                        ng-click="ShowBlocksRender(item.Title,item.Blocks)">
                                                        <div class="htu-bank-item">
                                                            <img ng-src="https://static.mservice.io/img/momo-upload-api-sacombank-logo.png__48x48_q95_crop_subsampling-2-181105111049.png"
                                                                class="d-block mx-auto img-fluid" alt=""
                                                                src="https://static.mservice.io/img/momo-upload-api-sacombank-logo.png__48x48_q95_crop_subsampling-2-181105111049.png">
                                                            <div ng-bind="item.Title" class="ng-binding">Sacombank</div>
                                                        </div>
                                                    </div><!-- end ngRepeat: item in group.Items -->
                                                    <div ng-repeat="item in group.Items"
                                                        class="htu-bank-col popup-button ng-scope"
                                                        ng-click="ShowBlocksRender(item.Title,item.Blocks)">
                                                        <div class="htu-bank-item">
                                                            <img ng-src="https://static.mservice.io/img/momo-upload-api-scb-logo.jpg__48x48_q95_crop_subsampling-2-181105111035.jpg"
                                                                class="d-block mx-auto img-fluid" alt=""
                                                                src="https://static.mservice.io/img/momo-upload-api-scb-logo.jpg__48x48_q95_crop_subsampling-2-181105111035.jpg">
                                                            <div ng-bind="item.Title" class="ng-binding">SCB</div>
                                                        </div>
                                                    </div><!-- end ngRepeat: item in group.Items -->
                                                    <div ng-repeat="item in group.Items"
                                                        class="htu-bank-col popup-button ng-scope"
                                                        ng-click="ShowBlocksRender(item.Title,item.Blocks)">
                                                        <div class="htu-bank-item">
                                                            <img ng-src="https://static.mservice.io/img/momo-upload-api-viber%20image3-181105111025.jpg"
                                                                class="d-block mx-auto img-fluid" alt=""
                                                                src="https://static.mservice.io/img/momo-upload-api-viber%20image3-181105111025.jpg">
                                                            <div ng-bind="item.Title" class="ng-binding">VPBank</div>
                                                        </div>
                                                    </div><!-- end ngRepeat: item in group.Items -->
                                                    <div ng-repeat="item in group.Items"
                                                        class="htu-bank-col popup-button ng-scope"
                                                        ng-click="ShowBlocksRender(item.Title,item.Blocks)">
                                                        <div class="htu-bank-item">
                                                            <img ng-src="https://static.mservice.io/img/momo-upload-api-vib-logo-500x500.jpg__48x48_q95_crop_subsampling-2-181105111015.jpg"
                                                                class="d-block mx-auto img-fluid" alt=""
                                                                src="https://static.mservice.io/img/momo-upload-api-vib-logo-500x500.jpg__48x48_q95_crop_subsampling-2-181105111015.jpg">
                                                            <div ng-bind="item.Title" class="ng-binding">VIB</div>
                                                        </div>
                                                    </div><!-- end ngRepeat: item in group.Items -->
                                                    <div ng-repeat="item in group.Items"
                                                        class="htu-bank-col popup-button ng-scope"
                                                        ng-click="ShowBlocksRender(item.Title,item.Blocks)">
                                                        <div class="htu-bank-item">
                                                            <img ng-src="https://static.mservice.io/img/momo-upload-api-eximbank-logo.png__48x48_q95_crop_subsampling-2-181105111007.png"
                                                                class="d-block mx-auto img-fluid" alt=""
                                                                src="https://static.mservice.io/img/momo-upload-api-eximbank-logo.png__48x48_q95_crop_subsampling-2-181105111007.png">
                                                            <div ng-bind="item.Title" class="ng-binding">Eximbank</div>
                                                        </div>
                                                    </div><!-- end ngRepeat: item in group.Items -->
                                                    <div ng-repeat="item in group.Items"
                                                        class="htu-bank-col popup-button ng-scope"
                                                        ng-click="ShowBlocksRender(item.Title,item.Blocks)">
                                                        <div class="htu-bank-item">
                                                            <img ng-src="https://static.mservice.io/img/momo-upload-api-tp-logo-web.png__48x48_q95_crop_subsampling-2-181105110957.png"
                                                                class="d-block mx-auto img-fluid" alt=""
                                                                src="https://static.mservice.io/img/momo-upload-api-tp-logo-web.png__48x48_q95_crop_subsampling-2-181105110957.png">
                                                            <div ng-bind="item.Title" class="ng-binding">TPBank</div>
                                                        </div>
                                                    </div><!-- end ngRepeat: item in group.Items -->
                                                    <div ng-repeat="item in group.Items"
                                                        class="htu-bank-col popup-button ng-scope"
                                                        ng-click="ShowBlocksRender(item.Title,item.Blocks)">
                                                        <div class="htu-bank-item">
                                                            <img ng-src="https://static.mservice.io/img/momo-upload-api-viber%20image-181105110946.jpg"
                                                                class="d-block mx-auto img-fluid" alt=""
                                                                src="https://static.mservice.io/img/momo-upload-api-viber%20image-181105110946.jpg">
                                                            <div ng-bind="item.Title" class="ng-binding">Bảo Việt</div>
                                                        </div>
                                                    </div><!-- end ngRepeat: item in group.Items -->
                                                    <div ng-repeat="item in group.Items"
                                                        class="htu-bank-col popup-button ng-scope"
                                                        ng-click="ShowBlocksRender(item.Title,item.Blocks)">
                                                        <div class="htu-bank-item">
                                                            <img ng-src="https://static.mservice.io/img/momo-upload-api-vrb-logo-181105110935.png"
                                                                class="d-block mx-auto img-fluid" alt=""
                                                                src="https://static.mservice.io/img/momo-upload-api-vrb-logo-181105110935.png">
                                                            <div ng-bind="item.Title" class="ng-binding">VRB</div>
                                                        </div>
                                                    </div><!-- end ngRepeat: item in group.Items -->
                                                    <div ng-repeat="item in group.Items"
                                                        class="htu-bank-col popup-button ng-scope"
                                                        ng-click="ShowBlocksRender(item.Title,item.Blocks)">
                                                        <div class="htu-bank-item">
                                                            <img ng-src="https://static.mservice.io/img/momo-upload-api-social-share-181105110925.png"
                                                                class="d-block mx-auto img-fluid" alt=""
                                                                src="https://static.mservice.io/img/momo-upload-api-social-share-181105110925.png">
                                                            <div ng-bind="item.Title" class="ng-binding">OCB</div>
                                                        </div>
                                                    </div><!-- end ngRepeat: item in group.Items -->
                                                    <div ng-repeat="item in group.Items"
                                                        class="htu-bank-col popup-button ng-scope"
                                                        ng-click="ShowBlocksRender(item.Title,item.Blocks)">
                                                        <div class="htu-bank-item">
                                                            <img ng-src="https://static.mservice.io/img/momo-upload-api-abbank_logo-190504154550.png"
                                                                class="d-block mx-auto img-fluid" alt=""
                                                                src="https://static.mservice.io/img/momo-upload-api-abbank_logo-190504154550.png">
                                                            <div ng-bind="item.Title" class="ng-binding">ABBank</div>
                                                        </div>
                                                    </div><!-- end ngRepeat: item in group.Items -->
                                                </div>
                                            </div>
                                        </div><!-- end ngIf: group.Items.length>1 -->
                                        <!-- ngIf: group.Items.length==1 -->
                                    </li><!-- end ngRepeat: group in ModelGroup.Groups -->
                                    <li class="ng-scope" ng-repeat="group in ModelGroup.Groups">
                                        <!-- ngIf: group.Items.length>1 -->
                                        <!-- ngIf: group.Items.length==1 -->
                                        <div ng-if="group.Items.length==1" class="ng-scope">
                                            <a ng-click="ShowBlocksRender(group.Name,group.Items[0].Blocks)"
                                                class="item-content item-link">

                                                <div class="item-inner ml-0">

                                                    <div class="item-title ng-binding" ng-bind="group.Name">Chọn Gói Quà
                                                    </div>

                                                    <div class="item-after lutie-12">
                                                        <svg class="svg-inline ">
                                                            <use xlink:href="svg/svg.svg#svg-angle-right"></use>
                                                        </svg>
                                                    </div>

                                                </div>
                                            </a>
                                        </div><!-- end ngIf: group.Items.length==1 -->
                                    </li><!-- end ngRepeat: group in ModelGroup.Groups -->
                                    <li class="ng-scope" ng-repeat="group in ModelGroup.Groups">
                                        <!-- ngIf: group.Items.length>1 -->
                                        <!-- ngIf: group.Items.length==1 -->
                                        <div ng-if="group.Items.length==1" class="ng-scope">
                                            <a ng-click="ShowBlocksRender(group.Name,group.Items[0].Blocks)"
                                                class="item-content item-link">

                                                <div class="item-inner ml-0">

                                                    <div class="item-title ng-binding" ng-bind="group.Name">Nạp Tiền Vào
                                                        Ví </div>

                                                    <div class="item-after lutie-12">
                                                        <svg class="svg-inline ">
                                                            <use xlink:href="svg/svg.svg#svg-angle-right"></use>
                                                        </svg>
                                                    </div>

                                                </div>
                                            </a>
                                        </div><!-- end ngIf: group.Items.length==1 -->
                                    </li><!-- end ngRepeat: group in ModelGroup.Groups -->
                                    <li class="ng-scope" ng-repeat="group in ModelGroup.Groups">
                                        <!-- ngIf: group.Items.length>1 -->
                                        <!-- ngIf: group.Items.length==1 -->
                                        <div ng-if="group.Items.length==1" class="ng-scope">
                                            <a ng-click="ShowBlocksRender(group.Name,group.Items[0].Blocks)"
                                                class="item-content item-link">

                                                <div class="item-inner ml-0">

                                                    <div class="item-title ng-binding" ng-bind="group.Name">Sử Dụng Thẻ
                                                        Quà</div>

                                                    <div class="item-after lutie-12">
                                                        <svg class="svg-inline ">
                                                            <use xlink:href="svg/svg.svg#svg-angle-right"></use>
                                                        </svg>
                                                    </div>

                                                </div>
                                            </a>
                                        </div><!-- end ngIf: group.Items.length==1 -->
                                    </li><!-- end ngRepeat: group in ModelGroup.Groups -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="accordion" class="desaccordion">

            <div class="card">
                <div class="card-header">
                    <a class="card-link row no-gutters align-items-center" data-toggle="collapse" href="#collapseOne"
                        aria-expanded="true">
                        <div class="col">

                            <span class=" text-dark font-weight-bold">Tải và đăng ký</span>
                        </div>
                        <div class="col-auto">
                            <svg class="svg-inline ">
                                <use xlink:href="svg/svg.svg#svg-angle-down"></use>
                            </svg>
                        </div>
                    </a>
                </div>

                <div id="collapseOne" class="collapse show" data-parent="#accordion">
                    <div class="card-body">
                        Chương trình khuyến mãi hiện tại trên trang Tiki.vn như Tặng ngay 20% giá trị thẻ nạp và hoàn
                        thêm 4% trực tiếp. i Chỉ áp dụng cho các thuê bao đã phát sinh cước cuộc gói trước ngày
                        26/08/2019.
                        Thuê bao trả trước tiện lợi là có thể hưởng các ưu đãi về nạp thẻ và thời gian sử dụng tùy vào
                        các đợt khuyến mãi của các nhà mạng.

                        <div class="mt-4 mb-2 text-center ">
                            <a href="#" data-toggle="modal" data-target="#htu-modal"
                                class="button is-momo font-weight-bold min-150 is-round">
                                HƯỚNG DẪN THAO TÁC

                            </a>
                        </div>


                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <a class="card-link row no-gutters align-items-center" data-toggle="collapse" href="#collapseTwo">
                        <div class="col">
                            <span class=" text-dark font-weight-bold">Liên kết ngân hàng</span>
                        </div>
                        <div class="col-auto">
                            <svg class="svg-inline ">
                                <use xlink:href="svg/svg.svg#svg-angle-down"></use>
                            </svg>
                        </div>
                    </a>
                </div>
                <div id="collapseTwo" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        Chương trình khuyến mãi hiện tại trên trang Tiki.vn như Tặng ngay 20% giá trị thẻ nạp và hoàn
                        thêm 4% trực tiếp. i Chỉ áp dụng cho các thuê bao đã phát sinh cước cuộc gói trước ngày
                        26/08/2019.
                        Thuê bao trả trước tiện lợi là có thể hưởng các ưu đãi về nạp thẻ và thời gian sử dụng tùy vào
                        các đợt khuyến mãi của các nhà mạng.

                        <div class="mt-4 mb-2 text-center ">
                            <a href="#" data-toggle="modal" data-target="#htu-modal"
                                class="button is-momo font-weight-bold min-150 is-round">
                                HƯỚNG DẪN THAO TÁC

                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <a class="card-link row no-gutters align-items-center" data-toggle="collapse" href="#collapseThree">
                        <div class="col">
                            <span class=" text-dark font-weight-bold">Liên kết ngân hàng</span>
                        </div>
                        <div class="col-auto">
                            <svg class="svg-inline ">
                                <use xlink:href="svg/svg.svg#svg-angle-down"></use>
                            </svg>
                        </div>
                    </a>
                </div>
                <div id="collapseThree" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        Chương trình khuyến mãi hiện tại trên trang Tiki.vn như Tặng ngay 20% giá trị thẻ nạp và hoàn
                        thêm 4% trực tiếp. i Chỉ áp dụng cho các thuê bao đã phát sinh cước cuộc gói trước ngày
                        26/08/2019.
                        Thuê bao trả trước tiện lợi là có thể hưởng các ưu đãi về nạp thẻ và thời gian sử dụng tùy vào
                        các đợt khuyến mãi của các nhà mạng.

                        <div class="mt-4 mb-2 text-center ">
                            <a href="#" data-toggle="modal" data-target="#htu-modal"
                                class="button is-momo font-weight-bold min-150 is-round">
                                HƯỚNG DẪN THAO TÁC

                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="card  ">

            <div class="card-body py-1 pb-3 pt-2">
                <div class="htu-mockup">
                    <div class="htu-mockup-item i1"
                        style="background-image: url('https://static.mservice.io/img/momo-upload-api-tai-vi-1-190103160624.jpg')">

                    </div>
                    <div class="htu-mockup-item i2"
                        style="background-image: url('https://static.mservice.io/img/momo-upload-api-2-190103153118.jpg')">
                    </div>
                    <div class="htu-mockup-item i3"
                        style="background-image: url('https://static.mservice.io/img/momo-upload-api-3-190103153122.jpg')">
                    </div>
                </div>

                <div class="text-center">
                    <a href="#" data-toggle="modal" data-target="#htu-modal"
                        class="button is-primary font-weight-bold is-round is-outlined min-150">Xem hướng dẫn</a>
                </div>

            </div>
        </div>



    </section>
    <section class="section-scrollspy" id="section4">
        <h3 class="mt-4 lutie-section-title">
            Thương hiệu liên quan
        </h3>


        <div class="cashback-hori">
            {% for item in range(0,4) %}
            <div class="cashback-hori-item">
                <a href="/cashback-single/" class="link-absolute"></a>
                <div class="cashback-hori-img">
                    <div class="embed-responsive embed-responsive-1by1">
                        <img data-src="https://img.mservice.io/momo_app_v2/new_version/img/icon/Cashback_BaskinRobins.png"
                            class="embed-responsive-img lazyload" alt="">
                    </div>
                </div>

                <div class="cashback-hori-content">

                    <div class="name text-truncate">
                        Baskin Robbins
                    </div>

                    <div class="desc text-truncate">
                        Tiệm kem Baskin Robbins
                    </div>

                </div>

                <div class="cashback-hori-value">
                    <div class="cashback-hori-number d-flex align-items-center justify-content-center text-center">
                        <div>
                            Hoàn
                            <span class="d-block font-weight-bold">47%</span>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
    </section>



</div>

{% endblock %}


{% block javascript %}


{{ super() }}


<script src="js/jquery.countdown.min.js"></script>
<script src="js/lodash.min.js"></script>

<script type="text/template" id="js-countdown-template">
   <div class="time <%= label %>">
     <span class="count curr top"><%= curr %></span>
     <span class="count next top"><%= next %></span>
     <span class="count next bottom"><%= next %></span>
     <span class="count curr bottom"><%= curr %></span>
     <span class="label"><%= label.length < 6 ? label : label.substr(0, 3)  %></span>
   </div>
</script>

<script>


    $(window).on('load', function () {
        var labels = ['NGÀY', 'GIỜ', 'PHÚT', 'GIÂY'],
            // nextYear = (new Date().getFullYear() + 7) + '/01/01',

            nextYear = "2019/10/29";
        template = _.template($('#js-countdown-template').html()),
            currDate = '00:00:00:00',
            nextDate = '00:00:00:00',
            parser = /([0-9]{2})/gi,
            $example = $('#js-countdown');
        // Parse countdown string to an object
        function strfobj(str) {
            var parsed = str.match(parser),
                obj = {};
            labels.forEach(function (label, i) {
                obj[label] = parsed[i]
            });
            return obj;
        }
        // Return the time components that diffs
        function diff(obj1, obj2) {
            var diff = [];
            labels.forEach(function (key) {
                if (obj1[key] !== obj2[key]) {
                    diff.push(key);
                }
            });
            return diff;
        }
        // Build the layout
        var initData = strfobj(currDate);
        labels.forEach(function (label, i) {
            $example.append(template({
                curr: initData[label],
                next: initData[label],
                label: label
            }));
        });
        // Starts the countdown
        $example.countdown(nextYear, function (event) {
            // var newDate = event.strftime(totalHours + '%M:%S'),
            var newDate = event.strftime('D:%H:%M:%S'),
                data;
            if (newDate !== nextDate) {
                currDate = nextDate;
                nextDate = newDate;
                // Setup the data
                data = {
                    'curr': strfobj(currDate),
                    'next': strfobj(nextDate)
                };
                // Apply the new values to each node that changed
                diff(data.curr, data.next).forEach(function (label) {
                    var selector = '.%s'.replace(/%s/, label),
                        $node = $example.find(selector);
                    // Update the node
                    $node.removeClass('flip');
                    $node.find('.curr').text(data.curr[label]);
                    $node.find('.next').text(data.next[label]);
                    // Wait for a repaint to then flip
                    _.delay(function ($node) {
                        $node.addClass('flip');
                    }, 50, $node);
                });
            }
        });
    });

    $(document).ready(function () {
        $('.page-content').scrollspy({ target: '#navbar-example2' })


    });
</script>

{% endblock %}