{% set title = 'Gulp Des Index' %}
{% set page = 'index.html' %}

{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}


{% block content %}
<div class="container py-4">
    <div class="card mb-4" style="">
        <div class="card-header">
            Buttons component
        </div>
        <div class="card-body">
            <div class="mb-4">
                <a href="" class="button is-small">Small</a>
                <a href="" class="button is-primary">Default</a>
                <a href="" class="button is-normal is-danger">Normal</a>
                <a href="" class="button is-medium">Medium</a>
                <a href="" class="button is-large">Large</a>
            </div>

            <div class="mb-4">

                <a href="" class="button is-normal is-fullwidth">Normal</a>

            </div>

            <div class="mb-4">

                <a href="" class="button is-normal is-rounded">Normal</a>

            </div>

            <div class="mb-4">

                <a href="" class="button is-medium is-primary is-outlined">Normal</a>

            </div>
        </div>

    </div>

    <div class="card mb-4" style="">
        <div class="card-header">
            Lists component
        </div>
        <div class="card-body">
            <div class="list">
                <ul>
                    {% for item in cashbackCat %}
                    {% if loop.index < 10 %}

                    <li class="{% if loop.index == 1 %} opacity-5 {% endif %}">
                        <a href="#" class="item-content">
                            <div class="item-media">
                                <img src="{{item.img}}" width="22" alt="">
                            </div>
                            <div class="item-inner">

                                <div class="item-name">
                                    {{ item.title }}
                                </div>

                            </div>
                        </a>
                    </li>

                    {% endif %}
                    {% endfor %}

                </ul>
            </div>

        </div>

    </div>
</div>




{% endblock %}