{% set title = 'Gulp Des Index' %}
{% set page = 'homepage' %}

{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}





{% block content %}


<div class="container px-0">
    <div class="swiper-container swiper-init home-swiper">
        <div class="swiper-pagination swiper-pagination-white"></div>
        <div class="swiper-wrapper">

            <div class="swiper-slide">

                <div class="embed-responsive embed-responsive-slider">
                    <img data-src="https://static.mservice.io/banner/s780x297/momo-upload-api-190804210617-637005495777805964.jpg"
                        class="swiper-lazy embed-responsive-img" alt="đwdwd" />
                    <div class="preloader swiper-lazy-preloader"></div>
                </div>


            </div>

            <div class="swiper-slide">

                <div class="embed-responsive embed-responsive-slider">
                    <img data-src="https://static.mservice.io/banner/s780x297/nguyen%20kim.jpg"
                        class="swiper-lazy embed-responsive-img" />
                    <div class="preloader swiper-lazy-preloader"></div>
                </div>

            </div>

            <div class="swiper-slide">

                <div class="embed-responsive embed-responsive-slider">
                    <img data-src="https://static.mservice.io/banner/s780x297/cover-ve-may-bay.jpg"
                        class="swiper-lazy embed-responsive-img" />
                    <div class="preloader swiper-lazy-preloader"></div>
                </div>

            </div>

            <div class="swiper-slide">

                <div class="embed-responsive embed-responsive-slider">
                    <img data-src="https://static.mservice.io/banner/s780x297/momo-upload-api-190701155052-636975930528854873.jpg"
                        class="swiper-lazy embed-responsive-img" />
                    <div class="preloader swiper-lazy-preloader"></div>
                </div>

            </div>

        </div>
    </div>

</div>

<div class="container mt-3">

    <div class="row no-gutters flex-nowrap mb-3">
        <div class="col  mr-1">

            <div class="  ">
                <div class="">

                    <div class="input-group btn-group have-arrow-down ">
                        <button class="input dropdown-toggle text-left" type="button" data-toggle="modal"
                            data-target="#modalCashbackCate">

                            <!-- <img src="https://img.mservice.io/momo_app_v2/img/HoangLe/ic_fl_sieu_thi@3x.png"
                                        class="mr-1 va-15" width="22" alt=""> -->

                            <span class="mr-1 lutie-14 text-primary">
                                <svg class="svg-inline ">
                                    <use xlink:href="svg/svg.svg#svg-line-menu"></use>
                                </svg>
                            </span>


                            Danh mục hoàn tiền
                        </button>
                    </div>

                </div>




            </div>



        </div>
        <div class="col-auto">
            <button class="button is-medium text-primary  text-left" type="button" data-toggle="modal"
                data-target="#exampleModalCenter">

                <svg class="svg-inline ">
                    <use xlink:href="svg/svg.svg#svg-search"></use>
                </svg>
            </button>

        </div>
    </div>


    <div class="cluster border-top pt-3 mt-3">
        <div class="row no-gutters align-items-center mb-3">
            <div class="col">
                <div class="cluster-title">
                    Hoàn tiền siêu to
                </div>
            </div>


        </div>

        <div class="mb-3">
            <div class="embed-responsive embed-responsive-cat1">
                <img data-src="https://static.mservice.io/banner/s780x297/momo-upload-api-190916181811-637042546913259124.jpg"
                    class="embed-responsive-img lazyload img-fluid" alt="">
            </div>
        </div>

        <div class="cluster-content row">

            {% set cashback1 = [
                            {
                                "img" : "https://img.mservice.io/momo_app_v2/new_version/img/THAO.MAI/190718_IC_CB_Toco.jpg",
                                "name" : "Toco Toco",
                                "content" : "Hoàn lên đến 50% tùy chi nhánh và chỉ áp dụng một số chi nhánh. Click vào để xem chi tiết."
                            },   
                            {
                                "img" : "https://img.mservice.io/momo_app_v2/new_version/img/THAO.MAI/IC_CB_JuiceMe.png",
                                "name" : "Sinh tố nước ép Juice Me",
                                "content" : "Hoàn lên đến 50%"
                            },
                            {
                                "img" : "https://img.mservice.io/momo_app_v2/new_version/img/THAO.MAI/190718_IC_CB_CafeDeBodyfriend.png",
                                "name" : "Café De Bodyfriend",
                                "content" : "Café De Bodyfriend"
                            } 
                        ] %}

            <div class="swiper-container swiper-cashback-hori">
                <div class="swiper-wrapper">
                    {% for item in range(0,3) %}
                    <div class="swiper-slide">
                        <div class="cashback-hori">
                            {% for item in cashback1 %}
                            <div class="cashback-hori-item">
                                <a href="single.html" class="link-absolute"></a>

                                <div class="cashback-hori-img">
                                    <div class="embed-responsive embed-responsive-1by1">
                                        <img data-src="{{ item.img }}" class="embed-responsive-img lazyload" alt="">
                                    </div>
                                </div>

                                <div class="cashback-hori-content">

                                    <div class="name text-truncate">
                                        {{ item.name }}
                                    </div>

                                    <div class="desc ">
                                        {{ item.content }}
                                    </div>

                                </div>

                                <div class="cashback-hori-value">
                                    <div
                                        class="cashback-hori-number d-flex align-items-center justify-content-center text-center">
                                        <div>
                                            Hoàn tiền
                                            <span class="d-block font-weight-bold">47%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {% endfor %}
                        </div>

                    </div>

                    {% endfor %}
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            </div>



        </div>
    </div>



</div>

<h3>ưqdfwefwefwe</h3>
<h3>ưqdfwefwefwe</h3>
<h3>ưqdfwefwefwe</h3>
<h3>ưqdfwefwefwe</h3>
<h3>ưqdfwefwefwe</h3>
<h3>ưqdfwefwefwe</h3>
<h3>ưqdfwefwefwe</h3>
<h3>ưqdfwefwefwe</h3>
<h3>ưqdfwefwefwe</h3>
<h3>ưqdfwefwefwe</h3>
<h3>ưqdfwefwefwe</h3>
<h3>ưqdfwefwefwe</h3>
<h3>ưqdfwefwefwe</h3>
<h3>ưqdfwefwefwe</h3>
<h3>ưqdfwefwefwe</h3>
<h3>ưqdfwefwefwe</h3>
<h3>ưqdfwefwefwe</h3>
<h3>ưqdfwefwefwe</h3>
<h3>ưqdfwefwefwe</h3>
<h3>ưqdfwefwefwe</h3>
<h3>ưqdfwefwefwe</h3>
<h3>ưqdfwefwefwe</h3>
<h3>ưqdfwefwefwe</h3>
<h3>ưqdfwefwefwe</h3>
<h3>ưqdfwefwefwe</h3>
<h3>ưqdfwefwefwe</h3>
<h3>ưqdfwefwefwe</h3>
<h3>ưqdfwefwefwe</h3>
<h3>ưqdfwefwefwe</h3>
<h3>ưqdfwefwefwe</h3>
<h3>ưqdfwefwefwe</h3>
<h3>ưqdfwefwefwe</h3>
<h3>ưqdfwefwefwe</h3>
<h3>ưqdfwefwefwe</h3>
<h3>ưqdfwefwefwe</h3>
<h3>ưqdfwefwefwe</h3>
<h3>ưqdfwefwefwe</h3>
<h3>ưqdfwefwefwe</h3>
<h3>ưqdfwefwefwe</h3>
<h3>ưqdfwefwefwe</h3>
<h3>ưqdfwefwefwe</h3>
<h3>ưqdfwefwefwe</h3>
<h3>ưqdfwefwefwe</h3>
<h3>ưqdfwefwefwe</h3>
<h3>ưqdfwefwefwe</h3>
<h3>ưqdfwefwefwe</h3>
<h3>ưqdfwefwefwe</h3>
<h3>ưqdfwefwefwe</h3>
<h3>ưqdfwefwefwe</h3>
<h3>ưqdfwefwefwe</h3>
<h3>ưqdfwefwefwe</h3>
<h3>ưqdfwefwefwe</h3>
<h3>ưqdfwefwefwe</h3>
<h3>ưqdfwefwefwe</h3>
<h3>ưqdfwefwefwe</h3>
<h3>ưqdfwefwefwe</h3>
<h3>ưqdfwefwefwe</h3>
<h3>ưqdfwefwefwe</h3>
<h3>ưqdfwefwefwe</h3>
<h3>ưqdfwefwefwe</h3>
<h3>ưqdfwefwefwe</h3>
<h3>ưqdfwefwefwe</h3>
<h3>ưqdfwefwefwe</h3>
<h3>ưqdfwefwefwe</h3>
<h3>ưqdfwefwefwe</h3>
<h3>ưqdfwefwefwe</h3>
<h3>ưqdfwefwefwe</h3>
<h3>ưqdfwefwefwe</h3>
<h3>ưqdfwefwefwe</h3>
<h3>ưqdfwefwefwe</h3>
<h3>ưqdfwefwefwe</h3>


{% endblock %}