{% set title = 'Gulp Des Index' %} {% set page = 'index.html' %} {% extends
'layouts/application.html' %} {% import 'macros/helpers.html' as macro %} {%
block popup %}

{{ super() }}

{% endblock %} 


{% block toolbar %}
              
    <div class="toolbar toolbar-download">
        <div class="toolbar-inner px-3">
            <div class="row w-100 no-gutters align-items-center">
              <div class="col">
                  <img src="images/home/download-text.png" class="img-fluid" width="200" alt="">
              </div>
              <div class="col-auto text-right">
                <a href="" class="button is-momo is-rounded">
                    <svg class="svg-inline ">
                        <use xlink:href="svg/svg.svg#svg-download"></use>
                    </svg>

                  Tải ngay
                </a>
              </div>
            </div>
        </div>
    </div>      
        
        
{% endblock %}



{% block content %}

<div class="container px-0">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
      <li class="breadcrumb-item active" aria-current="page">
        Nạp tiền điện thoại
      </li>
    </ol>
  </nav>
</div>

<div class="container px-0">
  <div class="swiper-container swiper-init home-swiper">
    <div class="swiper-pagination swiper-pagination-white"></div>
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="embed-responsive embed-responsive-slider">
          <img
            data-src="https://static.mservice.io/banner/s780x297/momo-upload-api-190804210617-637005495777805964.jpg"
            class="swiper-lazy embed-responsive-img"
          />
          <div class="preloader swiper-lazy-preloader"></div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="embed-responsive embed-responsive-slider">
          <img
            data-src="https://static.mservice.io/banner/s780x297/nguyen%20kim.jpg"
            class="swiper-lazy embed-responsive-img"
          />
          <div class="preloader swiper-lazy-preloader"></div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="embed-responsive embed-responsive-slider">
          <img
            data-src="https://static.mservice.io/banner/s780x297/cover-ve-may-bay.jpg"
            class="swiper-lazy embed-responsive-img"
          />
          <div class="preloader swiper-lazy-preloader"></div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="embed-responsive embed-responsive-slider">
          <img
            data-src="https://static.mservice.io/banner/s780x297/momo-upload-api-190701155052-636975930528854873.jpg"
            class="swiper-lazy embed-responsive-img"
          />
          <div class="preloader swiper-lazy-preloader"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container pt-4 ">
  <h2 class=" text-center lutie-title-1 text-uppercase font-weight-bold mb-3">
    CÁC NHÀ MẠNG VIỄN THÔNG
  </h2>

  <div class="row sm-gutters">
    <div class="col-3 mb-3">
      <div class="juno-vt bg-white rounded-sm shadow-sm position-relative">
        <img
          src="https://static.mservice.io/img/momo-upload-api-ic_mobifone@3x-181218160800.png"
          class="juno-vt-icon position-absolute"
          width="30"
          alt=""
        />
        Mobifone
      </div>
    </div>
    <div class="col-3 mb-3">
      <div class="juno-vt bg-white rounded-sm shadow-sm position-relative">
        <img
          src="https://static.mservice.io/img/momo-upload-api-ic_vinaphone@3x-181218163535.png"
          class="juno-vt-icon position-absolute"
          width="30"
          alt=""
        />
        Vinaphone
      </div>
    </div>

    <div class="col-3 mb-3">
      <div class="juno-vt bg-white rounded-sm shadow-sm position-relative">
        <img
          src="https://static.mservice.io/img/momo-upload-api-ic_gmobile@3x-181218174923.png"
          class="juno-vt-icon position-absolute"
          width="30"
          alt=""
        />
        Gmobile
      </div>
    </div>

    <div class="col-3 mb-3">
      <div class="juno-vt bg-white rounded-sm shadow-sm position-relative">
        <img
          src="https://static.mservice.io/img/momo-upload-api-ic_vietnammobile@3x-181218174732.png"
          class="juno-vt-icon position-absolute"
          width="30"
          alt=""
        />
        Vietnamobile
      </div>
    </div>

    <div class="col-3 mb-3">
      <div class="juno-vt bg-white rounded-sm shadow-sm position-relative">
        <img
          src="https://static.mservice.io/img/momo-upload-api-ic_viettel@3x-181218153720.png"
          class="juno-vt-icon position-absolute"
          width="30"
          alt=""
        />
        Viettel
      </div>
    </div>
  </div>
</div>

<div class="container py-4 bg-white">
  <h2 class=" text-center lutie-title-1 text-uppercase font-weight-bold mb-3">
    THANH TOÁN ĐƠN GIẢN - NHANH CHÓNG
  </h2>

  <div class="vt-dash mx-auto"></div>

  <div class="py-2 px-4">
    <img
      src="images/feature/ft-1.png"
      class="img-fluid mx-auto d-block shadow"
      alt=""
    />
  </div>

  <div class="text-center py-2 px-4">
    Mua mã thẻ hoặc nạp trực tiếp, thanh toán thuê bao trả sau cực nhanh chóng
    chỉ với 3 bước. Bạn sẽ nhận được mã thẻ hoặc tiền nạp trực tiếp ngay sau khi
    bấm thanh toán.
  </div>
</div>

<div class="container py-4 ">
  <h2 class=" text-center lutie-title-1 text-uppercase font-weight-bold mb-3">
    Hưởng ưu đãi hoàn tiền và được tặng thêm data
  </h2>

  <div class="vt-dash mx-auto"></div>

  <div class="py-2 px-4">
    <img
      src="images/feature/ft-2.png"
      class="img-fluid mx-auto d-block shadow"
      alt=""
    />
  </div>

  <div class="text-center py-2 px-4">
    Mua mã thẻ hoặc nạp trực tiếp, thanh toán thuê bao trả sau cực nhanh chóng
    chỉ với 3 bước. Bạn sẽ nhận được mã thẻ hoặc tiền nạp trực tiếp ngay sau khi
    bấm thanh toán.
  </div>
</div>

<div class="container py-4 bg-white">
  <h2 class=" text-center lutie-title-1 text-uppercase font-weight-bold mb-3">
    THANH TOÁN AN TOÀN <br />
    BẢO MẬT TUYỆT ĐỐI
  </h2>

  <div class="vt-dash mx-auto"></div>

  <div class="swiper-container swiper-init home-swiper">
    <div class="swiper-pagination swiper-pagination-black"></div>
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="py-2 px-4">
          <img
            data-src="https://static.mservice.io/styles/desktop/images/feature/bao-chung-ngan-hang-5.png"
            class="img-fluid mx-auto d-block  swiper-lazy"
            alt=""
          />
        </div>

        <div class="py-2 px-4">
          <h3 class="text-center">Bảo chứng ngân hàng</h3>
          <p>
            Tiền trong tài khoản Ví MoMo được bảo chứng bởi Vietcombank.
          </p>
          <p>
            Được Ngân Hàng Nhà Nước cấp giấy phép và quản lý dịch vụ Ví điện tử
            năm 2015.
          </p>
          <p>
            Là đối tác chiến lược của các ngân hàng lớn như: Vietcombank,
            VietinBank, AgriBank, BIDV, ACB, TPBank, VPBank, EximBank, OCB, VIB,
            Shinhan Bank, SCB, SacomBank, VRB, BAOVIET Bank và các tổ chức thẻ
            Visa/Master/JCB.
          </p>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="py-2 px-4">
          <img
            data-src="https://static.mservice.io/styles/desktop/images/feature/02.png"
            class="img-fluid mx-auto d-block  swiper-lazy"
            alt=""
          />
        </div>

        <div class="py-2 px-4">
          <h3 class="text-center">Bảo mật đa tầng</h3>
          <p>
            Để đăng nhập, cần nhập mật khẩu 6 số và mã OTP được gửi đến điện
            thoại. Mỗi lần thanh toán đều cần nhập lại mật khẩu.
          </p>
          <p>
            Ứng dụng tự khóa sau 5 phút nếu không sử dụng.
          </p>
        </div>
      </div>


      <div class="swiper-slide">
            <div class="py-2 px-4">
              <img
                data-src="https://static.mservice.io/styles/desktop/images/feature/03.png"
                class="img-fluid mx-auto d-block  swiper-lazy"
                alt=""
              />
            </div>
    
            <div class="py-2 px-4">
              <h3 class="text-center">Đạt chuẩn quốc tế</h3>
              <p>
                    Công nghệ bảo mật của Ví MoMo đáp ứng các tiêu chuẩn quốc tế khắt khe nhất trong ngành tài chính ngân hàng, đạt chứng nhận bảo mật toàn cầu PCI DSS cấp độ cao nhất.
              </p>
              <p>
                    Công nghệ mã hóa đường truyền SSL/TLS đạt chứng nhận quốc tế GlobalSign.
              </p>
            </div>
          </div>

    </div>
  </div>
</div>




{% endblock %}
