.button {
  -moz-appearance: none;
  -webkit-appearance: none;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  border: 1px solid transparent;
  border-radius: 4px;

  box-shadow: none;

  font-size: 1rem;
  height: 2.5em;

  line-height: 1.8;

  position: relative;
  vertical-align: top;

  background-color: #fff;
  border-color: gray("300");
  border-width: 1px;
  color: gray("800");

  cursor: pointer;
  padding-left: 0.75em;
  padding-right: 0.75em;

  padding-bottom: calc(0.375em - 1px);

  padding-top: calc(0.375em - 1px);

  text-align: center;
  white-space: nowrap;

  &.height-40 {
    height: 40px;
  }

  &.min-150 {
    min-width: 150px;
  }

  
  &.min-200 {
    min-width: 200px;
  }

  &.is-small {
    border-radius: 2px;
    font-size: 0.75rem;
  }

  &.is-normal {
    font-size: 1rem;
  }

  &.is-medium {
    font-size: 1.12rem;
  }

  &.is-large {
    font-size: 1.25rem;
  }

  &.is-fullwidth {
    display: flex;
    width: 100%;
  }

  &.is-rounded {
    border-radius: 290486px;
    padding-left: 1em;
    padding-right: 1em;
  }

  &.is-chip {
    height: 25px;
    padding: 0 10px;
    font-size: 13px;
  }

  //Color

  @each $name, $glyph in $theme-colors {
    &.is-#{$name} {
      background-color: theme-color("#{$name}");
      border-color: transparent;
      color: #fff;

      @include hover-focus-active() {
        background-color: darken(theme-color("#{$name}"), 10%);
        border-color: transparent;
        color: #fff;
      }
    }
  }

  @each $name, $glyph in $theme-colors {
    &.is-#{$name} {
      background-color: theme-color("#{$name}");
      border-color: transparent;
      color: #fff;

      @include hover-focus-active() {
        background-color: darken(theme-color("#{$name}"), 10%);
        border-color: transparent;
        color: #fff;
      }

      &.is-outlined {
        background-color: transparent;
        border-color: theme-color("#{$name}");
        color: theme-color("#{$name}");

        @include hover-focus-active() {
          background-color: theme-color("#{$name}");
          border-color: transparent;
          color: #fff;
        }
      }

      &.is-link {
        border-color: transparent;
        background-color: transparent;
        @include hover-focus-active() {
          border-color: transparent;
          background-color: transparent;
        }
      }
    }
  }

  @include hover-focus-active() {
    border-color: gray("300");
    color: gray("900");
    outline: none;
    box-shadow: none;
  }

  &.is-pulse {
    box-shadow: 0 0 0 0 $momo;
    cursor: pointer;
    animation: apppulse 1.8s infinite cubic-bezier(0.66, 0, 0, 1);
    animation-delay: 0.3s;
    position: relative;
    z-index: 0;
  }

  @keyframes apppulse {
    to {
      box-shadow: 0 0 0 8px rgba($momo, 0);
    }
  }

  &.is-round {
    border-radius: 20px;
    padding-left: 0.9em;
    padding-right: 0.9em;
    padding-bottom: calc(0.5em - 1px);
    padding-top: calc(0.5em - 1px);
  }

  
}

.btn-animation{
  box-shadow: 0 0 0 0 $momo;
  cursor: pointer;
  animation: apppulse 1.8s infinite cubic-bezier(0.66,0,0,1);
  animation-delay: 0.3s;
  position: relative;
  z-index: 0;
  @extend .button;
  @extend .is-momo;
  color: white;
  margin-bottom: 15px;
}

@keyframes apppulse {
  to {
    box-shadow: 0 0 0 8px rgba($momo,0);
  }
}
.button.download-btn-android {
  display: none;
}
.button.download-btn-apple {
  display: none;
}


.ios {
  .download-btn-apple , .button.download-btn-apple {
    display: block;
  }
}

.android {
  .download-btn-android , .button.download-btn-android{
    display: block;
  }
}
