.dropdown-toggle::after {
  // position: absolute;
  // right: 10px;
  // top: 15px;
  display: none;
}

.dropdown-menu {
  @extend .shadow;
  &.have-triangle {
    margin: 0;
    &:after,
    &:before {
      bottom: 100%;
      left: 20%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &:after {
      border-color: rgba(136, 183, 213, 0);
      border-bottom-color: white;
      border-width: 8px;
      margin-left: -8px;
      margin-bottom: -1px;
    }
    &:before {
      border-color: rgba(194, 225, 245, 0);
      border-bottom-color: gray("400");
      border-width: 9px;
      margin-left: -9px;
      margin-bottom: -1px;
    }
  }
}
