.embed-responsive-slider {
  &::before {
    // padding-top: percentage(24/72);
    padding-top: 25%
  }
}

.embed-responsive{
  background: gray("200");
}

.embed-responsive-img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  border: 0;
  overflow: hidden;
}

.embed-responsive-apd {
  &::before {
    padding-top: percentage(150/290);
  }
}
.embed-responsive-instruction {
  &::before {
    padding-top: percentage(960/540);
  }
}
.embed-responsive-cat1 {
  &::before {
    padding-top: percentage(278/1000);
  }
}
