input,
.input {
  padding: 0px 10px;
  height: 39px;
  line-height: 39px;
  display: block;
  border: none;
  border: 1px solid gray("300");
  border-radius: $border-radius;
  width: 100%;
  background: white;
  @include hover-focus {
    border-color: gray("300");
    box-shadow: none;
    outline: none;
  }

  @extend .text-truncate;

  &.is-small{
    height: 30px;
    line-height: 30px;
  }

  &.is-danger{
    border-color: theme-color("danger");
  }
}

.input-group {
  position: relative;
  .input {
    padding-right: 40px;
  }

  &.have-arrow-down {
    .input {
      padding-right: 30px;
    }
    &:after {
      position: absolute;
      top: 17px;
      right: 10px;
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 5px 0 5px;
      border-color: gray("500") transparent transparent transparent;
    }
  }
}

.input-group-icon {
  color: gray("500");
  position: absolute;
  right: 0;
  height: 100%;
  // line-height: 100%;
  width: 36px;
  padding-top: 9px;
  text-align: center;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  top: 0;
}
