.dropdown-menu {
  &.is-scroll {
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: auto;
  }
}

.list {
  position: relative;
  z-index: 1;

  &.list-medium{
    .item-name{
      font-size: 15px;
    }
    .item-inner{
      min-height: 50px;
    }
  }

  &.list-border-0 {
    ul {
      &:after,
      &:before {
        display: none;
      }
    }
  }

  &.is-simple{
    padding: 5px 0;
    li{
      position: relative;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 100%;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      line-height: 32px;
      height: 32px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }


  &.is-media{
    .item-inner{
      display: block;
      align-self: stretch;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    background: white;
    &:before {
      content: "";
      position: absolute;
      background-color: gray("200");
      display: block;
      z-index: 15;
      top: 0;
      right: auto;
      bottom: auto;
      left: 0;
      height: 1px;
      width: 100%;
      transform-origin: 50% 0%;
    }
    &:after {
      content: "";
      position: absolute;
      background-color: gray("200");
      display: block;
      z-index: 15;
      top: auto;
      right: auto;
      bottom: 0;
      left: 0;
      height: 1px;
      width: 100%;
    }
  }
  li {
    position: relative;
    box-sizing: border-box;
  }

   .item-title-row {
    position: relative;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
  }
   .item-title-row .item-after {
    align-self: center;
  }

  .item-content {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    min-height: 44px;
    padding-left: 10px;
    color: gray("900");
    &.item-link {
      .item-inner {
        &:before {
          // content: "";
        }
      }
    }
  }

  .item-media {
    display: flex;
    flex-shrink: 0;
    flex-wrap: nowrap;
    align-items: center;
    box-sizing: border-box;
    // padding-bottom: 12px;
    // padding-top: 12px;
  }

  .item-inner {
    position: relative;
    width: 100%;
    min-width: 0;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    align-self: stretch;
    padding-top: 6px;
    padding-bottom: 6px;
    min-height: 44px;
    padding-right: 10px;
    margin-left: 10px;
    &:after {
      content: "";
      position: absolute;
      background-color: gray("200");
      display: block;
      z-index: 15;
      top: auto;
      right: auto;
      bottom: 0;
      left: 0;
      height: 1px;
      width: 100%;
    }
  }

  .item-name {
    color: gray("900");
  }

  .item-title {
    min-width: 0;
    flex-shrink: 1;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }

  .item-after {
    white-space: nowrap;
    flex-shrink: 0;
    display: flex;
    color: gray("500");
    margin-left: auto;
  }
}

img{
  color: transparent;
}

.decoration{
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}