.desnav {
  display: block;
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: auto;
  .nav-item {
    display: inline-block;
    padding: 0 5px 10px;
    margin-bottom: 5px;
    .nav-link {
      display: block;
      padding: 5px 0px;
      color: gray("900");
      position: relative;
      &:after {
        content: "";
        width: 70px;
        height: 3px;
        border-radius: 10px;
        display: block;
        background: transparent;
        position: absolute;
        left: 50%;
        margin-left: -35px;
        bottom: -3px;
      }
      &.active {
        color: $momo;
        &:after {
          background: $momo;
        }
      }
    }
  }
}

