
.static-rating{
  display: flex;
  flex-flow: row nowrap;
  &.is-big{
    justify-content: center;
    .static-rating-item{
      margin-right: 4px;
      font-size: 26px;
     
    }
  }
}

.static-rating-item{
  color: gray("300");
  line-height: 0;
  margin-right: 4px;
  font-size: 13px;
  &.is-active{
    color: color("yellow")
  }
}