$momo: #ae2070;
$momo2: #e0078c;



$white: #fff;
$gray-50: #fafafa;
$gray-100: #f5f5f5;
$gray-200: #eeeeee;
$gray-300: #e0e0e0;
$gray-400: #bdbdbd;
$gray-500: #9e9e9e;
$gray-600: #757575;
$gray-700: #616161;
$gray-800: #424242;
$gray-900: #212121;
$black: #000;
$black: #000;
$rfs-rem-value: 14;
$enable-responsive-font-sizes: true;
// $rfs-font-size-unit: "px";

/*

$white:    #fff !default;
$gray-100: #f4a6bd !default;
$gray-200: #ef83ab !default;
$gray-300: #eb609d !default;
$gray-400: #eb609d !default;
$gray-500: #E83E8C !default;
$gray-600: #b92f71 !default;
$gray-700: #7c1d4c !default;
$gray-800: #460d28 !default;
$gray-900: #2f0617 !default;
$black:    #000 !default;

*/

$grays: ();
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900,
  ),
  $grays
);

$blue: #288ad6;
$indigo: #6610f2;
$purple: #410099;

$pink: #f45197;
$pinkmomo: #a50064;
$pinkhot: #e81f76;
$pinklight: #f9b5c3;

$red: #ff5555;
$orange: #fc642d;
$yellow: #ffcd00;
$green: #28a745;
$teal: #20c997;
$cyan: #10cfc9;
$highlight: #fffbe8;

$momo: #ae2070;
$momo2: #f02475;

$colors: ();
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
  (
    "blue": $blue,
    "indigo": $indigo,
    "purple": $purple,
    "pink": $pink,
    "pinkmomo": $pinkmomo,
    "pinklight": $pinklight,
    "red": $red,
    "orange": $orange,
    "yellow": $yellow,
    "green": $green,
    "teal": $teal,
    "cyan": $cyan,
    "white": $white,
    "gray": $gray-600,
    "gray-dark": $gray-800,
    "momo": $momo,
    "momo2": $momo2,
  ),
  $colors
);

$font-family-sans-serif: Nunito, sans-serif;
$font-family-monospace: monospace;
$font-family-base: $font-family-sans-serif;

$primary: $blue;
$secondary: $gray-600;
$success: $green;
$info: $blue;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-800;

$primary-2: $pinkmomo;
$primary-3: $pinkhot;


$theme-colors: ();
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    "primary": $primary,
    "primary-2": $primary-2,
    "primary-3": $primary-3,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark,
    "blue": $info,
    "momo": $momo,
    "momo2": $momo2
  ),
  $theme-colors
);


$font-size-base:              1rem ; 

$h1-font-size:                $font-size-base * 2 ;
$h2-font-size:                $font-size-base * 1.5 ;
$h3-font-size:                $font-size-base * 1.17 ;
$h4-font-size:                $font-size-base * 1 ;
$h5-font-size:                $font-size-base * 0.83 ;
$h6-font-size:                $font-size-base * 0.67;

$rfs-rem-value: 16;

$enable-responsive-font-sizes: true;


$font-family-sans-serif:      Nunito, sans-serif ;

$font-family-monospace: monospace;

$enable-print-styles: false;

$link-hover-decoratio: none;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
);

$grid-columns: 6;
$grid-gutter-width: 20px;

// Utilities

$displays: none, inline, inline-block, block, flex, inline-flex;

$link-hover-decoration:                 none;


// $dropdown-padding-y:                .5rem;

// $dropdown-item-padding-y:           .25rem ;
// $dropdown-item-padding-x:           0.75rem ;

// $component-active-color:  $gray-900;

$dropdown-link-active-bg: $gray-200;




// Modals

// Padding applied to the modal body
$modal-inner-padding:               1rem;

$modal-dialog-margin:               .5rem;
$modal-dialog-margin-y-sm-up:       1rem;


// $modal-content-color:               null;
$modal-content-bg:                 rgba(255, 255, 255, 0.95);
$modal-content-border-color:        rgba(255, 255, 255, 0.95);

// $modal-content-border-width:        0;
$modal-content-border-radius:       13px;
// $modal-content-box-shadow-xs:       0 .25rem .5rem rgba($black, .5);
// $modal-content-box-shadow-sm-up:    0 .5rem 1rem rgba($black, .5);

// $modal-backdrop-bg:                 $black;
// $modal-backdrop-opacity:            .5;
// $modal-header-border-color:         $border-color;
// $modal-footer-border-color:         $modal-header-border-color;
// $modal-header-border-width:         $modal-content-border-width;
// $modal-footer-border-width:         $modal-header-border-width;
$modal-header-padding-y:            0.6rem;
$modal-header-padding-x:            1rem;
$modal-header-padding:              $modal-header-padding-y $modal-header-padding-x; 

// Keep this for backwards compatibility

$modal-sm:                          700px;

$modal-fade-transform:              translate(0, 80px) ;
$modal-show-transform:              none ;
$modal-transition:                  transform .2s ease-out ;



// Cards

$card-spacer-y:                     .75rem ;
$card-spacer-x:                     .75rem ;
$card-border-color:                 rgba($black, .125) ;
$card-cap-bg:                       rgba($black, .03) ;
$card-cap-color:                    null ;
$card-color:                        null ;
$card-bg:                           $white ;

$card-img-overlay-padding:          1.25rem ;

$card-group-margin:                 $grid-gutter-width / 2 ;
$card-deck-margin:                  $card-group-margin ;

$card-columns-count:                3 ;
$card-columns-gap:                  1.25rem ;
$card-columns-margin:               $card-spacer-y ;


// Spinners

$spinner-width:         1.5rem;
$spinner-height:        $spinner-width;
$spinner-border-width:  .15em;

$spinner-width-sm:        1rem;
$spinner-height-sm:       $spinner-width-sm;
$spinner-border-width-sm: .15em;



// Breadcrumbs

$breadcrumb-padding-y:              .5rem ;
$breadcrumb-padding-x:              0.75rem ;
$breadcrumb-item-padding:           .5rem ;

$breadcrumb-margin-bottom:          0 ;

$breadcrumb-bg:                     white ;
$breadcrumb-divider-color:          $gray-900 ;
$breadcrumb-active-color:           $gray-900 ;
$breadcrumb-divider:                quote(">");

// $breadcrumb-border-radius:          $border-radius ;