.geffen-smart-input {
  .item-after {
    display: block;
    border: 1px solid gray("400");
    border-radius: 5px;
    padding: 0px 30px 0 10px;
    background: white;
    height: 34px;
    line-height: 34px;
    max-width: 100%;
    color: gray("900");
    @extend .text-truncate;

    position: relative;

    &:after {
      position: absolute;
      right: 10px;
      top: 13px;
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 5px 0 5px;
      border-color: gray("500") transparent transparent transparent;
    }
  }
  select {
    display: none;
  }
}

