

.izlude-avatar-square {
  width: 80px;
  height: 80px;
  padding: 3px;
  border-radius: 5px;
  background: white;
  @extend .shadow-sm;
  border: 1px solid gray("300");
  display: flex;
  align-items: center;
  justify-content: center;
}


.izlude-avatar-square-sm {
  width: 60px;
  height: 60px;
  padding: 3px;
  border-radius: 5px;
  background: white;
  @extend .shadow-sm;
  border: 1px solid gray("300");
  display: flex;
  align-items: center;
  justify-content: center;
}


.izlude-avatar-square-md {
  width: 52px;
  height: 52px;
  padding: 1px;
 
  border-radius: 3px;
  background: white;
  @extend .shadow-sm;
  border: 1px solid gray("200")
}

p{
  margin: 0 0 1rem 0;
}

.izlude-cbs-sale strong {
  
  font-size: 1.1em;
  display: block
}

.izlude-cbs-sale br {
  display: none;
  clear: both
}

.izlude-cbs-sale div {
  margin-bottom: 5px
}


.izlu-avatar {
  width: 46px;
  height: 46px;
  border: 1px solid gray("300");
  box-sizing: border-box;
  border-radius: 3px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-object-cover {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.izlu-gallery {
  padding-right: 0;
  padding-left: 0;
  .col {
    flex: 0 0 percentage(1/3);
    width: percentage(1/3);
  }

  .row {
    margin-right: -5px;
    margin-left: -5px;
  }
  .col {
    padding-right: 5px;
    padding-left: 5px;
  }
}

.izlu-gallery-item{
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
  border-radius: 5px;
  position: relative;
  
}
