.juno-cbs{
  // background: linear-gradient(0deg,rgba(251,210,207,.3) 0,rgba(251,210,207,.5) 100%);
  // border: 1px solid $color-momo;
}

.juno-vt{
  padding: 8px 8px 8px 45px;
  
}

.juno-vt-icon{
  top: 50%;
  transform: translateY(-50%);
  left: 8px;
}