.lutie-title-1 {
  font-size: 18px;
  line-height: 21px;
}

.lutie-sub-1 {
  // max-width: 300px;
  display: inline-block;
  margin: 0 auto;
  padding: 5px 7px;
  font-size: 12px;
  line-height: 16px;
  background: #eaeaea;
  border-radius: 6px;
}

.col,
.col-auto {
  min-width: 0;
}

.lutie-article-title {
  font-size: 20px;
  .button {
    line-height: 1;
    padding: 3px 8px;
    height: auto;
    font-size: 12px;
    vertical-align: 16%;
  }
}

.lutie-article-sub {
  color: gray("900");
  font-size: 13px;
}

.lutie-section-title {
  font-weight: bold;
  padding: 9px 0 10px;
  margin-bottom: 0;
}

.text-momo {
  color: theme-color("momo");
}

.bg-lightgray {
  background-color: gray("300");
}

.text-gray {
  color: gray("500");
}

.lutie-inherit {
  font-size: inherit;
}
.lutie-8 {
  font-size: 8px;
}
.lutie-10 {
  font-size: 10px;
}
.lutie-11 {
  font-size: 11px;
}
.lutie-12 {
  font-size: 12px;
}
.lutie-13 {
  font-size: 13px;
}
.lutie-14 {
  font-size: 14px;
}
.lutie-16 {
  font-size: 16px;
}
.lutie-18 {
  font-size: 18px;
}
.lutie-22 {
  font-size: 22px;
}
.lutie-25 {
  font-size: 25px;
}
.lutie-29 {
  font-size: 29px;
}
.lutie-50 {
  font-size: 50px;
}

.border-lightgray {
  border-color: gray("200");
}
.sm-gutters.row {
  margin-right: -5px;
  margin-left: -5px;

  > .col,
  > [class*="col-"] {
    padding-right: 5px;
    padding-left: 5px;
  }
}

.lutie-card-heading {
  font-size: 16px;
}

.lutie-card-subheading {
  color: gray("500");
}

.lh-1 {
  line-height: 1;
}
.lutie-section-heading {
  font-size: 16px;
}

.lutie-section-content {
  color: gray("600");
}

.lutie-section-less {
  position: relative;
  max-height: 200px;
  overflow: hidden;
  transition: max-height 0.5s;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: linear-gradient(
      rgba(255, 255, 255, 0.001),
      white
    ); /* transparent keyword is broken in Safari */
    pointer-events: none;
  }
}
