.midgard-container {
  display: block;
  transform: translateY(0%);
  @extend .container;
  padding: 0;
  // height: 44px;
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;

  position: sticky;
  top: 0;
  z-index: 20;
 
  box-shadow: 0 0.25rem 0.4rem rgba(0, 0, 0, 0.15);

  transform: translateZ(0);
  will-change: transform;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

.topbar-auto-hide.is-hidden ~ .page-content .midgard-container{
  // top: -32px;
  transform: translateY(-50px);
  
}

.topbar-auto-hide.is-hidden.topbar-have-location ~ .page-content .midgard-container{
  // top: -32px;
  transform: translateY(-81px);
}



.midgard {
  background: white;
  padding: 0 15px;
  white-space: nowrap;
  margin-bottom: 0;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  overflow-y: hidden;
  .midgard-item:not(:first-child) {
    padding-left: 10px;
    margin-left: 10px;
    position: relative;
  }
}

.midgard-item {
  display: inline-block;


  
  .midgard-link {
    @include hover-focus{
      color: gray("800");
    }
    position: relative;
 

    &:after{
      content : "";
      width: 100%;
      bottom: 0px;
      height: 3px;
      transition: all 0.2s ease-in;
      background: transparent;
      left: 0;
      position: absolute
    }

    &.active{
      color: theme-color("momo");
      &:after{
        background: theme-color("momo");
      }
    }
  }
}

.midgard-link {
  display: block;
  // padding: 8px 0;
  padding: 10px 0 10px;
  color: gray("800");
}


.section-scrollspy:before {
  display: block;
  cursor: none;
  content: ' ';
  margin-top: -80px;
  height: 80px;
  visibility: hidden;
}
