.payon {
  display: block;
  position: relative;
  vertical-align: top;

  &.is-active {
    >.payon-menu {
      display: block;
    }
  }
}

.payon-menu {
 
  display: none;
  left: 0;
  width: 100%;
  padding-top: 4px;
  position: absolute;
  top: 100%;
  z-index: 20;
  margin-top: 8px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  &:after,
  &:before {
    bottom: 100%;
    left: 10%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: white;
    border-width: 6px;
    margin-left: -6px;
  }
  &:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: gray("400");
    border-width: 7px;
    margin-left: -7px;
  }
}
