.js-pron-viewmore {
  &.active {
    .js-pron-viewmore-content {
      &:after {
        display: block;
      }
    }
    .js-pron-viewmore-btn {

      .open {
        display: inline-block;
      }

      .close2, .close {
        display: none;
      }
    }
  }

  &.is-long{
    .js-pron-viewmore-btn {
        display: block;
    }
  }
}

.js-pron-viewmore-content {
  position: relative;
  max-height: 150px;
  overflow: hidden;
  transition: max-height 0.5s;

  &:after {
    content: "";
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: linear-gradient(rgba(255, 255, 255, 0.001), #fff);
    pointer-events: none;
  }
  &.gray{
    &:after {
 
      background: linear-gradient(rgba(255, 255, 255, 0.001), rgba(248, 248, 248, 1));
    }
  }
}

.js-viewmore-btn{
      // text-decoration: underline;
    font-size: 13px;
    // font-weight: bold;
    padding: 5px 0;
    // color: gray("800");
    
}

.js-pron-viewmore-btn {
  //   text-decoration: underline;
  //   font-size: 13px;
  //   font-weight: bold;
  //   display: none;
  //   padding: 5px 0;
  //   color: gray("900");
    display: none;
  .open {
    display: none;
  }

  .close2, .close {
    display: inline-block;
  }
}
