.wrapper,
body,
html {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}

.wrapper {
  overflow: hidden;
  box-sizing: border-box;
}

.view {
  position: relative;
  height: 100%;
  z-index: 1;
  overflow: hidden;
  box-sizing: border-box;
}

.statusbar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10000;
  box-sizing: border-box;
  display: block;
  height: var(--f7-statusbar-height);
  background: var(--f7-statusbar-bg-color, var(--f7-bars-bg-color));
}

.page {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: none;
  // background-color: gray("100");
  background-color: #f6f6f6;
  z-index: 1;
}
.page-content {
  will-change: scroll-position;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  height: 100%;
  position: relative;
  z-index: 1;
  padding-top: var(--des-page-navbar-offset);
  padding-bottom: var(--des-page-toolbar-offset);
}

.link-absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: transparent;
}
