{% from 'macros/helpers.html' import sprite %}

<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="utf-8" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, viewport-fit=cover"
    />

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <meta name="theme-color" content="#ae2070" />
    <title>
      {% block title %} {{ title }} {% endblock %}
    </title>
    <meta name="theme-color" content="#0e7abe" />

    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />

    {% block CSS %}
    <link rel="stylesheet" href="stylesheets/core.css" />

    {% endblock %}
  </head>

  <body>
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script
      async
      defer
      crossorigin="anonymous"
      src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0"
    ></script>

    <div class="wrapper">
      <!-- Statusbar overlay -->
      <div class="statusbar"></div>

      {% block popup %} {% include "layouts/modal.html" %} {% endblock %}

      <!-- Your main view, should have "view-main" class -->
      <div class="view view-main">
        <!-- Initial Page, "data-name" contains page name -->
        <div class="page">
          <!-- Top topbar -->
          {% include "layouts/header-new.html" %} {% block toolbar %}
          <div class="toolbar toolbar-download ">
            <div class="toolbar-inner ">
              <div class="app-download">
                <div class="container text-center">
                  <div class="app-download__content">
                    <div class="tt">
                      Tải Ví MoMo, nhập 123
                      <strong class="text-primary-2">"HELLOMOMO"</strong> nhận
                      quà
                      <strong class="text-primary-2">500.000đ</strong>
                    </div>

                    <div class="app-download__btn">
                      <a
                        href=""
                        class="btn font-weight-bold btn-primary-2 py-1 px-2 d"
                        >TẢI NGAY</a
                      >
                    </div>
                  </div>
                </div>

                <a
                  href=""
                  title="dismiss"
                  class="js-app-download headerstrip__banner-dismiss"
                >
                  <svg
                    class="headerstrip__dismiss-icon"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M19.8 2.4c.3.3.3.8 0 1.1l-6 6c-.3.3-.3.8 0 1.1l6 6c.3.3.3.8 0 1.1l-2.2 2.2c-.3.3-.8.3-1.1 0l-6-6c-.3-.3-.8-.3-1.1 0l-6 6c-.3.3-.8.3-1.1 0L.1 17.7c-.3-.3-.3-.8 0-1.1l6-6c.3-.3.3-.8 0-1.1l-6-6c-.3-.3-.3-.8 0-1.1L2.3.2c.3-.3.8-.3 1.1 0l6 6c.3.3.8.3 1.1 0l6-6c.3-.3.8-.3 1.1 0l2.2 2.2z"
                    ></path>
                  </svg>
                </a>
              </div>
            </div>
          </div>

          <script>
            document
              .querySelector(".js-app-download")
              .addEventListener("click", function (e) {
                e.preventDefault();
                document.querySelector(".app-download").classList.add("d-none");
                document.querySelector(".toolbar-download").classList.add("d-none");
              });
          </script>

          <!-- <div class="toolbar toolbar-download d-none">
            <div class="toolbar-inner px-3">
              <div class="row w-100 no-gutters align-items-center">
                <div class="col">
                  <div class="app-present-txt lutie-12 text-momo">
                    Tải Ví MoMo, nhập mã <strong>'TIETKIEM'</strong>
                    <br class="d-block d-lg-none" />Nhận ngay ưu đãi hoàn tiền
                    lên đến 70%
                  </div>
                </div>
                <div class="col-auto text-right">
                  <a href="" class="button is-momo is-rounded is-pulse">
                    <svg class="svg-inline">
                      <use xlink:href="svg/svg.svg#svg-download"></use>
                    </svg>

                    Tải ngay
                  </a>
                </div>
              </div>
            </div>
          </div> -->

          {% endblock %}

          <!-- Bottom Toolbar -->
          <!-- <div class="toolbar toolbar-bottom">
                    <div class="toolbar-inner">
                        <a href="#" class="link">Link 1</a>
                        <a href="#" class="link">Link 2</a>
                    </div>
                </div> -->

          <!-- Scrollable page content -->

          <div class="page-content">
            {% block content %} {% endblock %} {% include
            "layouts/footer-new.html" %}
          </div>
        </div>
      </div>
    </div>

    {% block javascript %}

    <!-- <script src="js/jquery-3.3.1.slim.min.js"></script> -->
    <script src="js/jquery-3.4.1.min.js"></script>

    <script src="js/popper.min.js"></script>

    <script src="js/vue.min.js"></script>

    <script src="javascripts/app.js"></script>

    <script src="js/swiper.min.js"></script>

    <script src="js/lazysizes.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <!-- <script src="js/bootbox.all.min.js"></script> -->

    <script src="js/custom.js"></script>

    {% endblock %}
  </body>
</html>
