

<footer class="footer mt-4">
    <div class="container">
        <div class="row sm-gutters">

            <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">

                <div class="footer__logo">
                    <div class="navbar-brand header__logo m-0">

                        <svg width="96" class="svg-icon fill-current momo__logo " height="87" viewBox="0 0 96 87"
                            fill="#fff" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M75.5326 0C64.2284 0 55.0651 8.74843 55.0651 19.5409C55.0651 30.3333 64.2284 39.0818 75.5326 39.0818C86.8368 39.0818 96 30.3333 96 19.5409C96 8.74843 86.8368 0 75.5326 0ZM75.5326 27.8805C70.7368 27.8805 66.8403 24.1604 66.8403 19.5818C66.8403 15.0031 70.7368 11.283 75.5326 11.283C80.3283 11.283 84.2248 15.0031 84.2248 19.5818C84.2248 24.1604 80.3283 27.8805 75.5326 27.8805ZM49.1561 14.6761V39.1226H37.3809V14.5535C37.3809 12.7138 35.8394 11.2421 33.9126 11.2421C31.9857 11.2421 30.4442 12.7138 30.4442 14.5535V39.1226H18.669V14.5535C18.669 12.7138 17.1276 11.2421 15.2007 11.2421C13.2739 11.2421 11.7324 12.7138 11.7324 14.5535V39.1226H0V14.6761C0 6.58176 6.89385 0 15.372 0C18.8403 0 22.0089 1.10377 24.5781 2.9434C27.1472 1.10377 30.3586 0 33.7841 0C42.2623 0 49.1561 6.58176 49.1561 14.6761ZM75.5326 47.544C64.2284 47.544 55.0651 56.2925 55.0651 67.0849C55.0651 77.8774 64.2284 86.6258 75.5326 86.6258C86.8368 86.6258 96 77.8774 96 67.0849C96 56.2925 86.8368 47.544 75.5326 47.544ZM75.5326 75.4245C70.7368 75.4245 66.8403 71.7044 66.8403 67.1258C66.8403 62.5472 70.7368 58.827 75.5326 58.827C80.3283 58.827 84.2248 62.5472 84.2248 67.1258C84.2248 71.7044 80.3283 75.4245 75.5326 75.4245ZM49.1561 62.2201V86.6667H37.3809V62.0975C37.3809 60.2579 35.8394 58.7862 33.9126 58.7862C31.9857 58.7862 30.4442 60.2579 30.4442 62.0975V86.6667H18.669V62.0975C18.669 60.2579 17.1276 58.7862 15.2007 58.7862C13.2739 58.7862 11.7324 60.2579 11.7324 62.0975V86.6667H0V62.2201C0 54.1258 6.89385 47.544 15.372 47.544C18.8403 47.544 22.0089 48.6478 24.5781 50.4874C27.1472 48.6478 30.3158 47.544 33.7841 47.544C42.2623 47.544 49.1561 54.1258 49.1561 62.2201Z"
                                fill="" />
                        </svg>

                    </div>

                </div>


                <div class="font-weight-bold  footer-care-head text-white  mb-3 mb-sm-0 mb-lg-0 mt-1 mt-sm-0 mt-md-2">
                    Công ty cổ phần dịch vụ
                    di động trực tuyến (viết tắt M_Service)
                </div>



                <div class="mt-2 footer-care-txt">
                    Lầu M, Toà nhà Petroland, 12 Tân Trào, P. Tân Phú, Q.7, Tp. Hồ Chí Minh
                </div>


                <div class="mt-3">

                    <div class="mt-2">
                        <a rel="nofollow" href="http://online.gov.vn/Home/AppDetails/163" target="_blank">
                            <img class="img-fluid  d-lg-block " alt="chứng nhận"
                                src="https://static.mservice.io/styles/desktop/images/bocongthuong.png">
                        </a>
                    </div>
                </div>

            </div>

            <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0 d-none d-md-block">

                <div class="row sm-gutters">
                    <div class="col-6 col-md-12">

                        <div class="footer-care mt-1 mt-lg-1">
                            <a href="" class="footer-call-num link-white"> Về MoMo</a>
                        </div>
                    </div>

                    <div class="col-6 col-md-12">
                        <div class="footer-care mt-1 mt-lg-1">
                            <a href="" class="footer-call-num link-white"> Blog</a>
                        </div>
                    </div>

                    <div class="col-6 col-md-12">
                        <div class="footer-care mt-1 mt-lg-1">
                            <a href="" class="footer-call-num link-white"> Liên hệ</a>
                        </div>
                    </div>

                    <div class="col-6 col-md-12">
                        <div class="footer-care mt-1 mt-lg-1">
                            <a href="" class="footer-call-num link-white"> Tuyển dụng</a>
                        </div>
                    </div>

                    <div class="col-6 col-md-12">
                        <div class="footer-care mt-1 mt-lg-1">
                            <a href="" class="footer-call-num link-white"> Chính sách quyền riêng tư</a>
                        </div>
                    </div>
                    <div class="col-6 col-md-12">

                        <div class="footer-care mt-1 mt-lg-1">
                            <a href="" class="footer-call-num link-white"> Chính sách bảo mật</a>
                        </div>
                    </div>
                </div>







            </div>

            <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
                <h4 class="font-weight-bold footer-heading">
                    Chăm sóc khách hàng
                </h4>



                <div class="footer-care mt-1 mt-lg-1">
                    <div class="footer-care-txt d-inline"> Hotline : </div>
                    <a href="tel:1900 5454 41" class="footer-call-num link-white">1900 5454 41</a> <small>
                        <i>
                            (1000
                            đ/phút)
                        </i>
                    </small>
                </div>

                <div class="footer-care mt-1 mt-lg-1">
                    <div class="footer-care-txt d-inline">Email : </div>
                    <a class="footer-call-num link-white" href="mailto:hotro@momo.vn">
                        hotro@momo.vn </a>
                </div>
                <div class="footer-care mt-1 mt-lg-1">
                    <div class="footer-care-txt d-inline"> Tổng đài gọi ra : </div> <br>
                    <a class="footer-call-num link-white" href="tel:028.7306.5555"> 028.7306.5555</a> -
                    <a class="footer-call-num link-white" href="tel:028.9999.5555"> 028.9999.5555</a>
                </div>



                <div class="footer-btn-app mt-3">
                    <a href="javascript:void(0);" data-toggle="modal" data-target="#modalMobileTest"
                        class="link-absolute"></a>

                    <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                            <div class="mr-1">
                                <svg class="svg-icon" fill="#fff" viewBox="0 0 345.1 512" >
                                    <g>
                                        <title>Asset 1</title>
                                        <path d="M279.4,23.7H30.8C14.5,23.7,0,38.2,0,56.3v401.8c0,16.3,14.5,30.8,30.8,30.8H76h23.8L76,449.4H34.5V96.2h243.1v152l34.5,22
                                            V56.3C312,38.2,297.5,23.7,279.4,23.7z M226.8,77.1H86.1c-8.1,0-13.5-5.4-13.5-13.5c0-8.1,5.4-13.5,13.5-13.5h140.8
                                            c5.4,0,10.8,5.4,10.8,13.5C237.7,71.7,232.3,77.1,226.8,77.1z">
                                        </path>
                                        <path
                                            d="M189.4,200.7c-14.4,0-25.9,11.6-25.9,25.9v155.7l-17.3-34.6c-14.2-26.3-28.1-23.6-38.9-17.3c-12.5,8.3-17.2,17-8.6,38.9
                                            c19.6,48.2,49.8,105.6,82.2,142.7h116.7c41-30.4,74-175,17.3-181.6c-5.2,0-13.5,0.8-17.3,4.3c0-17.3-15.1-21.7-21.6-21.6
                                            c-7.5,0.1-13,4.3-17.3,13c0-17.3-14.1-21.6-21.6-21.6c-8.3,0-17.9,5.2-21.6,13v-90.8C215.4,212.3,203.8,200.7,189.4,200.7z">
                                        </path>
                                    </g>
                                </svg>

                            </div>
                        </div>
                        <div class="col">
                            <div class="fba-1">
                                Hướng dẫn trợ giúp trên
                            </div>

                            <div class="fba-2">
                                Ứng dụng Ví MoMo
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
                <h4 class="font-weight-bold footer-heading">
                    Hợp tác doanh nghiệp
                </h4>

                <div class="footer-care mt-1 mt-lg-1">
                    <div class="footer-care-txt d-inline"> Hotline : </div>
                    <a href="tel:02871022222" class="footer-call-num link-white">(028) 710 22 222</a> <small>
                        <i>
                            (ext:5000)
                        </i>
                    </small>
                </div>

                <div class="footer-care mt-1 mt-lg-1">
                    <div class="footer-care-txt d-inline"> Đăng ký tại : </div>
                    <a href="https://business.momo.vn/" class="footer-call-num link-white"
                        target="_blank">business.momo.vn</a>
                </div>



            </div>



        </div>
        <div class="footer__meta">
            <div class="row align-items-center">
                <div class="col-12 col-md-auto order-3 order-md-1 ">
                    <div class="copyright text-center text-md-left">
                        ©Copyright M_Service 2018
                    </div>
                </div>
                <div class="col-12 col-md text-center order-2 mb-4 mb-md-0">


                    <ul class="list-inline footer-social-list mt-0 mb-0">
                        <li class="list-inline-item ">
                            <a href="https://www.facebook.com/vimomo" target="_blank" rel="nofollow">
                                <img src="https://static.mservice.io/styles/desktop/images/social/facebook.svg" alt=""
                                    width="26">
                            </a>
                        </li>


                        <li class="list-inline-item ">
                            <a href="https://www.linkedin.com/company/momo-mservice/" target="_blank" rel="nofollow">
                                <img src="https://static.mservice.io/styles/desktop/images/social/linkedin.svg" alt=""
                                    width="26">
                            </a>
                        </li>

                        <li class="list-inline-item ">
                            <a href="https://www.youtube.com/channel/UCKHHW-qL2JoZqcSNm1jPlqw" target="_blank"
                                rel="nofollow">
                                <img src="https://static.mservice.io/styles/desktop/images/social/youtube.svg" alt=""
                                    width="26">
                            </a>
                        </li>
                        <li class="list-inline-item ">
                            <a href="https://goo.gl/maps/DgxvijUpuRRAgcFv7" target="_blank" rel="nofollow">
                                <img src="https://static.mservice.io/styles/desktop/images/social/google-plus.svg"
                                    alt="" width="26">
                            </a>
                        </li>
                    </ul>

                </div>

                <div class="col-12 col-md-auto order-1 order-md-3  mb-4 mb-md-0">

                    <div class="row sm-gutters flex-nowrap justify-content-center">
                        <div class="col-auto">
                            <a href="https://itunes.apple.com/vn/app/id918751511?utm_source=website-momo&amp;utm_medium=download&amp;utm_campaign=momo-1dong"
                                class="link-white" target="_blank">
                                <img src="https://static.mservice.io/img/tai-appstore.png" width="130" class="img-fluid"
                                    alt="">
                            </a>
                        </div>
                        <div class="col-auto">
                            <a href="https://play.google.com/store/apps/details?id=com.mservice.momotransfer&amp;utm_source=website-momo&amp;utm_medium=download&amp;utm_campaign=momo-1dong"
                                class="link-white" target="_blank">
                                <img src="https://static.mservice.io/img/tai-google-play.png" width="130"
                                    class="img-fluid" alt="">
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</footer>


