


<nav class="navbar navbar-expand-md navbar-dark bg-dark ">
    <div class="container">
        <a class="navbar-brand" href="#">Des admin</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                {% for file, item in navigation  %}


                <li {% if isActiveMenuItem(file, item, filename) or item.sub %}
                    class="nav-item {{ 'active' if isActiveMenuItem(file, item, filename) }}{{ ' dropdown' if item.sub }}"
                    {% endif %}>
                    <a class="nav-link {{ ' dropdown-toggle' if item.sub }}" {% if item.sub %}
                        id="dropdown{{loop.index}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        {% endif %} href="{{file | safe}}">{{ item.name | safe }}</a>


                    {% if item.sub %}

                    <div class="dropdown-menu" aria-labelledby="dropdown{{loop.index}}">

                        {% for file, item in item.sub  %}
                        <a class="dropdown-item {{ 'active' if isActiveMenuItem(file, item, filename) }}"
                            href="{{file | safe}}">{{ item.name | safe }}</a>
                        {% endfor %}


                    </div>



                    {% endif %}

                </li>



                {% endfor %}

            </ul>

        </div>
    </div>
</nav>