<div class="modal modal-sidebar fade " id="modal-sidebar-box" tabindex="-1" role="dialog"
    aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">

            <div class="sidebar modal-scroll ">

                <div class="sidebar-content ">
                    <div class="topbar position-relative">
                        <div class="container px-0">
                            <div class="row no-gutters align-items-center topbar-content">

                                <div class="col-auto ">
                                    <div class="topbar-left">
                                        <a href="" class="logo-momo">
                                            <img src="https://static.mservice.io/img/logo-momo.png" class="img-fluid"
                                                alt="">
                                        </a>
                                    </div>

                                </div>

                                <div class="col"></div>

                                <div class="col-auto">
                                    <div class="topbar-right">

                                        <a data-dismiss="modal" aria-label="Close" class="topbar-hamburge">
                                            <svg class="svg-inline svg  ">
                                                <use xlink:href="svg/svg.svg#svg-close"></use>
                                            </svg>
                                        </a>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class=" mb-2">
                        <div class="list">
                            <ul>
                                {% for file, item in navigation %}

                                <li class="">
                                    <a href="#" class="item-content item-link">
                                        <div class="item-media text-momo lutie-16">
                                            <svg class="svg-inline">
                                                <use xlink:href="svg/svg.svg#{{item.icon}}"></use>
                                            </svg>

                                        </div>
                                        <div class="item-inner">

                                            <div class="item-title">
                                                {{ item.name }}
                                            </div>

                                            <div class="item-after lutie-12">
                                                <svg class="svg-inline ">
                                                    <use xlink:href="svg/svg.svg#svg-angle-right"></use>
                                                </svg>
                                            </div>

                                        </div>
                                    </a>
                                </li>

                                {% endfor %}

                            </ul>
                        </div>

                    </div>


                    <!-- 
                    <div class="sidebar-section">

                        <div class="sidebar-section-title">
                            HỖ TRỢ
                        </div>

                        <ul class="list-unstyled mb-0">
                            <li class="mb-2">
                                Hot line : <a href="tel: 1900 5454 41" class="font-weight-bold h4">1900 54 54</a>
                            </li>

                            <li class="mb-2">
                                Tổng đài gọi ra : <a href="tel:028.7306.5555">028.7306.5555</a>
                            </li>

                            <li class="mb-2">
                                Chăm sóc khách hàng :

                                <a class="" href="mailto: hotro@momo.vn"> hotro@momo.vn </a>

                            </li>

                        </ul>


                    </div>

                    <div class="decoration my-0"></div>

                    <div class="sidebar-section">


                        <div class="sidebar-section-title">
                            ỨNG DỤNG
                        </div>

                        <div class="mb-2">
                            Tải ứng dụng ví Momo
                        </div>

                        <div class="row no-gutters ">
                            <div class="col-6">
                                <a href="https://itunes.apple.com/vn/app/id918751511?utm_source=website-momo&amp;utm_medium=download&amp;utm_campaign=momo-1dong"
                                    class="link-white" target="_blank">
                                    <img src="https://static.mservice.io/img/tai-appstore.png" width="130"
                                        class="img-fluid" alt="">
                                </a>

                            </div>
                            <div class="col-6">

                                <a href="https://play.google.com/store/apps/details?id=com.mservice.momotransfer&amp;utm_source=website-momo&amp;utm_medium=download&amp;utm_campaign=momo-1dong"
                                    class="link-white" target="_blank">
                                    <img src="https://static.mservice.io/img/tai-google-play.png" width="130"
                                        class="img-fluid" alt="">
                                </a>
                            </div>


                        </div>


                    </div>


                    <div class="decoration my-0"></div>

                    <div class="sidebar-section">


                        <div class="sidebar-section-title">
                            KẾT NỐI
                        </div>


                        <ul class="list-inline socials-list mb-0">
                            <li class="list-inline-item">
                                <a href="" class="facebook">
                                    <svg class="svg-inline svg  ">
                                        <use xlink:href="svg/svg.svg#svg-facebook"></use>
                                    </svg>
                                </a>
                            </li>

                            <li class="list-inline-item">
                                <a href="" class="linkedin">
                                    <svg class="svg-inline svg  ">
                                        <use xlink:href="svg/svg.svg#svg-linkedin"></use>
                                    </svg>
                                </a>
                            </li>

                            <li class="list-inline-item">
                                <a href="" class="youtube">
                                    <svg class="svg-inline svg  ">
                                        <use xlink:href="svg/svg.svg#svg-youtube"></use>
                                    </svg>
                                </a>
                            </li>


                        </ul>


                    </div>

                    <div class="decoration my-0"></div>

                    <div class="sidebar-section mb-0">


                        <div class="text-capitalize mb-2 font-13 font-weight-bold">
                            Công ty cổ phần dịch vụ
                            di động trực tuyến (Viết tắt M_SERVICE)
                        </div>

                        <div class="font-12 text-secondary">
                            Lầu M, Toà nhà Petroland, 12 Tân Trào, P. Tân Phú,
                            Q.7, Tp. Hồ Chí Minh
                        </div>

                    </div>

                     -->
                </div>


            </div>


        </div>
    </div>
</div>


<div class="modal htu-modal modal-fullscreen fade " id="htu-modal" tabindex="-1" role="dialog"
    aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog ">


        <div class="modal-content">

            <div class="htu-modal-header">
                <div class="htu-modal-close " data-dismiss="modal" id="dwd">
                    <svg class="svg-inline svg  ">
                        <use xlink:href="svg/svg.svg#svg-angle-left"></use>
                    </svg>

                    Quay lại
                </div>

                <div class="htu-modal-title text-truncate">
                    Hướng dẫn làm Chịch chịch chịch
                </div>

                <div class="htu-modal-space">

                </div>

            </div>

            <div class="htu-modal-content">


                <div class="swiper-container htu-slider">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">

                            <div class="htu-slider-content">
                                <div class="ht-mockup">


                                    <div class="htu-slider-mockup">
                                        <img data-src="https://static.mservice.io/img/momo-upload-api-tai-vi-1-190103160624.jpg"
                                            class="img-fluid d-block mx-auto swiper-lazy" alt="">

                                    </div>

                                    <div class="htu-slider-txt">
                                        <h3 class="htu-slider-title"> <strong>Bước 1/6 : </strong> Tải ứng dụng Ví MoMo
                                        </h3>
                                        <div class="htu-slider-body">
                                            Tải ứng dụng miễn phí bằng cách tìm kiếm từ khóa “vi momo” trên App Store
                                            hoặc Google Play Store.

                                            <br>
                                            Tải ứng dụng miễn phí bằng cách tìm kiếm từ khóa “vi momo” trên App Store
                                            hoặc Google Play Store.


                                            <br>
                                            Tải ứng dụng miễn phí bằng cách tìm kiếm từ khóa “vi momo” trên App Store
                                            hoặc Google Play Store.
                                        </div>

                                        <div class="mt-3  font-italic">

                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>

                        <div class="swiper-slide">

                            <div class="htu-slider-content">
                                <div class="ht-mockup">
                                    <div class="htu-slider-mockup">
                                        <img data-src="https://static.mservice.io/img/momo-upload-api-2-190103153118.jpg"
                                            class="img-fluid d-block mx-auto swiper-lazy" alt="">

                                    </div>

                                    <div class="htu-slider-txt">
                                        <h3 class="htu-slider-title"> <strong>Bước 2/6 : </strong> Nhập số điện thoại
                                        </h3>
                                        <div class="htu-slider-body">
                                            Mở ứng dụng và nhập số điện thoại bạn muốn đăng ký Ví MoMo.
                                        </div>

                                        <div class="mt-3  font-italic">
                                            Lưu ý: Số điện thoại đăng kí Ví phải trùng với số điện thoại đăng kí
                                            Internet Banking của ngân hàng bạn muốn liên kết.
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>

                        <div class="swiper-slide">

                            <div class="htu-slider-content">
                                <div class="ht-mockup">
                                    <div class="htu-slider-mockup">
                                        <img data-src="https://static.mservice.io/img/momo-upload-api-3-190103153122.jpg"
                                            class="img-fluid d-block mx-auto swiper-lazy" alt="">

                                    </div>

                                    <div class="htu-slider-txt">
                                        <h3 class="htu-slider-title"> <strong>Bước 3/6 : </strong> Nhập mã xác thực
                                        </h3>
                                        <div class="htu-slider-body">
                                            Một tin nhắn chứa mã xác thực sẽ gửi trực tiếp đến số điện thoại của bạn.
                                            &lt;/br&gt; Vui lòng kiểm tra và nhập chính xác mã xác thực vào ô &quot;Nhập
                                            mã xác thực&quot; rồi nhấn &quot;Tiếp tục&quot;.
                                        </div>

                                        <div class="mt-3  font-italic">
                                            .
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>

                        <div class="swiper-slide">

                            <div class="htu-slider-content">
                                <div class="ht-mockup">
                                    <div class="htu-slider-mockup">
                                        <img data-src="https://static.mservice.io/img/momo-upload-api-4-190103153127.jpg"
                                            class="img-fluid d-block mx-auto swiper-lazy" alt="">

                                    </div>

                                    <div class="htu-slider-txt">
                                        <h3 class="htu-slider-title"> <strong>Bước 4/6 : </strong> Tạo mật khẩu đăng
                                            nhập </h3>
                                        <div class="htu-slider-body">
                                            Thiết lập mật khẩu để bảo vệ tài khoản Ví MoMo của bạn gồm 6 chữ số và mật
                                            khẩu ở 2 ô phải hoàn toàn giống nhau. &lt;/br&gt;
                                            Sau đó bấm &quot;Xác nhận&quot;.
                                        </div>

                                        <div class="mt-3  font-italic">

                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>

                        <div class="swiper-slide">

                            <div class="htu-slider-content">
                                <div class="ht-mockup">
                                    <div class="htu-slider-mockup">
                                        <img data-src="https://static.mservice.io/img/momo-upload-api-5-190103153131.jpg"
                                            class="img-fluid d-block mx-auto swiper-lazy" alt="">

                                    </div>

                                    <div class="htu-slider-txt">
                                        <h3 class="htu-slider-title"> <strong>Bước 5/6 : </strong> Nhập thông tin </h3>
                                        <div class="htu-slider-body">
                                            Sau khi tạo mật khẩu đăng nhập thành công, bạn nhập thông tin cá nhân theo
                                            yêu cầu và nhấn &quot;Xác nhận&quot; để hoàn tất đăng ký.
                                        </div>

                                        <div class="mt-3  font-italic">

                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>


                    </div>
                    <!-- Add Pagination -->
                    <!-- <div class="swiper-pagination"></div> -->

                    <!-- Add Arrows -->
                    <div class="swiper-button-next">

                        <svg class="svg-inline ">
                            <use xlink:href="svg/svg.svg#svg-angle-right"></use>
                        </svg>

                    </div>
                    <div class="swiper-button-prev">

                        <svg class="svg-inline ">
                            <use xlink:href="svg/svg.svg#svg-angle-left"></use>
                        </svg>
                    </div>

                </div>


            </div>

            <div class="htu-modal-cta">
                <a href="#" class="button is-momo is-fullwidth is-round download-btn-apple">
                    MUA SẮM NGAY IOS
                </a>
            
                <a href="#" class="button is-momo is-fullwidth is-round download-btn-android">
                    MUA SẮM NGAY ANDROID
                </a>
            </div>


        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="modalRating" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
        <div class="modal-content" style="height: 270px">

            <div class="modal-header align-items-center border-0">


                <button type="button" class="modal-close-btn close" data-dismiss="modal" aria-label="Close">
                    <svg class="svg-inline ">
                        <use xlink:href="svg/svg.svg#svg-error"></use>
                    </svg>
                </button>


            </div>
            <div class="modal-body">

                <h3 class="text-center font-weight-bold" id="">Vui lòng chọn đánh giá của bạn</h3>

                <div class="text-center">
                    <div class="static-rating is-big mt-4 mb-4">
                        <div class="static-rating-item is-active">
                            <svg class="svg-inline ">
                                <use xlink:href="svg/svg.svg#svg-star"></use>
                            </svg>
                        </div>
                        <div class="static-rating-item is-active">
                            <svg class="svg-inline ">
                                <use xlink:href="svg/svg.svg#svg-star"></use>
                            </svg>
                        </div>
                        <div class="static-rating-item is-active">
                            <svg class="svg-inline ">
                                <use xlink:href="svg/svg.svg#svg-star"></use>
                            </svg>
                        </div>
                        <div class="static-rating-item is-active">
                            <svg class="svg-inline ">
                                <use xlink:href="svg/svg.svg#svg-star"></use>
                            </svg>
                        </div>
                        <div class="static-rating-item">
                            <svg class="svg-inline ">
                                <use xlink:href="svg/svg.svg#svg-star"></use>
                            </svg>
                        </div>
                    </div>
                </div>

                <div class="text-center h3 text-warning">
                    Tạm được
                </div>

                <div class="text-center mt-4">
                    <a href="" class="button is-momo">Gửi đánh giá</a>
                </div>

            </div>
            <!-- <div class="modal-footer">
                    <button type="button" class="button" data-dismiss="modal">Close</button>
                    <button type="button" class="button">Save changes</button>
                </div> -->
        </div>
    </div>
</div>

<div class="modal fade" id="modalBaiViet" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
        <div class="modal-content" style="">

            <div class="modal-header align-items-center border-0">

                <h3 class="modal-title font-weight-bold" id="">Thông tin</h3>


                <button type="button" class="modal-close-btn close" data-dismiss="modal" aria-label="Close">
                    <svg class="svg-inline ">
                        <use xlink:href="svg/svg.svg#svg-error"></use>
                    </svg>
                </button>


            </div>
            <div class="modal-body">

                <div class="cbs-post ">
                    <p style="text-align: justify;" class="">Bắt đầu từ năm 1951 tại bang Texas, Mỹ, tới nay,
                        <strong>Circle
                            K</strong> đã
                        trở thành một trong những thương hiệu cửa hàng tiện lợi uy tín rộng khắp, nổi tiếng vì chất
                        lượng
                        sản phẩm
                        và dịch vụ chăm sóc khách hàng tuyệt vời với hơn 16.000 cửa hàng trên toàn thế giới.</p>

                    <p style="text-align: justify;">Tại Việt Nam, <a
                            href="https://www.circlek.com.vn/vi/"><strong>Circle
                                K</strong></a> chú trọng vào việc phát triển nhanh chóng trong lĩnh vực kinh doanh chuỗi
                        cửa
                        hàng tiện
                        lợi theo giấy phép nhượng quyền thương hiệu của Circle K Mỹ. Circle K tự hào là chuỗi cửa hàng
                        tiện
                        lợi quốc
                        tế đầu tiên tại Việt Nam.</p>

                    <p style="text-align: justify;"><strong>Circle K Việt Nam</strong> hiện đã có hơn 300 cửa hàng tại
                        các
                        thành
                        phố lớn như Hà Nội, Hạ Long, Hồ Chí Minh, Vũng Tàu, và sẽ còn tiếp tục phát triển để đáp ứng nhu
                        cầu
                        của
                        khách hàng ở khắp mọi nơi.</p>

                    <p style="text-align: justify;">Cam Kết Dịch Vụ của Circle K đối với khách hàng được gói gọn trong 4
                        chữ
                        F
                        (4Fs) (Tươi, Thân Thiện, Nhanh, và Đầy Đủ).</p>

                    <p style="text-align: justify;">Circle K là một trong những đối tác quan trọng của <a
                            href="https://momo.vn/">Ví MoMo</a>. Hiện tại, khách hàng đã có thể <a
                            href="https://momo.vn/thanh-toan-momo-circlek">thanh toán bằng Ví MoMo</a> tại các cửa hàng
                        của
                        Circle K,
                        góp phần làm cho việc thanh toán trở nên nhanh chóng và tiện lợi hơn bao giờ hết.</p>

                </div>

            </div>
            <!-- <div class="modal-footer">
                        <button type="button" class="button" data-dismiss="modal">Close</button>
                        <button type="button" class="button">Save changes</button>
                    </div> -->
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade modal-cashback-detail" id="modalCashbackPop" tabindex="-1" role="dialog" aria-labelledby=""
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
        <div class="modal-content" style="height: 100%;">

            <div class="modal-header align-items-center">
                <h3 class="modal-title font-weight-bold" id="">Thông tin hoàn tiền</h3>


                <button type="button" class="modal-close-btn close" data-dismiss="modal" aria-label="Close">
                    <svg class="svg-inline ">
                        <use xlink:href="svg/svg.svg#svg-error"></use>
                    </svg>
                </button>


            </div>
            <div class="modal-body">

                <div class="row sm-gutters align-items-center mb-3">
                    <div class="col-auto">


                        <div class="izlude-avatar-square-sm">
                            <img data-src="https://static.mservice.io/placebrand/s/momo-upload-api-190530102333-636948086134202053.png"
                                class="img-fluid lazyloaded" alt=""
                                src="https://static.mservice.io/placebrand/s/momo-upload-api-190530102333-636948086134202053.png">
                        </div>

                    </div>
                    <div class="col">
                        <div class=" ">
                            <div class="lutie-article-title font-weight-bold mt-0 mb-1 mr-2">Co.op Smile

                            </div>

                            <div class="lutie-article-sub lutie-12 text-gray">
                                Một trong những nhà mạng di động lớn
                                nhất tại Việt Nam với hơn 50tr thuê bao.
                            </div>

                        </div>
                    </div>

                    <div class="col-auto">
                        <div class="cashback-hori-value">
                            <div
                                class="cashback-hori-number d-flex align-items-center justify-content-center text-center">
                                <div>
                                    Hoàn tiền
                                    <span class="d-block font-weight-bold">47%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="js-pron-viewmore active">
                    <div class="js-pron-viewmore-content gray">
                        <div class="text-muted text-left modal-cashback-txt">
                            <strong>Chi tiết ưu đãi:</strong><br>
                            Hoàn tiền 50% tối đa 100.000đ trên tổng hóa đơn (duy nhất ngày 1/11/2019)<br>
                            <br>
                            <strong>Điều kiện và điều khoản:</strong><br>
                            - Chỉ áp dụng cho lần thanh toán đầu tiên của khách hàng trong ngày 1/11/2019<br>
                            - Những lần thanh toán tiếp theo, áp dụng tỷ lệ hoàn tiền mặc định là 3%<br>
                            - Áp dụng cho các khách hàng đang liên kết ngân hàng với MoMo<br>
                            - Không được cộng gộp với ưu đãi hoặc thẻ quà khác<br>
                            - Ưu đãi có hạn và có thể kết thúc sớm hơn thời gian dự tính
                        </div>
                   

                    </div>
                    <div class="js-pron-viewmore-btn">

                        <div class="py-2 text-left">
                            <a href="#" class="js-viewmore-btn open">XEM THÊM <span class="lutie-10"> <svg
                                        class="svg-inline  ">
                                        <use xlink:href="svg/svg.svg#svg-angle-down"></use>
                                    </svg></span> </a>
                            <a href="#" class="js-viewmore-btn close2">RÚT GỌN<span class="lutie-10"> <svg
                                        class="svg-inline  ">
                                        <use xlink:href="svg/svg.svg#svg-angle-up"></use>
                                    </svg></span>
                            </a>
                        </div>

                    </div>

                </div>



                <div class="mt-3">
                    <div class="mb-2">13 cửa hàng tại <strong class="text-primary">Quận 7 - TP. Hồ Chí Minh</strong>
                    </div>
                    <div class="card mt-2 border-0 shadow-sm">

                        <div class="card-body p-0">


                            <div class="list list-border-0  is-media  cbs-address-list">
                                <ul class="bg-transparent">
                                    {% for item in range(0,4) %}
                                    <li class="">
                                        <div class="item-link item-content pl-0  ">

                                            <div class="item-inner ml-0 pl-2">

                                                <div class="row no-gutter">
                                                    <div class="col">
                                                        <div class="text-truncate text-gray lutie-12">Circle K - 104 Hồ
                                                            Tùng Mậu
                                                        </div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <a href="" class="lutie-12">
                                                            <svg class="svg-inline ">
                                                                <use xlink:href="svg/svg.svg#svg-navigation"></use>
                                                            </svg>

                                                            Chỉ đường
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="lutie-13 font-weight-bolder ">104 Hồ Tùng Mậu, Phường Bến
                                                    Nghé, Quận 1, Thành
                                                    Phố Hồ Chí
                                                    Minh
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    {% endfor %}


                                </ul>




                            </div>
                            <!--              <div class="text-center p-4">
                                <div class="spinner-border text-secondary" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div> -->


                            <div class="py-3 text-center">
                                <a href="#" class=" button text-primary">Xem thêm</a>
                            </div>



                        </div>

                    </div>

                </div>


            </div>
            <div class="modal-footer text-center justify-content-center justify-content-around py-3 ng-scope"
                ng-if="Model.BrandUrl">
                <a href="#" class="button is-primary font-weight-bold is-round is-outlined is-link "
                    data-dismiss="modal">Đóng</a>

                <a href="single-ecommerce.html"
                    class="button is-primary font-weight-bold is-round is-outlined min-200">Xem chi tiết</a>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="modalCashbackCate" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-header align-items-center">
                <h3 class="modal-title font-weight-bold" id="">Danh mục hoàn tiền</h3>


                <button type="button" class="modal-close-btn close" data-dismiss="modal" aria-label="Close">
                    <svg class="svg-inline ">
                        <use xlink:href="svg/svg.svg#svg-error"></use>
                    </svg>
                </button>


            </div>
            <div class="modal-body px-0 py-0 bg-white ">

                <div class="list list-medium list-border-0 list-medium">
                    <ul>
                        {% for item in cashbackCat %}
                        {% if loop.index < 10 %}

                        <li class="">
                            <a href="category.html" class="item-content">
                                <div class="item-media">
                                    <img src="{{item.img}}" width="25" alt="">
                                </div>
                                <div class="item-inner">

                                    <div class="item-name">
                                        {{ item.title }}
                                    </div>
                                    <div class="item-after lutie-12">
                                        <svg class="svg-inline ">
                                            <use xlink:href="svg/svg.svg#svg-angle-right"></use>
                                        </svg>
                                    </div>
                                </div>
                            </a>
                        </li>

                        {% endif %}
                        {% endfor %}

                    </ul>
                </div>



            </div>

        </div>
    </div>
</div>





<div class="modal htu-modal modal__fullscreen fade " id="modalMobileTest" tabindex="-1" role="dialog"
    aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">

        <div class="modal-content">

            <div class="modal__header">

                <div class="modal__nav">
                    <a href="" data-dismiss="modal" aria-label="Đóng" class="modal__nav__btn">

                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-icon"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>

                    </a>
                </div>


                <div class="modal__title text-center text-truncate">
                   Tải ứng dụng ví MoMo
                </div>


                <div class="modal__nav">
                    <!-- <a href="" data-dismiss="modal" aria-label="Đóng" class="modal__nav__btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="svg-icon">
                            <line x1="18" y1="6" x2="6" y2="18"></line>
                            <line x1="6" y1="6" x2="18" y2="18"></line>
                        </svg>
                    </a> -->
                </div>

            </div>


            <div class="modal-body p-0">

                <div class="htu-modal-content ">


                    <div class="swiper-container htu-slider ">
                        <div class="swiper-wrapper ">

                            <div class="swiper-slide">

                                <div class="htu-slider-content">
                                    <div class="ht-mockup">


                                        <div class="htu-slider-mockup">
                                            <img data-src="https://static.mservice.io/img/momo-upload-api-tai-vi-1-190103160624.jpg"
                                                class="img-fluid d-block mx-auto swiper-lazy" alt="">

                                        </div>

                                        <div class="htu-slider-txt">
                                            <h3 class="htu-slider-title"> <strong>Bước 1/6 : </strong> Tải ứng dụng Ví
                                                MoMo
                                            </h3>
                                            <div class="htu-slider-body">
                                                Tải ứng dụng miễn phí bằng cách tìm kiếm từ khóa “vi momo” trên App
                                                Store
                                                hoặc Google Play Store.

                                                <br>
                                                Tải ứng dụng miễn phí bằng cách tìm kiếm từ khóa “vi momo” trên App
                                                Store
                                                hoặc Google Play Store.


                                                <br>
                                                Tải ứng dụng miễn phí bằng cách tìm kiếm từ khóa “vi momo” trên App
                                                Store
                                                hoặc Google Play Store.
                                            </div>

                                            <div class="mt-3  font-italic">

                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>

                            <div class="swiper-slide">

                                <div class="htu-slider-content">
                                    <div class="ht-mockup">
                                        <div class="htu-slider-mockup">
                                            <img data-src="https://static.mservice.io/img/momo-upload-api-2-190103153118.jpg"
                                                class="img-fluid d-block mx-auto swiper-lazy" alt="">

                                        </div>

                                        <div class="htu-slider-txt">
                                            <h3 class="htu-slider-title"> <strong>Bước 2/6 : </strong> Nhập số điện
                                                thoại
                                            </h3>
                                            <div class="htu-slider-body">
                                                Mở ứng dụng và nhập số điện thoại bạn muốn đăng ký Ví MoMo.
                                            </div>

                                            <div class="mt-3  font-italic">
                                                Lưu ý: Số điện thoại đăng kí Ví phải trùng với số điện thoại đăng kí
                                                Internet Banking của ngân hàng bạn muốn liên kết.
                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>

                            <div class="swiper-slide">

                                <div class="htu-slider-content">
                                    <div class="ht-mockup">
                                        <div class="htu-slider-mockup">
                                            <img data-src="https://static.mservice.io/img/momo-upload-api-3-190103153122.jpg"
                                                class="img-fluid d-block mx-auto swiper-lazy" alt="">

                                        </div>

                                        <div class="htu-slider-txt">
                                            <h3 class="htu-slider-title"> <strong>Bước 3/6 : </strong> Nhập mã xác thực
                                            </h3>
                                            <div class="htu-slider-body">
                                                Một tin nhắn chứa mã xác thực sẽ gửi trực tiếp đến số điện thoại của
                                                bạn.
                                                &lt;/br&gt; Vui lòng kiểm tra và nhập chính xác mã xác thực vào ô
                                                &quot;Nhập
                                                mã xác thực&quot; rồi nhấn &quot;Tiếp tục&quot;.
                                            </div>

                                            <div class="mt-3  font-italic">
                                                .
                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>

                            <div class="swiper-slide">

                                <div class="htu-slider-content">
                                    <div class="ht-mockup">
                                        <div class="htu-slider-mockup">
                                            <img data-src="https://static.mservice.io/img/momo-upload-api-4-190103153127.jpg"
                                                class="img-fluid d-block mx-auto swiper-lazy" alt="">

                                        </div>

                                        <div class="htu-slider-txt">
                                            <h3 class="htu-slider-title"> <strong>Bước 4/6 : </strong> Tạo mật khẩu đăng
                                                nhập </h3>
                                            <div class="htu-slider-body">
                                                Thiết lập mật khẩu để bảo vệ tài khoản Ví MoMo của bạn gồm 6 chữ số và
                                                mật
                                                khẩu ở 2 ô phải hoàn toàn giống nhau. &lt;/br&gt;
                                                Sau đó bấm &quot;Xác nhận&quot;.
                                            </div>

                                            <div class="mt-3  font-italic">

                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>

                            <div class="swiper-slide">

                                <div class="htu-slider-content">
                                    <div class="ht-mockup">
                                        <div class="htu-slider-mockup">
                                            <img data-src="https://static.mservice.io/img/momo-upload-api-5-190103153131.jpg"
                                                class="img-fluid d-block mx-auto swiper-lazy" alt="">

                                        </div>

                                        <div class="htu-slider-txt">
                                            <h3 class="htu-slider-title"> <strong>Bước 5/6 : </strong> Nhập thông tin
                                            </h3>
                                            <div class="htu-slider-body">
                                                Sau khi tạo mật khẩu đăng nhập thành công, bạn nhập thông tin cá nhân
                                                theo
                                                yêu cầu và nhấn &quot;Xác nhận&quot; để hoàn tất đăng ký.
                                            </div>

                                            <div class="mt-3  font-italic">

                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>


                        </div>
                        <!-- Add Pagination -->
                        <!-- <div class="swiper-pagination"></div> -->

                        <!-- Add Arrows -->


                        <div class="swiper-button-next swiper-button-white">
                            <svg viewBox="0 0 18 18" role="img" aria-label="Tiếp theo" focusable="false"
                                style="height: 10px; width: 10px; fill: currentcolor;">
                                <path
                                    d="m4.29 1.71a1 1 0 1 1 1.42-1.41l8 8a1 1 0 0 1 0 1.41l-8 8a1 1 0 1 1 -1.42-1.41l7.29-7.29z"
                                    fill-rule="evenodd"></path>
                            </svg>
                        </div>
                        <div class="swiper-button-prev swiper-button-white">
                            <svg viewBox="0 0 18 18" role="img" aria-label="Trước" focusable="false"
                                style="height: 10px; width: 10px; fill: currentcolor;">
                                <path
                                    d="m13.7 16.29a1 1 0 1 1 -1.42 1.41l-8-8a1 1 0 0 1 0-1.41l8-8a1 1 0 1 1 1.42 1.41l-7.29 7.29z"
                                    fill-rule="evenodd"></path>
                            </svg>
                        </div>

                    </div>


                </div>

            </div>

            <div class="modal-footer">

                <a href="" class="btn btn-primary-2 btn-block btn-lg">Tải ngay</a>

            </div>



        </div>
    </div>
</div>