<!-- <div class="topbar  {% if page == 'homepage' %} topbar-have-location {% endif %}"> -->
<div class="topbar topbar-have-location topbar-auto-hide" id="topbar">


    <div class="container  " style="background: #E4E5E9" id="location-select">
        <div class="payon">
            <div class="payon-trigger" id="loca-btn">
                <div class="location-select lutie-12 row no-gutters align-items-center">
                    <div class="col-auto">
                        <svg class="svg-inline text-primary mr-1">
                            <use xlink:href="svg/svg.svg#svg-map-marker-alt"></use>
                        </svg>

                    </div>
                    <div class="col ">
                        <div class="lutie-12 text-truncate mr-1">Chọn khu vực của bạn :
                            <span class="text-primary">Quận 7 TP. HCM</span>
                        </div>

                    </div>
                </div>
            </div>

            <div class="location-select-close" id="loca-select-close">
                <span class="lutie-14">
                    <svg class="svg-inline  text-secondary opacity-4">
                        <use xlink:href="svg/svg.svg#svg-error"></use>
                    </svg>
                </span>
            </div>


            <!-- <div class="payon-menu px-0 py-1 mt-0" style="display: block" role="menu" id="loca-pop">
                <div class="row no-gutters">
                    <div class="col">
                        <div class="px-2 position-relative">
                            <a href="#ve" class="link-absolute" id="loca-pop-btn"></a>
                            Vui lòng chọn khu vực của bạn để trải nghiệm
                            được tốt hơn. <span class="text-primary">Chọn ngay

                            </span>

                            <span class="lutie-10 text-primary">
                                <svg class="svg-inline ">
                                    <use xlink:href="svg/svg.svg#svg-angle-right"></use>
                                </svg>
                            </span>
                        </div>
                    </div>
                    <div class="col-auto">
                        <a href="#" class="d-block px-2" id="loca-pop-close">
                            <span class="lutie-18">
                                <svg class="svg-inline text-secondary opacity-4">
                                    <use xlink:href="svg/svg.svg#svg-error"></use>
                                </svg>
                            </span>
                        </a>
                    </div>
                </div>


            </div> -->

            <script>

                var locaPop = document.getElementById('loca-pop');
                var locaSelectClose = document.getElementById('loca-select-close');
                var locaSelect = document.getElementById('location-select');
                // var locaPopBtn = document.getElementById('loca-pop-btn');
                // var locaPopClose = document.getElementById('loca-pop-close');


                var topbar = document.getElementById("topbar");

                var locaBtn = document.getElementById('loca-btn');

                locaBtn.addEventListener("click", function (event) {
                    event.stopPropagation();
                    locaPop.classList.add("d-none");
                });

                /*    locaPopBtn.addEventListener("click", function (event) {
                       event.stopPropagation();
                       locaBtn.click();
                       locaPop.classList.add("d-none");
                   }); */
                /*      locaPopClose.addEventListener("click", function (event) {
                         event.stopPropagation();
                         locaPop.classList.add("d-none");
                         // locaSelect.classList.add("d-none");
                         // topbar.classList.remove("topbar-have-location");
                     }); */

                locaSelectClose.addEventListener("click", function (event) {
                    event.stopPropagation();
                    locaSelect.classList.add("d-none");
                    topbar.classList.remove("topbar-have-location");
                });
            </script>


            <div class="payon-menu p-3" id="dropdown-menu" role="menu">
                <div class="mb-2">
                    Chọn khu vực của bạn
                </div>


                <div class="dropdown mb-2 ">

                    <div class="input-group btn-group have-arrow-down ">

                        <button class="input dropdown-toggle text-left" type="button" id="dropdownTinhThanh"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">

                            TP. Hồ Chí Minh
                        </button>

                        <div class="dropdown-menu py-0 dropdown-menu-icon is-scroll" aria-labelledby="dropdownTinhThanh"
                            style="">
                            <div class="list is-simple list-border-0">
                                <ul class="d-flex flex-wrap">
                                    {% for item in range(0,12) %}

                                    <li class="w-50 {% if loop.index == 1 %} opacity-5  {% endif %}">
                                        <a href="#" class="">
                                            TP. Hồ Chí Minh
                                        </a>
                                    </li>

                                    <li class="w-50">
                                        <a href="#" class="">
                                            Nha Trang
                                        </a>
                                    </li>

                                    <li class="w-50">
                                        <a href="#" class="">
                                            Đà lạt
                                        </a>
                                    </li>


                                    {% endfor %}

                                </ul>
                            </div>





                        </div>


                    </div>

                </div>
                <div class="dropdown mb-2">

                    <div class="input-group btn-group have-arrow-down ">

                        <button class="input dropdown-toggle text-left" type="button" id="dropdownQuanHuyen"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">

                            Chọn Quận/ Huyện
                        </button>

                        <div class="dropdown-menu  is-scroll  py-0 dropdown-menu-icon"
                            aria-labelledby="dropdownQuanHuyen" style="">
                            <div class="list is-simple list-border-0">
                                <ul class="d-flex flex-wrap">
                                    {% for item in range(0,4) %}

                                    <li class="w-50 {% if loop.index == 1 %} opacity-5 {% endif %}">
                                        <a href="#" class="">
                                            Quận 1
                                        </a>
                                    </li>

                                    <li class="w-50">
                                        <a href="#" class="">
                                            Quận 2
                                        </a>
                                    </li>

                                    <li class="w-50">
                                        <a href="#" class="">
                                            Quận 3
                                        </a>
                                    </li>


                                    {% endfor %}

                                </ul>
                            </div>





                        </div>


                    </div>

                </div>
                <div>
                    <a href="" class="button is-primary is-fullwidth mb-2">Xác nhận</a>
                    <a href="" class="button is-secondary text-secondary is-outlined is-fullwidth bg-lightgray is-link">Xóa vị trí hiện tại
                        <svg class="svg-inline ml-2 va5">
                            <use xlink:href="svg/svg.svg#svg-error"></use>
                        </svg>
                    </a>
                </div>



            </div>
        </div>

    </div>

    <div class="container px-0  ">
        <div class="row no-gutters align-items-center topbar-content">
            <div class="col-auto position-static">
                <div class="topbar-left">
                    <a href="index.html" class="logo-momo" style="width: 44px;">
                        <!-- <img src="https://static.mservice.io/img/logo-momo.png" class="img-fluid" alt=""> -->
                        <img src="	https://static.mservice.io/images/s/momo-upload-api-191223115553-637126989530813964.png" class="img-fluid" alt="">
                    </a>
                </div>

            </div>
            <div class="col position-static">
                <div class="topbar-center">

                    <div class="search-topbar">
                        <div class="input-group search-topbar-input">

                            <input type="text" class="input border-0 search-topbar-input" placeholder="Bạn tìm gì">
                            <div class="input-group-icon">
                                <svg class="svg-inline svg  ">
                                    <use xlink:href="svg/svg.svg#svg-search"></use>
                                </svg>
                            </div>

                        </div>
                        
                        <div class="search-topbar-result">
                            <div class="dropdown-menu have-triangle show  d-none  ">
                                <a class="dropdown-item text-truncate" href="#">
                                    <svg class="svg-inline icon">
                                        <use xlink:href="svg/svg.svg#svg-momo-logo"></use>
                                    </svg>

                                    <span data-purpose="label"> Giới thiệu <strong class="">momo</strong> cho bạn bè
                                        nhận ngay 100,000Đd wd wd wd wd wd </span>

                                </a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>


                    </div>



                </div>
            </div>

            <div class="col-auto">
                <a class="animated tada infinite d-flex align-items-center justify-content-center px-2" href="https://momo.vn/lixi">
                    <img src="images/lacxi-icon.png" width="60" class="img-fluid" alt="">
    
                </a>
            </div>

            <div class="col-auto">
                <div class="topbar-right">

                    <a href="#modal-sidebar-box" data-toggle="modal" class="topbar-hamburge">
                        <svg class="svg-inline svg  ">
                            <use xlink:href="svg/svg.svg#svg-line-menu"></use>
                        </svg>
                    </a>


                </div>
            </div>
        </div>
    </div>
</div>