@import "style";
@import "widgets";
@import "color";
@import "responsive";

.rounded-img-blog {
  border-radius: 0.5rem;
}



@mixin text-row($num, $height) {
  max-height: $height * 1px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $num;
  -webkit-box-orient: vertical;
}

.blog-feature2 {
  margin-bottom: 30px;
  .entry-excerpt {
    @include text-row(2, 48);
  }
}

.embed-responsive-blog{
  &::before {
    padding-top: percentage(200/390);
  }
}

.blog-feature2-img {
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}




.blogs-logo {
  font-size: 60px;
  padding: 10px 0 20px;
  width: 100%;
}

.blog-header {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 10;
  overflow: hidden;

  transform: translate3d(0, 0, 0);
  color: #fff;
  background: #111;

  .entry-meta {
    color: #fff;
  }
}

.blog-header-content {
  overflow: hidden;

  backface-visibility: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;

  padding: 100px 6% 30px;

  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );

  background-size: cover;
  background-position: center;

  .entry-meta {
    margin-top: 30px;
  }

  a {
    color: #faff00;
    &:hover {
      color: lighten(#faff00, 8%) !important;
    }
  }
  .middotDivider::after {
    background: white !important;
  }
}

.blog-header-back {
  margin-top: 80px;
  font-size: 14px;
}

.blog-header-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: -1;
}

.blog-header-title {
  color: white;
  font-size: 34px;
  line-height: 1.2;
  transform: translate3d(0, 0, 0);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.2);
  font-weight: 400;
  font-family: "Lalezar", sans-serif;
}


.post-sidebar {
  .entry-title {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4;
    font-family: -apple-system, BlinkMacSystemFont, "Niramit", "Roboto", sans-serif;
  }
}

.breadcrumb {
  margin: 0;
  li {
    max-width: auto;
    width: auto;
  }
}

.blogs-cat {
  font-family: "Lalezar", "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  background: gray("300");
  padding: 10px 40px 5px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  border-radius: 10px;
  margin-bottom: 5px;
  margin-top: 30px;
  color:gray("900");
}

.post-cta{

}

.post-cta-text{
  font-size: inherit;
  text-decoration: underline;
  color: $blue;
  @include hover-focus(){
    color: darken($blue, 10%);
  }
}



.swiper-vt-new{
  .swiper-slide{
    max-width: 280px;
    height: auto;
  }
 
}
